<span class='product-title'>Compatible Trims:</span>
<ul class='accessorytab'>
    <li class='accessorytab'>
        <a href='/indoor-lighting/recessed-housings-trims/recessed-lighting-trims/120v-4-recessed-trims/120v-4-baffle-trim-c993-w/' target="_blank">
            <img src="https://cdn1.bigcommerce.com/server1000/tc515/products/851/images/6277/120V_4_Inch_Baffle_Recessed_Lighting_Trim_C993_W__74236.1394555793.1280.1280.jpg?c=1" alt="120V 4 Inch Baffle Recessed Lighting Trim C993-W">120V 4" Baffle Trim<br>C993-W</a>
        </li>
        <li class='accessorytab'>
            <a href='/indoor-lighting/recessed-housings-trims/recessed-lighting-trims/120v-4-recessed-trims/120v-4-reflector-trim-c999/' target="_blank">
                <img src="https://cdn1.bigcommerce.com/server1000/tc515/products/854/images/6275/120V_4_Inch_Reflector_Recessed_Lighting_Trim_C999__04906.1394497209.1280.1280.jpg?c=1" alt="120V 4 Inch Reflector Recessed Lighting Trim C999">120V 4" Reflector Trim<br>C999</a>
            </li>
            <li class='accessorytab'>
                <a href='/indoor-lighting/recessed-housings-trims/recessed-lighting-trims/120v-4-recessed-trims/120v-4-reflector-airtight-trim-c910at/' target="_blank">
                    <img src="https://cdn1.bigcommerce.com/server1000/tc515/products/853/images/6276/120V_4_Inch_Airtight_Reflector_Recessed_Lighting_Trim_C910AT__10093.1394497498.1280.1280.jpg?c=1" alt="120V 4 Inch Reflector Air Tight Recessed Lighting Trim C910AT">120V 4" Reflector AirTight Trim<br>C910AT</a>
                </li>
                <li class='accessorytab'>
                    <a href='/indoor-lighting/recessed-housings-trims/recessed-lighting-trims/120v-4-recessed-trims/120v-4-adjustable-reflector-trim-c978/' target="_blank">
                        <img src="https://cdn1.bigcommerce.com/server1000/tc515/products/855/images/6274/120V_4_Inch_Adjustable_Reflector_Recessed_Lighting_Trim_C978__23855.1394496950.1280.1280.jpg?c=1" alt="120V 4 Inch Adjustable Reflector Recessed Lighting Trim C978">120V 4" Adjustable Reflector Trim<br>C978</a>
                    </li>
                    <li class='accessorytab'>
                        <a href='/indoor-lighting/recessed-housings-trims/recessed-lighting-trims/120v-4-recessed-trims/120v-4-wall-wash-trim-c901/' target="_blank">
                            <img src="https://cdn1.bigcommerce.com/server1000/tc515/products/856/images/6273/120V_4_Inch_Wall_Wash_Recessed_Lighting_Trim_C901__72837.1394496745.1280.1280.jpg?c=1" alt="120V 4 Inch Wall Wash Recessed Lighting Trim C901">120V 4" Wall Wash Trim<br>C901</a>
                        </li>
                        <li class='accessorytab'>
                            <a href='/indoor-lighting/recessed-housings-trims/recessed-lighting-trims/120v-4-recessed-trims/120v-4-adjustable-eyeball-trim-c998/' target="_blank">
                                <img src="https://cdn1.bigcommerce.com/server1000/tc515/products/857/images/6272/120V_4_Inch_Adjustable_Eyeball_Recessed_Lighting_Trim_C998__10165.1394496530.1280.1280.jpg?c=1" alt="120V 4 Inch Adjustable Eyeball Recessed Lighting Trim C998">120V 4" Adjustable Eyeball Trim<br>C998</a>
                            </li>
                            <li class='accessorytab'>
                                <a href='/indoor-lighting/recessed-housings-trims/recessed-lighting-trims/120v-4-recessed-trims/120v-4-clear-glass-shower-trim-c954/' target="_blank">
                                    <img src="https://cdn1.bigcommerce.com/server1000/tc515/products/859/images/6270/120V_4_Inch_Clear_Glass_Shower_Recessed_Lighting_Trim_with_Reflector_C954__43621.1394495752.1280.1280.jpg?c=1" alt="120V 4 Inch Clear Glass Shower Recessed Lighting Trim C954">120V 4" Clear Glass Shower Trim<br>C954</a>
                                </li>
                                <li class='accessorytab'>
                                    <a href='/indoor-lighting/recessed-housings-trims/recessed-lighting-trims/120v-4-recessed-trims/120v-4-gimbal-trim-c461/' target="_blank">
                                        <img src="https://cdn1.bigcommerce.com/server1000/tc515/products/858/images/6271/120V_4_Inch_Adjustable_Gimbal_Recessed_Lighting_Trim_C461__25541.1394496025.1280.1280.jpg?c=1" alt="120V 4 Inch Gimbal Recessed Lighting Trim C461">120V 4" Gimbal Trim<br>C961</a>
                                    </li>
                                    <li class='accessorytab'>
                                        <a href='/indoor-lighting/recessed-housings-trims/recessed-lighting-trims/120v-4-recessed-trims/120v-4-fresnel-lens-trim-c933/' target="_blank">
                                            <img src="https://cdn1.bigcommerce.com/server1000/tc515/products/998/images/6269/120V_4_Inch_Fresnel_Lens_Recessed_Lighting_Trim_C900__62673.1394495464.1280.1280.jpg?c=1" alt="120V 4 Inch Fresnel Lens Recessed Lighting Trim C933">120V 4" Fresnel Lens Trim<br>C933</a>
                                        </li>
                                        <li class='accessorytab'>
                                            <a href='/indoor-lighting/recessed-housings-trims/recessed-lighting-trims/120v-4-recessed-trims/120v-4-albalite-shower-trim-c900/' target="_blank">
                                                <img src="https://cdn1.bigcommerce.com/server1000/tc515/products/999/images/6267/120V_4_Inch_Albalite_Shower_Recessed_Lighting_Trim_C900__61333.1394495257.1280.1280.jpg?c=1" alt="120V 4 Inch Albalite Shower Recessed Lighting Trim C900">120V 4" Albalite Shower Trim<br>C900</a>
                                            </li>
                                        </ul>​