<span class='product-title'>Compatible Trims:</span>
<ul class='accessorytab'>
	<li class='accessorytab'><a href='/indoor-lighting/recessed-housings-trims/recessed-lighting-trims/120v-6-sloped-recessed-trim/120v-6-slope-par30-baffle-trim-cst1/' target="_blank"><img src="https://www.aqlightinggroup.com/product_images/h/578/cst1_slope_baffle_88548.1362274282.1280.1280_72545.1368749494.1280__83081.jpg" alt="120V 6 Inch Slope PAR30 Baffle Trim CST1">120V 6" Slope PAR30 Baffle Trim<br>CST1</a></li>
	<li class='accessorytab'><a href='/indoor-lighting/recessed-housings-trims/recessed-lighting-trims/120v-6-sloped-recessed-trim/120v-mr16-6-adjustable-slope-trim-cst4/' target="_blank"><img src="https://www.aqlightinggroup.com/product_images/z/636/cst4_adjustable_spot_48861.1362287113.1280.1280_42797.1368749551.1280__28892.jpg" alt="120V PAR16 6 Inch Adjustable Slope Trim CST4">120V PAR16 6" Adjustable Slope Trim<br>CST4</a></li>
</ul>
