<span class='product-title'>Compatible Housings:</span>
<ul class='accessorytab'>
	<li class='accessorytab'>
		<a href='/indoor-lighting/recessed-housings-trims/120v-recessed-cans/120v-5-ic-rated-remodel-can-c5ricat/' target="_blank">
			<img src="http://cdn1.bigcommerce.com/server1000/tc515/products/659/images/6265/120V_5_Inch_IC_Rated_Remodel_Recessed_Can_Housing_C5RICAT__81534.1394494043.1280.1280.jpg?c=1" alt="120V 5 Inch IC-Rated Remodel Recessed Can Housing C5RICAT">120V 5" IC-Rated Remodel Can<br>C5RICAT</a>
		</li>
		<li class='accessorytab'>
			<a href='/indoor-lighting/recessed-housings-trims/120v-recessed-cans/120v-5-ic-rated-new-work-can-b5ic-at/' target="_blank">
				<img src="https://cdn1.bigcommerce.com/server1000/tc515/products/660/images/6266/120V_5_Inch_IC_Rated_New_Work_Recessed_Can_Housing_B5IC_AT__13421.1394494158.1280.1280.jpg?c=1" alt="120V 5 Inch IC-Rated New Work Recessed Can Housing B5IC-AT">120V 5" IC-Rated New Work Can<br>B5IC-AT</a>
			</li>
		</ul>​
