<span class='product-title'>Compatible Trims:</span>
<ul class='accessorytab'>
	<li class='accessorytab'><a href='/indoor-lighting/recessed-housings-trims/recessed-lighting-trims/120v-4-recessed-trims/120v-4-baffle-trim-c993-w/' target="_blank"><img src="https://www.affordablequalitylighting.com/product_images/x/677/120V_4_Inch_Baffle_Recessed_Lighting_Trim_C993_W__74236.jpg" alt="120V 4 Inch Baffle Trim C993-W">120V 4" Baffle Trim<br>C993-W</a></li>
	<li class='accessorytab'><a href='/indoor-lighting/recessed-housings-trims/recessed-lighting-trims/120v-4-recessed-trims/120v-4-reflector-trim-c999/' target="_blank"><img src="https://www.affordablequalitylighting.com/product_images/w/093/120V_4_Inch_Reflector_Recessed_Lighting_Trim_C999__04906.jpg" alt="120V 4 Inch Reflector Trim C999">120V 4" Reflector Trim<br>C999</a></li>
</ul>
​