<span class='product-title'>Compatible Housings:</span>
<ul class='accessorytab'>
    <li class='accessorytab'>
        <a href='/indoor-lighting/recessed-housings-trims/low-voltage-recessed-cans/12v-3-non-ic-remodel-can-chm3r-at/' target="_blank">
            <img src="https://cdn1.bigcommerce.com/server1000/tc515/products/978/images/6240/12V_3_Inch_Remodel_Non_IC_Rated_Recessed_Lighting_Can_CHM3R_AT__28423.1394474672.1280.1280.jpg?c=1" alt="12V 3 Inch Non-IC Remodel Recessed Can Housing CHM3R-AT">12V 3" Non-IC Remodel Can
            <br>CHM3R-AT</a>
    </li>
    <li class='accessorytab'>
        <a href='/indoor-lighting/recessed-housings-trims/low-voltage-recessed-cans/12v-3-non-ic-new-work-can-chm3t/' target="_blank">
            <img src="https://cdn1.bigcommerce.com/server1000/tc515/products/618/images/6241/12V_3_Inch_Non_IC_New_Work_Recessed_Can_CHM3T__27731.1394474993.1280.1280.jpg?c=1" alt="12V 3 Inch Non-IC New Work Recessed Can Housing CHM3T">12V 3" Non-IC New Work Can
            <br>CHM3T</a>
    </li>
    <li class='accessorytab'>
        <a href='/indoor-lighting/recessed-housings-trims/low-voltage-recessed-cans/12v-3-ic-rated-new-work-can-chm3icta/' target="_blank">
            <img src="https://cdn1.bigcommerce.com/server1000/tc515/products/620/images/6242/12V_3_Inch_New_Work_Air_Tight_IC_Rated_Recessed_Housing_CHM3ICTA__67092.1394475383.1280.1280.jpg?c=1" alt="12V 3 Inch IC-Rated New Work Recessed Can Housing CHM3ICTA">12V 3" IC-Rated New Work Can
            <br>CHM3ICTA</a>
    </li>
</ul>​
