<span class='product-title'>Compatible Trims:</span>
<ul class='accessorytab'>
    <li class='accessorytab'>
        <a href='/indoor-lighting/recessed-housings-trims/recessed-lighting-trims/12v-4-recessed-trims/12v-4-stepped-baffle-trim-c1419/' target="_blank"> <img src="https://cdn1.bigcommerce.com/server1000/tc515/products/820/images/6248/12V_4_Inch_Stepped_Baffle_Recessed_Lighting_Trim_C1419__48762.1394479581.1280.1280.jpg?c=1" alt="12V 4 Inch Stepped Baffle Recessed Trim C1419">12V 4" Stepped Baffle Trim
            <br> C1419
        </a>
    </li>
    <li class='accessorytab'>
        <a href='/indoor-lighting/recessed-housings-trims/recessed-lighting-trims/12v-4-recessed-trims/12v-4-reflector-trim-c1421/' target="_blank"> <img src="https://cdn1.bigcommerce.com/server1000/tc515/products/839/images/6249/12V_4_Inch_Reflector_Recessed_Lighting_Trim_C1421__19039.1394480261.1280.1280.jpg?c=1" alt="12V 4 Inch Reflector Recessed Lighting Trim C1421">12V 4" Reflector Trim
            <br> C1421
        </a>
    </li>
    <li class='accessorytab'>
        <a href='/indoor-lighting/recessed-housings-trims/recessed-lighting-trims/12v-4-recessed-trims/12v-4-slot-recessed-trim-c1420/' target="_blank"> <img src="https://cdn1.bigcommerce.com/server1000/tc515/products/821/images/6250/12V_4_Inch_Slot_Recessed_Lighting_Trim_C1420__04163.1394480626.1280.1280.jpg?c=1" alt="12V 4 Inch Slot Recessed Lighting Trim C1420">12V 4" Slot Recessed Trim
            <br> C1420
        </a>
    </li>
    <li class='accessorytab'>
        <a href='/indoor-lighting/recessed-housings-trims/recessed-lighting-trims/12v-4-recessed-trims/12v-4-adjustable-wall-wash-with-reflector-trim-c1405/' target="_blank"> <img src="https://cdn1.bigcommerce.com/server1000/tc515/products/1533/images/6251/12V_4_Inch_Adjustable_Wall_Wash_with_Reflector_Recessed_Lighting_Trim_C1405__92233.1394480952.1280.1280.jpg?c=1" alt="12V 4 Inch Adjustable Wall Wash with Reflector Recessed Lighting Trim C1405">12V 4" Adjustable Wall Wash w/ Reflector Trim
            <br> C1405
        </a>
    </li>
    <li class='accessorytab'>
        <a href='/indoor-lighting/recessed-housings-trims/recessed-lighting-trims/12v-4-recessed-trims/12v-4-wall-wash-trim-c1404/' target="_blank"> <img src="https://cdn1.bigcommerce.com/server1000/tc515/products/822/images/6252/12V_4_Inch_Wall_Wash_Recessed_Lighting_Trim_C1404__10408.1394481362.1280.1280.jpg?c=1" alt="12V 4 Inch Wall Wash Recessed Lighting Trim C1404">12V 4" Wall Wash Trim
            <br> C1404
        </a>
    </li>
    <li class='accessorytab'>
        <a href='/indoor-lighting/recessed-housings-trims/recessed-lighting-trims/12v-4-recessed-trims/12v-4-adjustable-eye-trim-c1401/' target="_blank"> <img src="https://cdn1.bigcommerce.com/server1000/tc515/products/824/images/6253/12V_4_Inch_Adjustable_Eye_Recessed_Lighting_Trim_C1401__37402.1394481619.1280.1280.jpg?c=1" alt="12V 4 Inch Adjustable Eye Recessed Lighting Trim C1401">12V 4" Adjustable Eye Trim
            <br> C1401
        </a>
    </li>
    <li class='accessorytab'>
        <a href='/indoor-lighting/recessed-housings-trims/recessed-lighting-trims/12v-4-recessed-trims/12v-4-retractable-trim-c1400/' target="_blank"> <img src="https://cdn1.bigcommerce.com/server1000/tc515/products/825/images/6254/12V_4_Inch_Retractable_Recessed_Lighting_Trim_C1400__51492.1394481920.1280.1280.jpg?c=1" alt="12V 4 Inch Retractable Recessed Lighting Trim C1400">12V 4" Retractable Trim
            <br> C1400
        </a>
    </li>
    <li class='accessorytab'>
        <a href='/indoor-lighting/recessed-housings-trims/recessed-lighting-trims/12v-4-recessed-trims/12v-4-pinhole-baffle-trim-c1418/' target="_blank"> <img src="https://cdn1.bigcommerce.com/server1000/tc515/products/826/images/6255/12V_4_Inch_Pinhole_Baffle_Recessed_Lighting_Trim_C1418__68556.1394482165.1280.1280.jpg?c=1" alt="12V 4 Inch Pinhole Baffle Recessed Lighting Trim C1418">12V 4" Pinhole Baffle Trim
            <br> C1418
        </a>
    </li>
    <li class='accessorytab'>
        <a href='/indoor-lighting/recessed-housings-trims/recessed-lighting-trims/12v-4-recessed-trims/12v-4-surface-adjustable-trim-c1407/' target="_blank"> <img src="https://cdn1.bigcommerce.com/server1000/tc515/products/1001/images/6256/12V_4_Inch_Surface_Adjustable_Recessed_Lighting_Trim_C1407__76666.1394482297.1280.1280.jpg?c=1" alt="12V 4 Inch Surface Adjustable Recessed Lighting Trim C1407">12V 4" Surface Adjustable Trim
            <br> C1407
        </a>
    </li>
    <li class='accessorytab'>
        <a href='/indoor-lighting/recessed-housings-trims/recessed-lighting-trims/12v-4-recessed-trims/12v-4-gimbal-w-baffle-trim-c1468/' target="_blank"> <img src="https://cdn1.bigcommerce.com/server1000/tc515/products/827/images/6257/12V_4_Inch_Gimbal_with_Baffle_Recessed_Lighting_Trim_C1468__89849.1394482753.1280.1280.jpg?c=1" alt="12V 4 Inch Gimbal with Baffle Recessed Lighting Trim C1468">12V 4" Gimbal w/ Baffle Trim
            <br> C1468
        </a>
    </li>
    <li class='accessorytab'>
        <a href='/indoor-lighting/recessed-housings-trims/recessed-lighting-trims/12v-4-recessed-trims/12v-4-gimbal-trim-c1461/' target="_blank"> <img src="https://cdn1.bigcommerce.com/server1000/tc515/products/823/images/6258/12V_4_Inch_Gimbal_Recessed_Lighting_Trim_C1461__17582.1394483007.1280.1280.jpg?c=1" alt="12V 4 Inch Gimbal Recessed Lighting Trim C1461">12V 4" Gimbal Trim
            <br> C1461
        </a>
    </li>
    <li class='accessorytab'>
        <a href='/indoor-lighting/recessed-housings-trims/recessed-lighting-trims/12v-4-recessed-trims/12v-4-accent-glass-trim-c1442/' target="_blank"> <img src="https://cdn1.bigcommerce.com/server1000/tc515/products/828/images/6259/12V_4_Inch_Accent_Glass_Recessed_Lighting_Trim_C1442__33785.1394483253.1280.1280.jpg?c=1" alt="12V 4 Inch Accent Glass Recessed Lighting Trim C1442">12V 4" Accent Glass Trim
            <br> C1442
        </a>
    </li>
    <li class='accessorytab'>
        <a href='/indoor-lighting/recessed-housings-trims/recessed-lighting-trims/12v-4-recessed-trims/12v-4-glass-trim-c1453/' target="_blank"> <img src="https://cdn1.bigcommerce.com/server1000/tc515/products/830/images/6260/12V_4_Inch_Glass_Recessed_Lighting_Trim_C1453__58904.1394486215.1280.1280.jpg?c=1" alt="12V 4 Inch Glass Recessed Lighting Trim C1453">12V 4" Glass Trim
            <br> C1453
        </a>
    </li>
    <li class='accessorytab'>
        <a href='/indoor-lighting/recessed-housings-trims/recessed-lighting-trims/12v-4-recessed-trims/12v-4-glass-accent-trim-c1452/' target="_blank"> <img src="https://cdn1.bigcommerce.com/server1000/tc515/products/829/images/6261/12V_4_Inch_Glass_Accent_Recessed_Lighting_Trim_C1452__48958.1394486440.1280.1280.jpg?c=1" alt="12V 4 Inch Glass Accent Recessed Lighting Trim C1452">12V 4" Glass Accent Trim
            <br> C1452
        </a>
    </li>
    <li class='accessorytab'>
        <a href='/indoor-lighting/recessed-housings-trims/recessed-lighting-trims/12v-4-recessed-trims/12v-4-reflector-clear-glass-trim-c1411/' target="_blank"> <img src="https://cdn1.bigcommerce.com/server1000/tc515/products/831/images/6262/12V_4_Inch_Clear_Glass_Reflector_Recessed_Lighting_Trim_C1411__91995.1394486719.1280.1280.jpg?c=1" alt="12V 4 Inch Clear Glass Reflector Recessed Lighting Trim C1411">12V 4" Clear Glass Reflector Trim
            <br> C1411
        </a>
    </li>
    <li class='accessorytab'>
        <a href='/indoor-lighting/recessed-housings-trims/recessed-lighting-trims/12v-4-recessed-trims/12v-4-frosted-shower-trim-c1412/' target="_blank"> <img src="https://cdn1.bigcommerce.com/server1000/tc515/products/832/images/6263/12V_4_Inch_Frosted_Glass_Recessed_Lighting_Trim_C1412__89404.1394488048.1280.1280.jpg?c=1" alt="12V 4 Inch Frosted Shower Recessed Lighting Trim C1412">12V 4" Frosted Shower Trim
            <br> C1412
        </a>
    </li>
    <li class='accessorytab'>
        <a href='/indoor-lighting/recessed-housings-trims/recessed-lighting-trims/12v-4-recessed-trims/12v-4-square-recessed-gimbal-trim-b1481/' target="_blank"> <img src="https://cdn1.bigcommerce.com/server1000/tc515/products/1506/images/6264/12V_4_Inch_Square_Adjustable_Gimbal_Recessed_Lighting_Trim_B1481__30123.1394488227.1280.1280.jpg?c=1" alt="12V 4 Inch Square Recessed Gimbal Recessed Lighting Trim B1481">12V 4" Square Recessed Gimbal Trim
            <br> B1481
        </a>
    </li>
</ul>
​