<span class='product-title'>Accessories:</span>
<ul class='accessorytab'>
    <li class='accessorytab'>
        <a href='/rope-light/ropelight-accessories/cords-connectors/1-2-12v-rope-light-power-cord-ra6p-12v/' target="_blank"><img src="https://www.aqlightinggroup.com/product_images/uploaded_images/12v-2-wire-rope-light-power-cord.jpg" alt="1/2 Inch Rope Light Power Cord RA6P-12V">Power Cord</a>
    </li>
    <li class='accessorytab'>
        <a href='/rope-light/ropelight-accessories/cords-connectors/1-2-2-wire-rope-light-plug-connector/' target="_blank"><img src="https://www.aqlightinggroup.com/product_images/uploaded_images/2-wire-rope-light-power-connector2.jpg" alt="1/2 Inch 2 Wire Rope Light Plug Connector">Power Connector</a>
    </li>
    <li class='accessorytab'>
        <a href='/rope-light/ropelight-accessories/cords-connectors/1-2-2-wire-rope-light-invisible-splice-connector/' target="_blank"><img src="https://www.aqlightinggroup.com/product_images/uploaded_images/2-wire-rope-light-invisible-splice-connector2.jpg" alt="1/2 Inch 2 Wire Splice Connector">Splice Connector</a>
    </li>
    <li class='accessorytab'>
        <a href='/rope-light/ropelight-accessories/cords-connectors/1-2-invisible-rope-light-t-connector/' target="_blank"><img src="https://www.aqlightinggroup.com/product_images/uploaded_images/2-wire-rope-light-invisible-t-connector.jpg" alt="1/2 Inch 2 Wire Invisible T Connector">Invisible T Connector</a>
    </li>
    <li class='accessorytab'>
        <a href='/rope-light/ropelight-accessories/cords-connectors/1-2-rope-light-end-cap/' target="_blank"><img src="https://www.aqlightinggroup.com/product_images/uploaded_images/half-inch-rope-light-end-cap.jpg" alt="1/2 Inch Rope Light End Cape">End Cap</a>
    </li>
    <li class='accessorytab'>
        <a href='/rope-light/ropelight-accessories/cords-connectors/1-2-2-wire-jumper/' target="_blank"><img src="https://www.aqlightinggroup.com/product_images/uploaded_images/2-wire-rope-light-jumper-extension-cable.jpg" alt="1/2 Inch 2 Wire Jumper">Jumper</a>
    </li>
    <li class='accessorytab'>
        <a href='/rope-light/ropelight-accessories/cords-connectors/1-2-12v-2-wire-multi-connector/' target="_blank"><img src="https://www.aqlightinggroup.com/product_images/uploaded_images/12v-2-wire-rope-light-motherline-multi-connector.jpg" alt="1/2 Inch 12V 2 Wire Multi Connector">Multi Connector</a>
    </li>
    <li class='accessorytab'>
        <a href='/rope-light/ropelight-accessories/mounting/1-2-mounting-clips/' target="_blank"><img src="https://www.aqlightinggroup.com/product_images/uploaded_images/half-inch-rope-light-invisible-plastic-mounting-clips.jpg" alt="1/2 Inch Mounting Clips">Mounting Clips</a>
    </li>
    <li class='accessorytab'>
        <a href='/rope-light/ropelight-accessories/mounting/1-2-channel/' target="_blank"><img src="https://www.aqlightinggroup.com/product_images/uploaded_images/half-inch-diameter-rope-light-clear-plastic-mounting-channel.jpg" alt="1/2 Inch Channel">Mounting Channel</a>
    </li>
</ul>
