<span class='product-title'>Accessories:</span>
<ul class='accessorytab'>
    <li class='accessorytab'>
        <a href='/rope-light/ropelight-accessories/cords-connectors/1-2-120v-2-wire-rope-light-power-cord-ra6p/' target="_blank"><img src="https://cdn2.bigcommerce.com/server1000/tc515/products/872/images/4401/120v_Rope_Light_Power_Cord__75677.1368641231.1280.1280.png?c=2" alt="1/2 Inch 120V 2 Wire Rope Light Power Cord RA6P">Power Cord</a>
    </li>
    <li class='accessorytab'>
        <a href='/rope-light/ropelight-accessories/cords-connectors/1-2-2-wire-rope-light-plug-connector/' target="_blank"><img src="https://cdn1.bigcommerce.com/server1000/tc515/products/880/images/3622/Rope7b__45456.1365450908.1280.1280.jpg?c=2" alt="1/2 Inch 120V 2 Wire Rope Light Plug Connector">Power Connector</a>
    </li>
    <li class='accessorytab'>
        <a href='/rope-light/ropelight-accessories/cords-connectors/1-2-2-wire-rope-light-invisible-splice-connector/' target="_blank"><img src="https://cdn1.bigcommerce.com/server1000/tc515/products/874/images/3626/3_8_rope_light_Invi_splice_92772.1364011349.1280.1280__91768.1365451253.1280.1280.jpg?c=2" alt="1/2 Inch 2 Wire Rope Light Invisible Splice Connector">Invisible Splice</a>
    </li>
    <li class='accessorytab'>
        <a href='/rope-light/ropelight-accessories/cords-connectors/1-2-2-wire-splice-connector/' target="_blank"><img src="https://cdn1.bigcommerce.com/server1000/tc515/products/865/images/3630/1_2_rope_light_splice_conn_38218.1364026003.1280.1280__55276.1365451573.1280.1280.jpg?c=2" alt="1/2 Inch 2 Wire Splice Connector">Splice Connector</a>
    </li>
    <li class='accessorytab'>
        <a href='/rope-light/ropelight-accessories/cords-connectors/1-2-2-wire-t-connector/' target="_blank"><img src="https://cdn1.bigcommerce.com/server1000/tc515/products/866/images/3640/1_2_rope_light_T_Connector_11747.1364024130.1280.1280__30124.1365452451.1280.1280.jpg?c=2" alt="1/2 Inch 2 Wire T Connector">T Connector</a>
    </li>
    <li class='accessorytab'>
        <a href='/rope-light/ropelight-accessories/cords-connectors/1-2-rope-light-end-cap/' target="_blank"><img src="https://cdn1.bigcommerce.com/server1000/tc515/products/873/images/3638/Rope5b__31532.1365452188.1280.1280.jpg?c=2" alt="1/2 Inch Rope Light End Cap">End Cap</a>
    </li>
    <li class='accessorytab'>
        <a href='/rope-light/ropelight-accessories/cords-connectors/1-2-2-wire-jumper/' target="_blank"><img src="https://cdn1.bigcommerce.com/server1000/tc515/products/875/images/3648/Rope1b__38771.1365453012.1280.1280.jpg?c=2" alt="1/2 Inch 2 Wire Jumper">Jumper</a>
    </li>
    <li class='accessorytab'>
        <a href='/rope-light/ropelight-accessories/cords-connectors/1-2-120v-2-wire-multi-connector/' target="_blank"><img src="https://cdn1.bigcommerce.com/server1000/tc515/products/877/images/3645/1_2_rope_light_multi_power_cord_31520.1364077115.1280.1280__55610.1365452760.1280.1280.jpg?c=2" alt="1/2 Inch 120V 2 Wire Multi Connector">Multi Connector</a>
    </li>
    <li class='accessorytab'>
        <a href='/rope-light/ropelight-accessories/mounting/1-2-mounting-clips/' target="_blank"><img src="https://cdn1.bigcommerce.com/server1000/tc515/products/881/images/3652/Rope6b__00864.1365453642.1280.1280.jpg?c=2" alt="1/2 Inch Mounting Clips">Mounting Clips</a>
    </li>
    <li class='accessorytab'>
        <a href='/rope-light/ropelight-accessories/mounting/3-8-rope-light-plastic-mounting-channel-ra2c/' target="_blank"><img src="https://cdn1.bigcommerce.com/server1000/tc515/products/894/images/13179/ra2c_38__36128.1458599971.1280.1280.jpg?c=2" alt="1/2 Inch Channel">Mounting Channel</a>
    </li>
</ul>
