<span class='product-title'>Power Cords and Connectors:</span>
<ul class='accessorytab'>
    <li>
        <a href="https://www.affordablequalitylighting.com/products.php?product=Hardwire-Junction-Box-%252d-ALC%252dBOX" target="_blank"><img src="https://www.affordablequalitylighting.com/product_images/uploaded_images/ALC2/ALC-BOX-Hardwire-Junction-Box-in-Dark-Bronze.jpg" alt="Hardwire Junction Box in Dark Bronze">Hardwire Junction Box</a>
    </li>
    <li>
        <a href="https://www.affordablequalitylighting.com/indoor-lighting/indoor-accessories/6-120v-ac-black-power-cord-for-alc-fixtures-alc-pc6/" target="_blank"><img src="https://www.affordablequalitylighting.com/product_images/uploaded_images/ALC2/ALC-PC6-6ft-120V-AC-Grounded-Power-Cord-in-Black.jpg" alt="Black 6 Foot Power Cord">Black Power Cord</a>
    </li>
    <li>
        <a href="https://www.affordablequalitylighting.com/indoor-lighting/indoor-accessories/6-120v-ac-white-power-cord-for-alc-fixtures-alc-pc6/" target="_blank"><img src="https://www.affordablequalitylighting.com/product_images/uploaded_images/ALC2/ALC-PC6-6ft-120V-AC-Grounded-Power-Cord-in-White.jpg" alt="White 6 Foot Power Cord">White Power Cord</a>
    </li>
    <li>
        <a href="https://www.affordablequalitylighting.com/indoor-lighting/indoor-accessories/6-black-linking-jumper-cable-for-alc-fixtures-alc-ex6/" target="_blank"><img src="https://www.affordablequalitylighting.com/product_images/uploaded_images/ALC2/ALC-EX6-Jumper-Linking-Cable-in-Black.jpg" alt="6 Inch Black Linking Jumper Cable">6" Black Linker Cable</a>
    </li>
    <li>
        <a href="https://www.affordablequalitylighting.com/indoor-lighting/indoor-accessories/6-white-linking-jumper-cable-for-alc-fixtures-alc-ex6/" target="_blank"><img src="https://www.affordablequalitylighting.com/product_images/uploaded_images/ALC2/ALC-EX6-Jumper-Linking-Cable-in-White.jpg" alt="6 Inch White Linking Jumper Cable">6" White Linker Cable</a>
    </li>
    <li>
        <a href="https://www.affordablequalitylighting.com/indoor-lighting/indoor-accessories/12-black-linking-jumper-cable-for-alc-fixtures-alc-ex12/" target="_blank"><img src="https://www.affordablequalitylighting.com/product_images/uploaded_images/ALC2/ALC-EX6-Jumper-Linking-Cable-in-Black.jpg" alt="12 Inch Black Linking Jumper Cable">12" Black Linker Cable</a>
    </li>
    <li>
        <a href="https://www.affordablequalitylighting.com/indoor-lighting/indoor-accessories/12-white-linking-jumper-cable-for-alc-fixtures-alc-ex12/" target="_blank"><img src="https://www.affordablequalitylighting.com/product_images/uploaded_images/ALC2/ALC-EX6-Jumper-Linking-Cable-in-White.jpg" alt="12 Inch White Linking Jumper Cable">12" White Linker Cable</a>
    </li>
</ul>
