<div style="text-align: center">
    <span class='product-title' align="center">AQUCCPK SERIES LED UNDER CABINET PUCK LIGHT</span>
    <br> For Recessed or Surface Mount
</div>
<br>
<b>CAUTION:</b> These products may represent a possible shock or fire hazard if improperly installed or attached in any way. Products should be installed in accordance with these instructions, current electrical codes and/or the current National Electric Code (NEC).
<br> NOTE: Bulb is not replaceable.
<br>
<br>
<span class='product-title'>Surface Mounting:</span>
<ol>
    <li>Locate desired position for the cabinet light.</li>
    <li>Mount surface ring with the two wood screws provided. Position the surface ring so that the two notches are aligned parallel with the front edge of the cabinet.</li>
    <li>Feed the attached wire(s) of the cabinet light through the notches and push light housing into the surface.</li>
    <li>For multiple lights in one run, connect the wires using interconnect wire joiners (sold separately). Add additional interconnect wires (sold separately) as required to allow longer spacing between lights.</li>
    <li>Use lights with two attached wires in the middle of the run, and use a light with one attached wire at the end of the run opposite the power source.</li>
    <li>Connect the light nearest the power source to either a plug in power cord or connect to a wiring compartment (sold separately) for hard wire installations.</li>
    <li>Can be used for hardware installation inside built-in furnishings such as kitchen cabinets or trophy cases.</li>
    <li>Do not conceal power supply cord (or power supply) inside a wall, ceilings or floors. Do not route wires through walls.</li>
</ol>
<img class="lrgimg" src="https://www.aqlightinggroup.com/product_images/uploaded_images/AQUCCPK10-Surface-Mount-Diagram.jpg" alt="AQUCCPK10 Surface Mount Diagram">
<br>
<br>
<span class='product-title'>Recessed Mounting:</span>
<ol>
    <li>Drill a 2 5/16" hole in the desired location</li>
    <li>Do not use surface ring for recessed applications</li>
    <li>Feed wires through hole and push light housing into hole. Make sure there is no contact between the hot lamp, lamp-holder or reflector and the wire or any combustible material such as plastic or paper goods. Sure the light supply leads to avoid the likelihood of the leads contacting the cabinet light.</li>
    <li>For multiple lights in one run, connect the wires using interconnect wire joiners (sold separately). Add additional interconnect wires (sold separately) as required to allow longer spacing between lights.</li>
    <li>Use lights with two attached wires in the middle of the run, and use a light with one attached wire at the end of the run opposite the power source.</li>
    <li>Connect the light nearest the power source to either a cord and plug (sold separately) for plug in installations or connect to a wiring compartment (sold separately) for hard wire installations.</li>
    <li><b>CAUTION:</b> Do not route wires and extension cords through walls. Use for external cabinet applications only.</li>
    <li>Can be used for hardwire installation inside built-in furnishings such as kitchen cabinets or trophy cases without the use of the direct wire box.</li>
    <li>Do not conceal power supply cord (or direct wire box) inside walls, ceilings or floors.</li>
</ol>
<img class="lrgimg" src="https://www.aqlightinggroup.com/product_images/uploaded_images/AQUCCPK10-Recess-Mount-Diagram.jpg" alt="AQUCCPK10 Recessed Mounting Diagram">
<br>
<br>
<span class='product-title'>IMPORTANT SAFETY INSTRUCTIONS: PLEASE SAVE!</span>
<br> To prevent shocks from the metal parts of a light, lamp cords and two-wire extension cords are always polarized. This fixture has a polarized plug (one blade is wider than the other) as a safety feature to the risk of electric shock. This plug will fit in a polarized outlet only one way. If the plug does not fit in the outlet, reverse the plug. If it still does not fit, contact a qualified electrician. Never use with an extension cord unless the plug can be fully inserted. Do not alter the plug.
<br>
<br>
<span class='product-title'>ADDITIONAL SAFETY MEASURES:</span>
<br>
<b>CAUTION:</b> To reduce the risk of fire, electric shock or injury to persons:
<ol>
    <li>Use only insulated or plastic ties to secure cords</li>
    <li>Route and secure cords so that they will not be pinched or damaged when the cabinet is pushed to the wall</li>
    <li>Not intended for recessed installation in ceilings or soffits</li>
    <li>The National Electric Code (NEC) does not permit cords to be concealed where damage to insulation may be unnoticed. To prevent fire danger, do not run cord behind walls, ceilings, soffits or cabinets where it may be inaccessible for examination. Cords should be visually examined periodically and immediately replaced when any damage is noted.</li>
</ol>
<b>CAUTION:</b> to reduce the risk of fire, do not install in a compartment than 12" X 12" X 12".
<br>
<span class='product-title'>INTERCONNECTED UNITS:</span>
<ol>
    <li>Do not interconnect more than 20 units in one run</li>
    <li>Maximum spacing between units - 72"
</ol>​
