<div>
    <span class='product-title'>Product Family:</span>
    <ul class='accessorytab'>
        <li>
            <a href="http://www.affordablequalitylighting.com/indoor-lighting/under-counter-under-cabinet-lighting/led-light-bars/dimmable-led-under-cabinet-lighting-8-aquc8-120v-led-light-bar-energy-star-pending/" target="_blank"><img src="http://www.affordablequalitylighting.com/product_images/uploaded_images/AQUC/120V-8-Inch-LED-Dimmable-Under-Cabinet-Warm-White-Light-Bar-AQUC8-in-Satin-Nickel.jpg" alt="AQUC8 8 Inch LED Under Cabinet Light Bar in Satin Nickel">8" LED Light Bar
                <br>AQUC8</a>
        </li>
        <li>
            <a href="http://www.affordablequalitylighting.com/indoor-lighting/under-counter-under-cabinet-lighting/led-light-bars/dimmable-led-under-cabinet-lighting-12-aquc12-120v-led-light-bar-energy-star-pending/" target="_blank"><img src="http://www.affordablequalitylighting.com/product_images/uploaded_images/AQUC/120V-12-Inch-LED-Dimmable-Under-Cabinet-Warm-White-Light-Bar-AQUC12-in-Bronze.jpg" alt="AQUC12 12 Inch LED Under Cabinet Light Bar in Bronze">12" LED Light Bar
                <br>AQUC12</a>
        </li>
        <li>
            <a href="" target="_blank"><img src="http://www.affordablequalitylighting.com/product_images/uploaded_images/AQUC/120V-18-Inch-LED-Dimmable-Under-Cabinet-Warm-White-Light-Bar-AQUC18-in-White.jpg" alt="AQUC18 18 Inch LED Under Cabinet Light Bar in White">18" LED Light Bar
                <br>AQUC18</a>
        </li>
        <li>
            <a href="" target="_blank"><img src="http://www.affordablequalitylighting.com/product_images/uploaded_images/AQUC/120V-24-Inch-LED-Dimmable-Under-Cabinet-Warm-White-Light-Bar-AQUC24-in-Platinum.jpg" alt="AQUC24 24 Inch LED Under Cabinet Light Bar in Champagne White">24" LED Light Bar
                <br>AQUC24</a>
        </li>
        <li>
            <a href="" target="_blank"><img src="http://www.affordablequalitylighting.com/product_images/uploaded_images/AQUC/120V-32-Inch-LED-Dimmable-Under-Cabinet-Warm-White-Light-Bar-AQUC32-in-Satin-Nickel.jpg" alt="AQUC32 32 Inch LED Under Cabinet Light Bar in Satin Nickel">32" LED Light Bar
                <br>AQUC32</a>
        </li>
        <li>
            <a href="" target="_blank"><img src="http://www.affordablequalitylighting.com/product_images/uploaded_images/AQAC/AQAC12-AQAC-LED-Light-Bar-Color-Select-Demo-in-White.jpg" alt="AQAC 120V ColorSelect LED Under Cabinet Light Bar in White">LED ColorSelect
                <br>AQAC</a>
        </li>
    </ul>
</div>
<div> <span class='product-title'>Power Cords and Connectors:</span>
    <ul class='accessorytab'>
        <li>
            <a href='/indoor-lighting/indoor-accessories/6-black-plug-in-power-cord-aquc-series/' target="_blank"><img src="https://www.affordablequalitylighting.com/product_images/uploaded_images/AQUC%20Black%20Power%20Cord.jpg" alt="6ft Black Power Cord">6ft Black Power Cord</a>
        </li>
        <li>
            <a href='/indoor-lighting/indoor-accessories/6-white-plug-in-power-cord-aquc-series/' target="_blank"><img src="https://www.affordablequalitylighting.com/product_images/uploaded_images/AQUC%20White%20Power%20Cord.jpg" alt="6ft White Power Cord">6ft White Power Cord</a>
        </li>
        <li>
            <a href='/indoor-lighting/indoor-accessories/3-8-romex-hardwire-connection-kit/' target="_blank"><img src="https://www.affordablequalitylighting.com/product_images/uploaded_images/Romex%20Hardwire%20Connection%20Kit.jpg" alt="Romex Hardwire Connection Kit">Romex Hardwire Connection Kit</a>
        </li>
    </ul>
</div>
<div> <span class='product-title'>Connectors and Jumper Cables:</span>
    <ul class='accessorytab'>
        <li>
            <a href='/indoor-lighting/indoor-accessories/end-to-end-black-linking-connector-aquc-series/' target="_blank"><img src="https://www.affordablequalitylighting.com/product_images/uploaded_images/AQUC_End_to_End_Connector_Adapter__76000.1423176921.1280.1280.jpg" alt="Black End-to-End Connector">Black End-to-End
                <br> Connector
            </a>
        </li>
        <li>
            <a href='/indoor-lighting/indoor-accessories/end-to-end-white-linking-connector-aquc-series/' target="_blank"><img src="https://www.affordablequalitylighting.com/product_images/uploaded_images/AQUC_White_End_to_End_Connector__36748.1423176926.1280.1280.jpg" alt="White End-to-End Connector">White End-to-End
                <br> Connector
            </a>
        </li>
        <li>
            <a href='/indoor-lighting/indoor-accessories/6-black-linking-jumper-cable-aquc-series/' target="_blank"><img src="https://www.affordablequalitylighting.com/product_images/uploaded_images/AQUC%20Black%20Jumper%20Cable.jpg" alt="Black Linking Jumper Cable">6" Black Linking Jumper Cable</a>
        </li>
        <li>
            <a href='/indoor-lighting/indoor-accessories/6-white-linking-jumper-cable-aquc-series/' target="_blank"><img src="https://www.affordablequalitylighting.com/product_images/uploaded_images/AQUC%20White%20Jumper%20Cable.jpg" alt="White Linking Jumper Cable">6" White Linking Jumper Cable</a>
        </li>
        <li>
            <a href='/indoor-lighting/indoor-accessories/12-black-linking-jumper-cable-aquc-series/' target="_blank"><img src="https://www.affordablequalitylighting.com/product_images/uploaded_images/AQUC%20Black%20Jumper%20Cable.jpg" alt="Black Linking Jumper Cable">12" Black Linking Jumper Cable</a>
        </li>
        <li>
            <a href='/indoor-lighting/indoor-accessories/12-white-linking-jumper-cable-aquc-series/' target="_blank"><img src="https://www.affordablequalitylighting.com/product_images/uploaded_images/AQUC%20White%20Jumper%20Cable.jpg" alt="White Linking Jumper Cable">12" White Linking Jumper Cable</a>
        </li>
        <li>
            <a href='/indoor-lighting/indoor-accessories/18-black-linking-jumper-cable-aquc-series/' target="_blank"><img src="https://www.affordablequalitylighting.com/product_images/uploaded_images/AQUC%20Black%20Jumper%20Cable.jpg" alt="Black Linking Jumper Cable">18" Black Linking Jumper Cable</a>
        </li>
        <li>
            <a href='/indoor-lighting/indoor-accessories/18-white-linking-jumper-cable-aquc-series/' target="_blank"><img src="https://www.affordablequalitylighting.com/product_images/uploaded_images/AQUC%20White%20Jumper%20Cable.jpg" alt="White Linking Jumper Cable">18" White Linking Jumper Cable</a>
        </li>
        <li>
            <a href='/indoor-lighting/indoor-accessories/24-black-linking-jumper-cable-aquc-series/' target="_blank"><img src="https://www.affordablequalitylighting.com/product_images/uploaded_images/AQUC%20Black%20Jumper%20Cable.jpg" alt="Black Linking Jumper Cable">24" Black Linking Jumper Cable</a>
        </li>
        <li>
            <a href='/indoor-lighting/indoor-accessories/24-white-linking-jumper-cable-aquc-series/' target="_blank"><img src="https://www.affordablequalitylighting.com/product_images/uploaded_images/AQUC%20White%20Jumper%20Cable.jpg" alt="White Linking Jumper Cable">24" White Linking Jumper Cable</a>
        </li>
    </ul>
</div>
​
