<div>
    <dl>
        <dt><span class='product-title'>How many puck lights can I connect in a single lighting run?</span></dt>
        <dd>We don't recommend stringing more than 20 units to a single power input. If you need more than 20 puck lights for your application, it is highly recommended that you have 2 or more power inputs so the system isn't strained by not having enough power supplied to each light.</dd>
        <dt><span class='product-title'>What does "Hardwire" mean?</span></dt>
        <dd>Hardwiring means that you get power from a tigerbox (usually located in the walls of your house) and connect to a junction box (sold seperately) to supply power to the puck lights. These types of installations are more permanent, unlike the plug-in power cord type of installations. While an average homeowner can perform a hardwire installation, because this method of installation inherently carries more risk, we suggest using a certified electrician.</dd>
        <dt><span class='product-title'>Do I need a transformer?</span></dt>
        <dd>Not at all. The AQUCCPK system is designed to work on 120V, which is standard line voltage. All you need to do to light up the puck lights is connect them to power via a plug-in power cord or hardwiring them to a junction box.</dd>
        <dt><span class='product-title'>Are they dimmable?</span></dt>
        <dd>Yes, the AQUCCPK series is fully dimmable with the use of a wall dimmer controller. We have gotten the best results when using a Lutron DVCL-153P dimmer.</dd>
        <dt><span class='product-title'>Can these be recessed mounted?</span></dt>
        <dd>Yes, the surface mounting base can be removed, exposing the spring clips which allow the puck to be securely recessed mounted. See the 'Instructions' tab for further explaination. </dd>
    </dl>
</div>​
