<span class='product-title'>Available Finishes:</span>
<ul class='AQUCfinish'>
    <li><img src="/product_images/uploaded_images/AQUCWhite-Finish.jpg" alt="White Finish">White</li>
    <li><img src="/product_images/uploaded_images/AQUCBronze-Finish.jpg" alt="Bronze Finish">Bronze</li>
    <li><img src="/product_images/uploaded_images/AQUCNickel-Finish.jpg" alt="Satin Nickel Finish">Satin Nickel</li>
    <li><img src="/product_images/uploaded_images/AQUCPlatinum-Finish.jpg" alt="Champagne Finish">Champagne</li>
</ul>​
