<span class='product-title'>Accessories:</span>
<ul class='accessorytab'>
    <li class='accessorytab'>
        <a href='/rope-light/ropelight-accessories/cords-connectors/1-2-3-wire-rope-light-power-cord-ra6p3w/' target="_blank"><img src="https://cdn1.bigcommerce.com/server1000/tc515/products/871/images/3627/1_2_rope_light_power_cord_50035.1364024348.1280.1280__97817.1365451314.1280.1280.jpg?c=1" alt="1/2 Inch 3 Wire Rope Light Power Cord RA6P3W">3 Wire
            <br> Power Cord</a>
    </li>
    <li class='accessorytab'>
        <a href='/rope-light/ropelight-accessories/cords-connectors/1-2-3-wire-light-power-connector/' target="_blank"><img src="https://cdn1.bigcommerce.com/server1000/tc515/products/870/images/3623/Rope7b__28915.1365450968.1280.1280.jpg?c=1" alt="1/2 Inch 3 Wire Light Power Connector">3 Wire
            <br> Power Connector</a>
    </li>
    <li class='accessorytab'>
        <a href='/rope-light/ropelight-accessories/cords-connectors/1-2-3-wire-invisible-splice-connector/' target="_blank"><img src="https://cdn1.bigcommerce.com/server1000/tc515/products/867/images/3632/Rope4__97492.1365451809.1280.1280.jpg?c=1" alt="1/2 Inch 3 Wire Invisible Splice Connector">3 Wire
            <br> Invisible Splice</a>
    </li>
    <li class='accessorytab'>
        <a href='/rope-light/ropelight-accessories/cords-connectors/1-2-3-wire-splice-connector/' target="_blank"><img src="https://cdn1.bigcommerce.com/server1000/tc515/products/869/images/6499/3_wire1_2_rope_light_splice_conn_81284.1364026101.1280.1280_square__10555.1394736542.1280.1280.jpg?c=1" alt="1/2 Inch 3 Wire Splice Connector">3 Wire
            <br> Splice Connector</a>
    </li>
    <li class='accessorytab'>
        <a href='/rope-light/ropelight-accessories/cords-connectors/1-2-3-wire-t-connector/' target="_blank"><img src="https://cdn1.bigcommerce.com/server1000/tc515/products/868/images/6500/1_2_rope_light_T_Connector_11747.1364024130.1280.1280_square__76770.1394736667.1280.1280.jpg?c=1" alt="1/2 Inch 3 Wire T Connector">3 Wire
            <br> T Connector</a>
    </li>
    <li class='accessorytab'>
        <a href='/rope-light/ropelight-accessories/cords-connectors/1-2-rope-light-end-cap/' target="_blank"><img src="https://cdn1.bigcommerce.com/server1000/tc515/products/873/images/6494/Rope5b_31532.1365452188.square__46241.1394733853.1280.1280.jpg?c=1" alt="1/2 Inch Rope Light End Cap">3 Wire
            <br> End Cap</a>
    </li>
    <li class='accessorytab'>
        <a href='/rope-light/ropelight-accessories/mounting/1-2-mounting-clips/' target="_blank"><img src="https://cdn1.bigcommerce.com/server1000/tc515/products/881/images/6501/Rope6b_square__95775.1394736967.1280.1280.jpg?c=1" alt="1/2 Inch Mounting Clips">Mounting Clips</a>
    </li>
    <li class='accessorytab'>
        <a href='/rope-light/ropelight-accessories/mounting/1-2-channel/' target="_blank"><img src="https://cdn1.bigcommerce.com/server1000/tc515/products/893/images/6502/Rope3bb_square__07467.1394737126.1280.1280.jpg?c=1" alt="1/2 Inch Channel">Mounting Channel</a>
    </li>
    <li class='accessorytab'>
        <a href='/rope-light/ropelight-accessories/controllers/chasing-bi-color-rope-light-controller/' target="_blank"><img src="https://cdn1.bigcommerce.com/server1000/tc515/products/1670/images/6506/Chasing_Bi_Color_3_Wire_Rope_Light_Controller_BI_3C_face_square__94077.1394738377.1280.1280.jpg?c=1" alt="Chasing Rope Light Controller">Chasing Bi-Color Rope
            <br>Light Controller</a>
    </li>
    <li class='accessorytab'>
        <a href='/rope-light/ropelight-accessories/controllers/chasing-rope-light-mini-controller/' target="_blank"><img src="https://cdn1.bigcommerce.com/server1000/tc515/products/863/images/6504/2_wire_minicontroler_square__43938.1394737503.1280.1280.jpg?c=1" alt="Chasing Rope Light Mini Controller">Chasing Rope
            <br>Light Mini Controller</a>
    </li>
    <li class='accessorytab'>
        <a href='/rope-light/ropelight-accessories/cords-connectors/6-1-2-chasing-rope-light-3-wire-jumper/' target="_blank"><img src="https://cdn1.bigcommerce.com/server1000/tc515/products/1677/images/6110/Half_Inch_3_Wire_Rope_Light_Jumper_Cable__39376.1392849368.1280.1280.jpg?c=1" alt="6 foot 1/2 Inch Chasing Rope Light 3 Wire Jumper">Chasing Rope
            <br>Light Jumper</a>
    </li>
    <li class='accessorytab'>
        <a href='/rope-light/ropelight-accessories/cords-connectors/1-2-3-wire-multi-connector/' target="_blank"><img src="https://cdn1.bigcommerce.com/server1000/tc515/products/878/images/6505/1_2_rope_light_multi_power_cord_square__66925.1394738110.1280.1280.jpg?c=1" alt="1/2 Inch 3 Wire Mulit Connector">Chasing Rope
            <br>Light Multi-Connector</a>
    </li>
</ul>
​