<div class="previewCart">
    <section class="previewCart-header">
        Your Cart
    </section>

    {{#if cart.items.length}}
        <div data-cart-content>
            {{> components/cart/content}}
        </div>

        <div class="cart-total">
            <div class="cart-total-label">
                <strong>{{lang 'cart.checkout.subtotal'}}:</strong>
            </div>
            <div class="cart-total-value">
                <span>{{cart.sub_total.formatted}}</span>
            </div>
        </div>

        <div class="previewCartAction">
            {{#if cart.show_primary_checkout_button}}
                <div class="previewCartAction-checkout">
                    <a href="{{urls.checkout.single_address}}" class="button button--small button--primary">
                        {{lang 'cart.preview.checkout_now'}}
                    </a>
                </div>
            {{/if}}
        </div>
    {{else}}
        <div class="previewCart-emptyBody">
            {{lang 'cart.checkout.empty_cart'}}
        </div>
    {{/if}}
</div>
