<span class='product-title'>4" Recessed Housings:</span>
<ul class='accessorytab'>
    <li class='accessorytab'>
        <a href='/indoor-lighting/recessed-housings-trims/led-recessed-housings/120v-4-led-ic-rated-airtight-title-24-new-construction-recessed-housing-drdhnic4/' target="_blank"><img src="https://www.aqlightinggroup.com/product_images/uploaded_images/DRDHNIC4-4-Inch-New-Construction-Title-24-IC-Rated-Recessed-Housings.jpg" alt="4 Inch New Construction Title 24 Recessed Housing">4" New Construction DRDHNIC4</a>
    </li>
    <li class='accessorytab'>
        <a href='/indoor-lighting/recessed-housings-trims/led-recessed-housings/120v-4-led-ic-rated-airtight-title-24-remodel-recessed-housing-drdhric4/' target="_blank"><img src="https://www.aqlightinggroup.com/product_images/uploaded_images/DRDHRIC4-DMF-4-Inch-Remodel-IC-Rated-Title-24-Recessed-Housing.jpg" alt="4 Inch Remodel Title 24 Recessed Housing">4" Remodel DRDHRIC4</a>
    </li>
</ul>​
