<div> <span class='product-title'>5" Trims</span>
    <ul class='accessorytab'>
        <li class='accessorytab'>
            <a href='/indoor-lighting/recessed-housings-trims/recessed-lighting-trims/twist-and-lock-trims/5-round-ribbed-baffle-twist-and-lock-lighting-trim-drd2tr5b/' target="_blank"><img src="/product_images/uploaded_images/DRD2TR5B%205%20Inch%20Ribbed%20Baffle%20Trim.jpg" alt="5 Inch Round Ribbed Baffle Trim DRD2TR5B">5" Round Ribbed Baffle DRD2TR5B</a>
        </li>
        <li class='accessorytab'>
            <a href='/indoor-lighting/recessed-housings-trims/recessed-lighting-trims/twist-and-lock-trims/5-round-smooth-reflector-twist-and-lock-lighting-trim-drd2tr5s/' target="_blank"><img src="/product_images/uploaded_images/DRD2TR5S%205%20Inch%20Smooth%20Reflector%20Trim.jpg" alt="5 Inch Round Smooth Reflector Trim DRD2TR5S">5" Round Smooth Reflector DRD2TR5S</a>
        </li>
        <li class='accessorytab'>
            <a href='/indoor-lighting/recessed-housings-trims/recessed-lighting-trims/twist-and-lock-trims/5-round-wall-wash-twist-and-lock-lighting-trim-drd2tr5w/' target="_blank"><img src="/product_images/uploaded_images/DRD2TR5W%205%20Inch%20Wall%20Wash%20Trim.jpg" alt="5 Inch Round Wall Wash Trim DRD2TR5W">5" Round Wall Wash DRD2TR5W</a>
        </li>
    </ul>
</div>
