<span class='product-title'>5" Recessed Housings</span>
<ul class='accessorytab'>
    <li class='accessorytab'>
        <a href='/indoor-lighting/recessed-housings-trims/led-recessed-housings/120v-5-led-ic-rated-airtight-title-24-new-construction-recessed-housing-drdhnic5/' target="_blank"><img src="/product_images/uploaded_images/DRDHNIC5-5-Inch-New-Construction-Title-24-IC-Rated-Recessed-Housing.jpg" alt="5 Inch New Construction Title 24 Recessed Housing">5" New Construction DRDHNIC5</a>
    </li>
    <li class='accessorytab'>
        <a href='/indoor-lighting/recessed-housings-trims/led-recessed-housings/120v-5-led-ic-rated-airtight-title-24-remodel-recessed-housing-drdhric5/' target="_blank"><img src="/product_images/uploaded_images/DRDHRIC5-5-Inch-IC-Rated-Title-24-Recessed-Housing.jpg" alt="5 Inch Remodel Title 24 Recessed Housing">5" Remodel DRDHRIC5</a>
    </li>
</ul>​
