<span class='product-title'>6" Recessed Housings:</span>
<ul class='accessorytab'>
    <li class='accessorytab'>
        <a href='/indoor-lighting/recessed-housings-trims/led-recessed-housings/120v-6-led-ic-rated-airtight-title-24-new-construction-recessed-housing-drdhnic6/' target="_blank"><img src="/product_images/uploaded_images/DRDHNIC6-6-Inch-New-Construction-Title-24-IC-Rated-Recessed-Housing.jpg" alt="6 Inch New Construction Title 24 Recessed Housing">6" New Construction DRDHNIC6</a>
    </li>
    <li class='accessorytab'>
        <a href='/indoor-lighting/recessed-housings-trims/led-recessed-housings/120v-6-led-ic-rated-airtight-title-24-remodel-recessed-housing-drdhric6/' target="_blank"><img src="/product_images/uploaded_images/DRDHRIC6-6-Inch-IC-Rated-Title-24-Recessed-Housing.jpg" alt="6 Inch Remodel Title 24 Recessed Housing">6" Remodel DRDHRIC6</a>
    </li>
</ul>​
