<div> <span class='product-title'>6" Trims</span>
    <ul class='accessorytab'>
        <li class='accessorytab'>
            <a href='/indoor-lighting/recessed-housings-trims/recessed-lighting-trims/twist-and-lock-trims/6-round-ribbed-baffle-twist-and-lock-lighting-trim-drd2tr6b/' target="_blank"><img src="/product_images/uploaded_images/DRD2TR6B%206%20Inch%20Ribbed%20Baffle%20Trim.jpg" alt="6 Inch Round Ribbed Baffle Trim DRD2TR6B">6" Round Ribbed Baffle DRD2TR6B</a>
        </li>
        <li class='accessorytab'>
            <a href='/indoor-lighting/recessed-housings-trims/recessed-lighting-trims/twist-and-lock-trims/6-round-smooth-reflector-twist-and-lock-lighting-trim-drd2tr6s/' target="_blank"><img src="/product_images/uploaded_images/DRD2TR6S%206%20Inch%20Smooth%20Reflector%20Trim.jpg" alt="6 Inch Round Smooth Reflector DRD2TR6S">6" Round Smooth Reflector DRD2TR6S</a>
        </li>
        <li class='accessorytab'>
            <a href='/indoor-lighting/recessed-housings-trims/recessed-lighting-trims/twist-and-lock-trims/6-round-wall-wash-twist-and-lock-lighting-trim-drd2tr6w/' target="_blank"><img src="/product_images/uploaded_images/DRD2TR6W%206%20Inch%20Wall%20Wash%20Trim.jpg" alt="6 Inch Round Wall Wash Trim DRD2TR6W">6" Round Wall Wash DRD2TR6W</a>
        </li>
        <li class='accessorytab'>
            <a href='/indoor-lighting/recessed-housings-trims/recessed-lighting-trims/twist-and-lock-trims/6-round-ribbed-deep-baffle-twist-and-lock-lighting-trim-drd2trd6b/' target="_blank"><img src="/product_images/uploaded_images/DRD2TRD6B%206%20Inch%20Ribbed%20Deep%20Baffle%20Trim.jpg" alt="6 Inch Round Ribbed DEEP Baffle Trim DRD2TRD6B">6" Round Ribbed DEEP Baffle DRD2TRD6B</a>
        </li>
        <li class='accessorytab'>
            <a href='/indoor-lighting/recessed-housings-trims/recessed-lighting-trims/twist-and-lock-trims/6-round-smooth-deep-reflector-twist-and-lock-lighting-trim-drd2trd6s/' target="_blank"><img src="/product_images/uploaded_images/DRD2TRD6S%206%20Inch%20Smooth%20Deep%20Reflector.jpg" alt="6 Inch Round Smooth DEEP Reflector Trim DRD2TRD6S">6" Round Smooth DEEP Reflector DRD2TRD6S</a>
        </li>
    </ul>
</div>
