<span class='product-title'>LED Retrofit Recessed Modules:</span>
<ul class='accessorytab'>
    <li>
        <a href='/indoor-lighting/recessed-housings-trims/led-retrofit-down-lighting/120v-led-recessed-down-light-module-drd2m7-750-lumens/' target="_blank"><img src="/product_images/uploaded_images/DRD2M LED Retrofit Recessed Down Light Module.jpg" alt="DRD2M7 LED Retrofit Recessed Down Light Module">DRDM7 - 750 Lumens</a>
    </li>
    <li>
        <a href='/indoor-lighting/recessed-housings-trims/led-retrofit-down-lighting/120v-led-recessed-down-light-module-drd2m10-1000-lumens/' target="_blank"><img src="/product_images/uploaded_images/DRD2M LED Retrofit Recessed Down Light Module.jpg" alt="DRD2M10 LED Retrofit Recessed Down Light Module">DRD2M10 - 1000 Lumens</a>
    </li>
</ul>​
