<span class='product-title'>Cooper</span>
<table class='spectable'>
    <tbody>
        <tr>
            <td><strong>Series</strong></td>
            <td><strong>Model #</strong></td>
            <td><strong>Min</strong></td>
            <td><strong>Max</strong></td>
            <td><strong>Dim Level</strong></td>
        </tr>
        <tr>
            <td>Decorator</td>
            <td>DAL06P</td>
            <td>1</td>
            <td>12</td>
            <td>1%</td>
        </tr>
        <tr>
            <td>Decorator</td>
            <td>DAL03P</td>
            <td>1</td>
            <td>12</td>
            <td>1%</td>
        </tr>
        <tr>
            <td>Slide Dimmer</td>
            <td>SLC03P</td>
            <td>1</td>
            <td>10</td>
            <td>1%</td>
        </tr>
    </tbody>
</table>
<br />
<br /> <span class='product-title'>Crestron</span>
<table class='spectable'>
    <tbody>
        <tr>
            <td><strong>Series</strong></td>
            <td><strong>Model #</strong></td>
            <td><strong>Min</strong></td>
            <td><strong>Max</strong></td>
            <td><strong>Dim Level</strong></td>
        </tr>
        <tr>
            <td>iLux</td>
            <td>CLS-EXP-DIMU</td>
            <td>1</td>
            <td>85</td>
            <td>12%</td>
        </tr>
        <tr>
            <td>DIN Rail</td>
            <td>DIN-1DIM4</td>
            <td>1</td>
            <td>55</td>
            <td>8%</td>
        </tr>
        <tr>
            <td>Green Light</td>
            <td>GLX-DIM6</td>
            <td>1</td>
            <td>85</td>
            <td>10%</td>
        </tr>
        <tr>
            <td>Green Light Express</td>
            <td>GLXX-2DIM8</td>
            <td>1</td>
            <td>12</td>
            <td>10%</td>
        </tr>
    </tbody>
</table>
<br />
<br /> <span class='product-title'>Legrand</span>
<table class='spectable'>
    <tbody>
        <tr>
            <td><strong>Series</strong></td>
            <td><strong>Model #</strong></td>
            <td><strong>Min</strong></td>
            <td><strong>Max</strong></td>
            <td><strong>Dim Level</strong></td>
        </tr>
        <tr>
            <td>Adorne</td>
            <td>ADPD703TU</td>
            <td>2</td>
            <td>12</td>
            <td>10%</td>
        </tr>
        <tr>
            <td>Harmony</td>
            <td>H703PTU</td>
            <td>2</td>
            <td>10</td>
            <td>10%</td>
        </tr>
        <tr>
            <td>Harmony</td>
            <td>HCL453P</td>
            <td>1</td>
            <td>16</td>
            <td>10%</td>
        </tr>
    </tbody>
</table>
<br />
<br /> <span class='product-title'>Leviton</span>
<table class='spectable'>
    <tbody>
        <tr>
            <td><strong>Series</strong></td>
            <td><strong>Model #</strong></td>
            <td><strong>Min</strong></td>
            <td><strong>Max</strong></td>
            <td><strong>Dim Level</strong></td>
        </tr>
        <tr>
            <td>Decora</td>
            <td>6673-10W</td>
            <td>3</td>
            <td>10</td>
            <td>11%</td>
        </tr>
        <tr>
            <td>Decora IllumaTech</td>
            <td>IP106-1LZ</td>
            <td>3</td>
            <td>10</td>
            <td>11%</td>
        </tr>
        <tr>
            <td>Decora IllumaTech</td>
            <td>6631-2</td>
            <td>1</td>
            <td>10</td>
            <td>1%</td>
        </tr>
        <tr>
            <td>Decora IllumaTech</td>
            <td>IPE04</td>
            <td>1</td>
            <td>5</td>
            <td>5%</td>
        </tr>
        <tr>
            <td>SureSlide</td>
            <td>6633-P</td>
            <td>3</td>
            <td>10</td>
            <td>1%</td>
        </tr>
        <tr>
            <td>SureSlide</td>
            <td>6161</td>
            <td>1</td>
            <td>12</td>
            <td>14%</td>
        </tr>
        <tr>
            <td>SureSlide</td>
            <td>6615</td>
            <td>1</td>
            <td>6</td>
            <td>10%</td>
        </tr>
        <tr>
            <td>SureSlide</td>
            <td>6621-P</td>
            <td>1</td>
            <td>12</td>
            <td>10%</td>
        </tr>
        <tr>
            <td>Trimatron</td>
            <td>6683-IW</td>
            <td>3</td>
            <td>10</td>
            <td>6%</td>
        </tr>
        <tr>
            <td>Vizia+</td>
            <td>VPE06</td>
            <td>1</td>
            <td>10</td>
            <td>8%</td>
        </tr>
        <tr>
            <td>Vizia+</td>
            <td>VPE106</td>
            <td>3</td>
            <td>10</td>
            <td>1%</td>
        </tr>
    </tbody>
</table>
<br />
<br /> <span class='product-title'>Lightolier</span>
<table class='spectable'>
    <tbody>
        <tr>
            <td><strong>Series</strong></td>
            <td><strong>Model #</strong></td>
            <td><strong>Min</strong></td>
            <td><strong>Max</strong></td>
            <td><strong>Dim Level</strong></td>
        </tr>
        <tr>
            <td>MultiSet Pro</td>
            <td>MSP300QE</td>
            <td>1</td>
            <td>12</td>
            <td>10%</td>
        </tr>
        <tr>
            <td>Sunrise</td>
            <td>ZP260QE</td>
            <td>1</td>
            <td>10</td>
            <td>10%</td>
        </tr>
    </tbody>
</table>
<br />
<br /> <span class='product-title'>Lutron</span>
<table class='spectable'>
    <tbody>
        <tr>
            <td><strong>Series</strong></td>
            <td><strong>Model #</strong></td>
            <td><strong>Min</strong></td>
            <td><strong>Max</strong></td>
            <td><strong>Dim Level</strong></td>
        </tr>
        <tr>
            <td>Ariadni</td>
            <td>AYLV-600P</td>
            <td>1</td>
            <td>12</td>
            <td>10%</td>
        </tr>
        <tr>
            <td>Diva</td>
            <td>DV600P</td>
            <td>3</td>
            <td>10</td>
            <td>5%</td>
        </tr>
        <tr>
            <td>Diva</td>
            <td>DVELV303P</td>
            <td>1</td>
            <td>5</td>
            <td>5%</td>
        </tr>
        <tr>
            <td>Diva</td>
            <td>DV603P</td>
            <td>3</td>
            <td>10</td>
            <td>5%</td>
        </tr>
        <tr>
            <td>Diva CL</td>
            <td>DVCL-153P</td>
            <td>1</td>
            <td>12</td>
            <td>10%</td>
        </tr>
        <tr>
            <td>Faedra</td>
            <td>FAELV500</td>
            <td>1</td>
            <td>9</td>
            <td>10%</td>
        </tr>
        <tr>
            <td>Lumea</td>
            <td>LG600P</td>
            <td>3</td>
            <td>10</td>
            <td>6%</td>
        </tr>
        <tr>
            <td>Maestro</td>
            <td>MAW600</td>
            <td>3</td>
            <td>10</td>
            <td>7%</td>
        </tr>
        <tr>
            <td>Maestro</td>
            <td>MAELV600</td>
            <td>1</td>
            <td>10</td>
            <td>9%</td>
        </tr>
        <tr>
            <td>Maestro CL</td>
            <td>MACL-153M</td>
            <td>1</td>
            <td>10</td>
            <td>9%</td>
        </tr>
        <tr>
            <td>Radio RA2 Maestro</td>
            <td>RRD-6NA</td>
            <td>1</td>
            <td>12</td>
            <td>10%</td>
        </tr>
        <tr>
            <td>Skylark</td>
            <td>S-603PG</td>
            <td>3</td>
            <td>10</td>
            <td>5%</td>
        </tr>
        <tr>
            <td>Skylark</td>
            <td>S600P</td>
            <td>3</td>
            <td>10</td>
            <td>2%</td>
        </tr>
        <tr>
            <td>Skylark</td>
            <td>SELV300P</td>
            <td>1</td>
            <td>5</td>
            <td>6%</td>
        </tr>
        <tr>
            <td>Skylark CL</td>
            <td>SCL-153P</td>
            <td>1</td>
            <td>10</td>
            <td>7%</td>
        </tr>
        <tr>
            <td>Skylark Contour</td>
            <td>CT103P</td>
            <td>3</td>
            <td>18</td>
            <td>7%</td>
        </tr>
        <tr>
            <td>Toggler</td>
            <td>TG-603PGH</td>
            <td>1</td>
            <td>12</td>
            <td>10%</td>
        </tr>
        <tr>
            <td>Toggler CL</td>
            <td>TGCL-153P</td>
            <td>1</td>
            <td>10</td>
            <td>6%</td>
        </tr>
    </tbody>
</table>
​
