<span class='product-title'>Deep Junction Box Trims:</span>
<ul class='accessorytab'>
    <li>
        <a href='/indoor-lighting/recessed-housings-trims/recessed-lighting-trims/twist-and-lock-trims/4-round-deep-junction-box-trim-drd2trjd/' target="_blank"><img src="/product_images/uploaded_images/DRDHNJD/DRD2TRJD-4-Inch-Round-Deep-Junction-Box-Trim-in-White.jpg" alt="DRD2TRJD 4 Inch Round Deep Junction Box Trim in White">4" Round Trim</a>
    </li>
    <li>
        <a href='/indoor-lighting/recessed-housings-trims/recessed-lighting-trims/twist-and-lock-trims/4-square-deep-junction-box-trim-drd2tsjd/' target="_blank"><img src="/product_images/uploaded_images/DRDHNJD/DRD2TSJD-4-Inch-Square-Deep-Junction-Box-Trim-in-White.jpg" alt="DRD2TSJD 4 Inch Square Deep Junction Box Trim in White">4" Square Trim</a>
    </li>
</ul>
​
