<div>
    <span class='product-title'>Standard Finishes:</span>
    <ul class='accessorytab'>
        <li><img src="http://www.focusindustries.com/sites/default/files/Black-Texture.jpg" title="Textured Black Powdercoat Swatch" />Black Texture - BLT</li>
        <li><img src="http://www.focusindustries.com/sites/default/files/White-Texture.jpg" title="Textured White Powdercoat Swatch" />White Texture - WTX</li>
        <li><img src="http://www.focusindustries.com/sites/default/files/Bronze-texture.jpg" title="Textured Bronze Powdercoat Swatch" />Bronze Texture - BRT</li>
        <li><img src="http://www.focusindustries.com/sites/default/files/Rust.jpg" title="Rust Powdercoat Swatch" />Rust - RST</li>
        <li><img src="http://www.focusindustries.com/sites/default/files/Antique-Verde.jpg" title="Antique Verde Powdercoat Swatch" />Antique Verde - ATV</li>
        <li><img src="http://www.focusindustries.com/sites/default/files/Rubbed-Verde.jpg" title="Rubbed Verdi Powdercoat Swatch" />Rubbed Verdi - RBV</li>
        <li><img src="http://www.focusindustries.com/sites/default/files/Hunter-Texture.jpg" title="Textured Hunter Powdercoat Swatch" />Hunter Texture - HTX</li>
        <li><img src="http://www.focusindustries.com/sites/default/files/Weathered-Brown.jpg" title="Weathered Bronze Powdercoat Swatch" />Weathered Broze - WBR</li>
        <li><img src="http://www.focusindustries.com/sites/default/files/Stucco.jpg" title="Stucco Powdercoat Swatch" />Stucco - STU</li>
        <li><img src="http://www.focusindustries.com/sites/default/files/Weathered-Iron.jpg" />Weathered Iron - WIR</li>
        <li><img src="http://www.focusindustries.com/sites/default/files/Camel.jpg" title="Camel Tone Powdercoat Swatch" />Camel Tone - CAM</li>
        <li><img src="http://www.focusindustries.com/sites/default/files/Chrome-Powder.jpg" title="Chrome Powdercoat Swatch" />Chrome Powder - CPR</li>
    </ul>
    <span class='product-title'>Specialty Brass/Copper Finishes:</span>
    <ul class='accessorytab'>
        <li><img src="http://www.focusindustries.com/sites/default/files/Acid-Rust.jpg" title="Acid Rust Treatment Swatch" />Acid Rust - BAR/CAR</li>
        <li><img src="http://www.focusindustries.com/sites/default/files/Acid-Verde.jpg" title="Acid Verdi Treatment Swatch" />Acid Verdi - BAV/CAV</li>
        <li><img src="http://www.focusindustries.com/sites/default/files/Black-Acid-Treatment.jpg" title="Black Acid Treatment Swatch" />Black Acid Treatment - BAT</li>
    </ul>
</div>​
