{{#if banners.bottom}}
<div class="banners" data-banner-location="bottom">
    <div class="banner">
        {{{limit banners.bottom 1}}}
    </div>
</div>
{{/if}}
<footer class="footer" role="contentinfo">
    <div class="container">
        <section class="footer-info">
            <article class="footer-info-col footer-info-col--small" data-section-type="footer-webPages">
                <h5 class="footer-info-heading">Resources</h5>
                <ul class="footer-info-list">
                    {{#each pages}}
                    <li>
                        <a href="{{url}}">{{name}}</a>
                    </li>
                    {{/each}}
                    <li>
                        <a style="color:#1a73e8; font-weight: bold;" href="https://www.google.com/search?q=aqlighting&rlz=1C1CHBF_enUS875US875&oq=aqlighting&aqs=chrome.0.69i59j69i60l3j69i65j69i60.1695j0j1&sourceid=chrome&ie=UTF-8#lrd=0x80c29c8f6de1fa57:0x598b9f4b22a52b02,1,,,">Google Review</a>
                    </li>
                    <li>
                        <a href="{{urls.sitemap}}">{{lang 'sitemap.page_title'}}</a>
                    </li>
                </ul>
            </article>
            <article class="footer-info-col footer-info-col--small" data-section-type="footer-categories">
                <h5 class="footer-info-heading">{{lang 'footer.categories'}}</h5>
                <ul class="footer-info-list">
                    {{#each categories}}
                    <li>
                        <a href="{{url}}">{{name}}</a>
                    </li>
                    {{/each}}
                </ul>
            </article>
            <article class="footer-info-col footer-info-col--medium" data-section-type="storeInfo">
                <h5 class="footer-info-heading">{{lang 'footer.info'}}</h5>
                <address>{{nl2br settings.address}}</address>
                <br>
                <h6 style="text-transform:none">Christmas and New Year's Hours</h6>
                Christmas Eve: 8:00am - 1:00pm<br>
                Christmas Day: CLOSED<br>
                December 28th - 30th: 8:00am - 3:00pm<br>
                New Year's Eve: 8:00am - 1:00pm<br>
                New Year's Day: CLOSED<br>
            </article>
            <article class="footer-info-col" data-section-type="newsletterSubscription">
                {{#if settings.show_newsletter_box}} {{> components/common/subscription-form}} {{/if}} {{> components/common/social-links}} {{> components/common/payment-icons}}
            </article>
        </section>
        {{#if theme_settings.show_powered_by}}
        <div class="footer-copyright">
            <p class="powered-by">Powered by <a href="http://bigcommerce.com" rel="nofollow">BigCommerce</a></p>
        </div>
        {{/if}} {{#if theme_settings.show_copyright_footer}}
        <div class="footer-copyright">
            <p class="powered-by">&copy; <span id="copyright_year"></span> {{settings.store_name}} </p>
        </div>
        <!-- Swiper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.0/js/swiper.min.js"></script> 

        <script type="text/javascript">
        document.getElementById("copyright_year").innerHTML = new Date().getFullYear();
        </script>
        {{/if}}
    </div>
</footer>
