<div class='box-bg'>
    <div class='home-box-header'>
        <h2 class='h2-categories'> LED Rope Lights Sale </h2>
    </div>
    <div class='w-row'>
        <div class='w-col w-col-6 home-col left'>
            <h2 class='h2-categories big'> LED 2 Wire Rope Lights </h2>
            <p class='p-home'> Design, elegance &amp; durability
                <br> We manufacture the best Rope Lights available
                <br> In Stock Now </p>
            <a class='button btn1 margin-top' href='/led-2-wire-rope-light/'>SEE PRODUCTS</a>
            <a href='/led-2-wire-rope-light/'> <img alt='LED 2 wire Rope Light' class='home-img huge cut' src='https://www.aqlightinggroup.com/product_images/uploaded_images/LED-Warm-White-Rope-Light-Kit-Frontpage.jpg' /> </a>
        </div>
        <div class='w-col w-col-6 home-col double'>
            <a href='/ez-rope-light-kits-18ft-65ft'> <img alt='EZ Rope Light Kits 18 feet - 65 feet' class='product-image-cut-top' src='https://cdn1.bigcommerce.com/server1000/tc515/products/2562/images/10015/ccled_blue_kit_28271.1413995941.1280.1280__27796.1416868216.1280.1280.jpg?c=2' style='margin: 0' /> </a>
            <h2 class='h2-categories block'>EZ LED Rope Light Kits 18ft - 65ft</h2>
            <a class='button btn1 margin-top' href='/ez-rope-light-kits-18ft-65ft'>SEE PRODUCTS</a>
            <div class='w-row home-row double-row'>
                <div class='w-col w-col-6 w-clearfix home-col left two'>
                    <a href='/led-tape-light'> <img alt='RGB LED Tape Light' class='home-img' src='https://cdn1.bigcommerce.com/server1000/tc515/products/1731/images/6574/RBG_LED_Tape_Light_Spool_Transition__78007.1406795100.1280.1280.jpg?c=2' style='height: 140px' /> </a>
                    <div class='box-calltoaction'>
                        <h2 class='h2-categories single'>RGB LED Tape Light</h2>
                        <a class='button btn1 margin-top' href='/led-tape-light'>SEE PRODUCTS</a> </div>
                </div>
                <div class='w-col w-col-6 w-clearfix home-col two'>
                    <a href='/custom-cut-rope-light'> <img alt='Custom Cut Rope Lights' class='home-img' src='https://cdn1.bigcommerce.com/server1000/tc515/products/1914/images/9563/CC_2W_GREEN_KIT__12130.1414001667.1280.1280.jpg?c=2' /> </a>
                    <div class='box-calltoaction'>
                        <h2 class='h2-categories single'>Custom Cut Rope Lights</h2>
                        <a class='button btn1 margin-top' href='/custom-cut-rope-light'>SEE PRODUCTS</a> </div>
                </div>
            </div>
        </div>
    </div>
</div>
