<div class='box-bg'>
    <div class='home-box-header'>
        <h2 class='h2-categories'> Popular Categories </h2>
    </div>
    <div class='w-row'>
        <div class='w-col w-col-6 home-col left'>
            <h2 class='h2-categories big'> Raw Copper Lights </h2>
            <p class='p-home'> Design, elegance and durability. Find the best raw copper lights, and as usual, at the best price. </p>
            <a class='button btn1 margin-top' href='/led-raw-copper-landscape-lights'>SEE products</a>
            <a href='/led-raw-copper-landscape-lights'> <img alt='Raw Copper Selection' class='home-img huge cut' src='http://uploads.webflow.com/53befe84efd06169282112e1/53bf10fb1f1bf69b45dbde29_Raw_Copper_2_Tier_Area_Light_PASH_312_CP__85801.1400183812.1280.1280.jpg' /> </a>
        </div>
        <div class='w-col w-col-6 home-col double'>
            <a href='/warehouse-pendant-lights/'> <img alt='Gooseneck Lights' class='product-image-cut-top' src='http://uploads.webflow.com/53befe84efd06169282112e1/53bf1d5505d7236b28ffdb2e_heavy_duty_gloss_black__72800.1401579460.1280.1280.jpg' /> </a>
            <h2 class='h2-categories block'>Warehouse Pendant Lights</h2>
            <a class='button btn1 margin-top' href='/warehouse-pendant-lights/'>SEE PRODUCTS</a>
            <div class='w-row home-row double-row'>
                <div class='w-col w-col-6 w-clearfix home-col left two'>
                    <a href='/led-pagoda-lights'> <img alt='LED Pagoda Lights' class='home-img' src='http://uploads.webflow.com/53befe84efd06169282112e1/53bf1df5efd061692821150c_PAT3R_BLK_1__45024.1360269417.1280.1280.jpg' /> </a>
                    <div class='box-calltoaction'>
                        <h2 class='h2-categories single'>LED Landscape &amp; Pathway Lights</h2>
                        <a class='button btn1 margin-top' href='/led-pagoda-lights'>SEE PRODUCTS</a> </div>
                </div>
                <div class='w-col w-col-6 w-clearfix home-col two'>
                    <a href='/underwater-fountain-lights-1'> <img alt='Underwater fountain lights' class='home-img' src='http://uploads.webflow.com/53befe84efd06169282112e1/53bf0bad4aa9cd9a45ca02ac_PU_SSDX898_SS_1__63615.1360688411.1280.1280.jpg' /> </a>
                    <div class='box-calltoaction'>
                        <h2 class='h2-categories single'>LED Underwater &amp; Fountain Lights</h2>
                        <a class='button btn1 margin-top' href='/underwater-fountain-lights-1'>SEE PRODUCTS</a> </div>
                </div>
            </div>
        </div>
    </div>
</div>
