<div class="box-bg">
    <div class="home-hero">
        <h1 class="h1-hero"> The Best Quality Lighting Since 1974 </h1>
    </div>
    <div class="w-row">
        <div class="w-col w-col-6 w-col-small-6 america"> <img alt="American Made Products" class="hero-icon" src="http://uploads.webflow.com/53befe84efd06169282112e1/53bf90e0da236d0047c3fcf8_ico-flag.png">
            <p class="p-hero-sub"> American Made </p>
            <p class="p-hero-caption"> Designed by AQL in California, Assembled in the USA </p>
        </div>
        <div class="w-col w-col-6 w-col-small-6 w-clearfix environment"> <img alt="Environmentally Friendly" class="hero-icon" src="http://uploads.webflow.com/53befe84efd06169282112e1/53bf8f73e7a740014748a606_ico-recycle.png" width="20">
            <p class="p-hero-sub"> Environmentally Friendly </p>
            <p class="p-hero-caption"> We want to leave the world better than we found it </p>
        </div>
    </div>
</div>
