<div class='w-row'>
    <div class="box-bg swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href="/sign-lights-gooseneck-lights/" alt="End of Winter Gooseneck Barn / Sign Light Sale" title="Click Here to Enter our Gooseneck Light Sale" target="_blank"> <img class="full-banner" src="http://www.affordablequalitylighting.com/content/Banners/ADLXSV-End-of-Winter-Sale-Banner.jpg" alt="End of Winter Outdoor Gooseneck Light Sale" title="End of Winter Outdoor Gooseneck Light Sale"> </a>
            </div>
            <div class="swiper-slide">
                <a href="http://www.affordablequalitylighting.com/indoor-lighting/under-counter-under-cabinet-lighting/led-light-bars/12v-ultra-thin-dimmable-led-white-under-cabinet-panel-light-aquc-ucl/"><img src="http://www.affordablequalitylighting.com/content/Banners/AQUC-UCL-Home-Banner.jpg" class="full-banner" alt="AQUC-UCL Ultra Thin LED Under Cabinet Light Panel"></a>
            </div>
            <div class="swiper-slide">
                <a href="http://www.affordablequalitylighting.com/underwater-fountain-lights-1/"><img src="http://www.affordablequalitylighting.com/content/Banners/Submersible-Lighting-Banner.jpg" class="full-banner" alt="AQL Underwater, Submersible, Fountain, Pond Light Fixtures"></a>
            </div>
            <div class="swiper-slide">
                <a href="http://www.affordablequalitylighting.com/indoor-lighting/under-counter-under-cabinet-lighting/led-undercabinet-lighting/custom-led-undercabinet-tape-light-system/"><img src="http://www.affordablequalitylighting.com/content/Banners/40-Percent-Off-GR8TAPE-Banner.jpg" class="full-banner" alt="Custom LED Tape Light System 40 Percent Off"></a>
            </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</div>
