<div class="box-bg">
    <div class='home-box-header'>
        <h2 class='h2-categories'> Popular Categories </h2>
    </div>
    <table>
        <tbody>
            <tr>
                <td class='home-page-td'>
                    <h3> <a class='home-h3' href='/rope-light/' title='Rope Light Link'><img alt='Rope Lighting' class='__mce_add_custom__' src='/product_images/uploaded_images/rope-light-home.jpg' title='Rope Lighting'><span class='home-span'>Rope Lights</span></a> </h3></td>
                <td class='home-page-td'>
                    <h3> <a class='home-h3' href='/under-counter-under-cabinet-lighting/' title='Undercabinet Lighting Link '><img alt='Undercabinet Lights' class='__mce_add_custom__' src='/product_images/uploaded_images/home-page-undercabinet.jpg' title='Undercabinet Lights'><span class='home-span'>Undercabinet Lights</span></a> </h3></td>
                <td class='home-page-td'>
                    <h3> <a class='home-h3' href='/underwater-fountain-lights-1/'><img alt='Click here for underwater lighting' class='__mce_add_custom__' src='/product_images/uploaded_images/underwater-home.jpg' title='Click here for underwater lighting'><span class='home-span'>Underwater Lights</span></a> </h3></td>
                <td class='home-page-td'>
                    <h3> <a class='home-h3' href='/sign-lights-gooseneck-lights/'><img alt='Gooseneck Lighting' class='__mce_add_custom__' src='/product_images/uploaded_images/gooseneck-home.jpg' title='Goosebeck Lighting'><span class='home-span'>Gooseneck Lights</span></a> </h3></td>
            </tr>
            <tr>
                <td class='home-page-td'>
                    <h3> <a class='home-h3' href='/recessed-housings-trims/'><img alt='Cans &amp; Trims Lights' class='__mce_add_custom__' src='/product_images/uploaded_images/cans-trims.jpg' title='Cans &amp; Trims Lights'><span class='home-span'>Cans &amp; Trims Lights</span></a> </h3></td>
                <td class='home-page-td'>
                    <h3> <a class='home-h3' href='/led-garden-landscape/'><img alt='LED Landscape Lights' class='__mce_add_custom__' src='/product_images/uploaded_images/led-landscape-home.jpg' title='LED Landscape Lights'><span class='home-span'>LED Landscape Lights</span></a> </h3></td>
                <td class='home-page-td'>
                    <h3> <a class='home-h3' href='/led-series/'><img alt='LED Bulbs Lights' class='__mce_add_custom__' src='/product_images/uploaded_images/led-bulb-home.jpg' title='LED Bulbs Lights'><span class='home-span'>LED Bulbs Lights</span></a> </h3></td>
                <td class='home-page-td'>
                    <h3> <a class='home-h3' href='/in-ground-well-lights/'><img alt='Click here for in ground and well lights' class='__mce_add_custom__' src='/product_images/uploaded_images/in-ground-home.jpg' title='Click here for in ground and well lights'><span class='home-span'>Ground Lights</span></a> </h3></td>
            </tr>
            <tr>
                <td class='home-page-td'>
                    <h3> <a class='home-h3' href='/pathway-lights/'><img alt='Click here for pathway lights' class='__mce_add_custom__' src='/product_images/uploaded_images/pathway-lights-home.jpg' title='Click here for pathway lights'><span class='home-span'>Pathways Lights</span></a> </h3></td>
                <td class='home-page-td'>
                    <h3> <a class='home-h3' href='/holiday-lights/'><img alt='Click here for holiday lighting' class='__mce_add_custom__' src='/product_images/uploaded_images/holiday-lights-home.jpg' title='Click here for holiday lighting'><span class='home-span'>Holiday Lights</span></a> </h3></td>
                <td class='home-page-td'>
                    <h3> <a class='home-h3' href='/outdoor-diy-lighting-kits/'><img alt='Click here for outdoor DIY kits' class='__mce_add_custom__' src='/product_images/uploaded_images/outdoor-diy-lights-home.jpg' title='Click here for outdoor DIY kits'><span class='home-span'>Outdoor DIY Lights</span></a> </h3></td>
                <td class='home-page-td'>
                    <h3> <a class='home-h3' href='/outdoor-lighting/'><img alt='Outdoor Lights' class='__mce_add_custom__' src='/product_images/uploaded_images/outdoor-home.jpg' title='Outdoor Lights'><span class='home-span'>Outdoor Lights</span></a> </h3></td>
            </tr>
        </tbody>
    </table>
</div>
