<span class='product-title'>Controller:</span>
<ul class='accessorytab'>
    <li class='accessorytab'>
        <a href="/rope-light/ropelight-accessories/cords-connectors/120v-8-function-power-cord-l206hv/" target="_blank"><img src="/product_images/uploaded_images/ElectricZone/EZ-L206HVRGBPC-120V-8-Function-Power-Cord.jpg" alt="120V 8 Function Power Cord" title="120V 8 Function Power Cord">8-Function Power Cord</a>
    </li>
    <li class='accessorytab'>
        <a href="/rope-light/ropelight-accessories/controllers/120v-24-key-ir-power-cord-controller-hvrgbrc/" target="_blank"><img src="/product_images/uploaded_images/ElectricZone/EZ-HVRGBRC-120V-24-Key-IR-Wireless-Controller-Power-Cord.jpg" alt="120V 24 Function IR Controller and Power Cord" title="120V 24 Function IR Wireless Controller and Power Cord">24 Function IR Controller / Power Cord</a>
    </li>
    <li class='accessorytab'>
        <a href="/rope-light/ropelight-accessories/controllers/120v-rf-power-cord-controller-hvrgbrf/" target="_blank"><img src="/product_images/uploaded_images/ElectricZone/EZ-HVRGBRF-120V-RF-Wireless-Controller-Power-Cord.jpg" alt="120V RF Wireless Controller and Power Cord" title="120V RF Wireless Controller and Power Cord">RF Wireless Controller / Power Cord</a>
    </li>
</ul>
<br>
<span class='product-title'>Connectors:</span>
<ul class='accessorytab'>
    <li class='accessorytab'>
        <a href="/rope-light/ropelight-accessories/cords-connectors/4-pin-sleeved-male-to-male-splice-connector/" target="_blank"><img src="/product_images/uploaded_images/ElectricZone/EZ-L207HVRGB4PIN-4-Pin-Male-Splice-Connector.jpg" alt="4 Pin Male Splice Connector" title="4 Pin Male Splice Connector">Splice Connector</a>
    </li>
    <li class='accessorytab'>
        <a href="/rope-light/ropelight-accessories/cords-connectors/4-pin-male-splice-connector/" target="_blank"><img src="/product_images/uploaded_images/ElectricZone/EZ-L208HVRGBCFS-4-Pin-Sleeved-Splice-Connector.jpg" alt="4 Pin Sleeved Male to Male Splice Connector" title="4 Pin Sleeved Male to Male Splice Connector">Sleeved Splice Connector</a>
    </li>
    <li class='accessorytab'>
        <a href="/rope-light/ropelight-accessories/cords-connectors/4-pin-female-to-female-extension-cable/" target="_blank"><img src="/product_images/uploaded_images/ElectricZone/EZ-L202HVFS-120V-Female-to-Female-Extension-Cable.jpg" alt="Female to Female Extension Cable" title="Female to Female Extension Cable">Extension Cable</a>
    </li>
</ul>
<br>
<span class='product-title'>Misc:</span>
<ul class='accessorytab'>
    <li class='accessorytab'>
        <a href="/rope-light/ropelight-accessories/cords-connectors/invisible-square-rope-light-end-cap-endcap/" target="_blank"><img src="/product_images/uploaded_images/ElectricZone/EZ-ENDCAP-Invisible-Square-Rope-Light-End-Cap.jpg" alt="Plastic Invisible Square End Cap" title="Plastic Invisible Square End Cap">Square End Cap</a>
    </li>
    <li class='accessorytab'>
        <a href="/rope-light/ropelight-accessories/mounting/10mm-square-mounting-clip/" target="_blank"><img src="/product_images/uploaded_images/ElectricZone/EZ-MOUCLI-10mm-Mounting-Clip.jpg" alt="10mm Square Mounting Clip" title="10mm Square Mounting Clip">10mm Mounting Clip</a>
    </li>
</ul>​
