<div>
    <span class='product-title'>Cords &amp; Connectors:</span>
    <ul class='accessorytab'>
        <li>
            <a href="/rope-light/ropelight-accessories/tape-light-connectors-adapters/120v-hybrid-2-power-connection-kit-h2-conkit-8a/" target="_blank">
                <img src="/product_images/uploaded_images/HYBRID/H2-CONKIT-8A-Hybrid-2-Power-Connection-Kit.jpg" alt="Hybrid 2 Power Connection Kit" title="Click Here for Power Connection Kit Info">Power Connection Kit
            </a>
        </li>
        <li>
            <a href="/rope-light/ropelight-accessories/tape-light-connectors-adapters/hybrid-2-invisible-splice-kit-h2-spl/" target="_blank">
                <img src="/product_images/uploaded_images/HYBRID/H2-SPL-Hybrid-2-Invisible-Splice-Kit.jpg" alt="Hybrid 2 Invisible Splice Kit" title="Click Here for Invisible Splice Kit Info">Splice Kit
            </a>
        </li>
        <li>
            <a href="/rope-light/ropelight-accessories/tape-light-connectors-adapters/hybrid-2-jumper-cables-h2-jump/" target="_blank"><img src="/product_images/uploaded_images/HYBRID/H2-JUMP-Hybrid-2-Jumper-Extension-Cable.jpg" alt="Hybrid 2 Jumper Extension Cables" title="Click Here for Jumper Extension Cable Info">Jumper Cable</a>
        </li>
        <li>
            <a href="/rope-light/ropelight-accessories/tape-light-connectors-adapters/hybrid-2-clear-plastic-end-caps-10-pack-h2-ends/" target="_blank"><img src="/product_images/uploaded_images/HYBRID/H2-ENDS-Clear-Plastic-End-Cap.jpg" alt="Hybrid 2 Clear Plastic End Caps" title="Click Here for End Cap Info">End Caps</a>
        </li>
    </ul>
    <span class='product-title'>Mounting:</span>
    <ul class='accessorytab'>
        <li>
            <a href="/rope-light/ropelight-accessories/mounting/clear-plastic-mounting-channel-10-pack-3ft-sections-hybrid-2/" target="_blank"><img src="/product_images/uploaded_images/HYBRID/H2-TRACK-3-Clear-Plastic-Mounting-Track.jpg" alt="3 Foot Clear Plastic Mounting Channel" title="Click Here for Plastic Mounting Channel Info">Clear Plastic Channel</a>
        </li>
        <li>
            <a href="/rope-light/ropelight-accessories/mounting/aluminum-mounting-channel-track-10-pack-3ft-sections-h2-chan-3/" target="_blank"><img src="/product_images/uploaded_images/HYBRID/H2-CHAN-3-Aluminum-Mounting-Channel-Track.jpg" alt="3 Foot Aluminum Mounting Track" title="Click Here for Aluminum Mounting Track Info">Aluminum Track</a>
        </li>
        <li>
            <a href="/rope-light/ropelight-accessories/mounting/hybrid-2-clear-plastic-mounting-clips-10-pack-h2-clips/" target="_blank"><img src="/product_images/uploaded_images/HYBRID/H2-CLIPS-Clear-Plastic-Mounting-Clip-and-Screws.jpg" alt="Hybrid 2 Clear Plastic Mounting Clips with Screws" title="Click Here for Mounting Clip Info">Plastic Clips</a>
        </li>
    </ul>
</div>​
