<div> <span class='product-title'>HYBRID 2 Accessories:</span>
    <ul class='accessorytab'>
        <li>
            <a href="/rope-light/ropelight-accessories/tape-light-connectors-adapters/120v-hybrid-2-power-connection-kit-h2-conkit-8a/" alt="HYBRID 2 Power Connection Kit" title="HYBRID 2 Power Connection Kit">
                <img src="/product_images/uploaded_images/HYBRID/H2-CONKIT-8A-Hybrid-2-Power-Connection-Kit.jpg">Power Connection Kit</a>
        </li>
        <li>
            <a href="/rope-light/ropelight-accessories/tape-light-connectors-adapters/hybrid-2-invisible-splice-kit-h2-spl/" alt="HYBRID 2 Jumper Cable" title="HYBRID 2 Splice Kit">
                <img src="/product_images/uploaded_images/HYBRID/H2-SPL-Hybrid-2-Invisible-Splice-Kit.jpg">Splice Kit</a>
        </li>
        <li>
            <a href="/rope-light/ropelight-accessories/tape-light-connectors-adapters/hybrid-2-clear-plastic-end-caps-10-pack-h2-ends/" alt="HYBRID 2 End Cap" title="HYBRID 2 End Cap">
                <img src="/product_images/uploaded_images/HYBRID/H2-ENDS-Clear-Plastic-End-Cap.jpg">End Caps</a>
        </li>
        <li>
            <a href="/rope-light/ropelight-accessories/mounting/3ft-aluminum-mounting-channel-track-h2-chan/" alt="3 Foot Aluminum Mounting Channel" title="3 Foot Aluminum Mounting Channel">
                <img src="/product_images/uploaded_images/HYBRID/H2-CHAN-3-Aluminum-Mounting-Channel-Track.jpg">Mounting Channel</a>
        </li>
        <li>
            <a href="/rope-light/ropelight-accessories/mounting/hybrid-2-clear-plastic-mounting-clips-10-pack-h2-clips/" alt="Clear Plastic Mounting Clips" title="Clear Plastic Mounting Clips"><img src="/product_images/uploaded_images/HYBRID/H2-CLIPS-Clear-Plastic-Mounting-Clip-and-Screws.jpg">Mounting Clips</a>
        </li>
    </ul>
</div>​
