<div> <span class='product-title'>Power Cords &amp; Connectors:</span>
    <ul class='accessorytab'>
        <li>
            <a href="/indoor-lighting/indoor-accessories/25ft-24v-power-supply-lead-cable-12344-kichler/" target="_blank"><img src="/product_images/uploaded_images/Kichler/12344BK-25-Foot-24V-LED-Power-Supply-Lead-Cable-in-Black.jpg" alt="25 Foot Power Supply Lead Cable in Black">25ft Power Supply Lead Cable</a>
        </li>
        <li>
            <a href="/indoor-lighting/indoor-accessories/8ft-24v-power-supply-lead-cable-12346-kichler/" target="_blank"><img src="/product_images/uploaded_images/Kichler/12346WH-8-Foot-24V-Power-Supply-Lead-Cable-in-White.jpg" alt="8 Foot Power Supply Lead Cable in White">8ft Power Supply Lead Cable</a>
        </li>
        <li>
            <a href="/indoor-lighting/indoor-accessories/modular-led-collection-interconnect-linking-cable-design-pro-kichler/" target="_blank"><img src="/product_images/uploaded_images/Kichler/12341WH-Design-Pro-Interconnect-Link-Cable-in-White.jpg" alt="9 Inch Design Pro Interconnect Linker Cable in White">Interconnect Link Cables</a>
        </li>
    </ul>
</div>
