<link href="../Untitled-1.css" rel="stylesheet" type="text/css">
<table class='bulbTable'>
    <tr>
        <th>Recommended Compatible Bulbs</th>
        <th>Voltage</th>
        <th>Wattage</th>
        <th>Socket Type</th>
        <th>Color Temp</th>
        <th>Lumens</th>
        <th>Lifespan</th>
        <th>Beam Spread</th>
        <th>Rating</th>
        <th>Dimmable</th>
    </tr>
    <tbody>
        <tr>
            <td>
                <a href='/lightbulbs/led-light-bulbs/led-a19-bulbs/12v-5w-led-cool-white-a19-light-bulb/'><img class="product-sideimg" src="https://cdn1.bigcommerce.com/server1000/tc515/products/1883/images/9196/12V_5w_LED_Cool_White_A19_Light_Bulb_2__08082.1412701796.1280.1280.jpg?c=2" alt="12V 5W LED COOL WHITE A19 LIGHT BULB">
                    <br>12V 5W LED COOL WHITE A19</a>
            </td>
            <td>12V</td>
            <td>5w</td>
            <td>Medium Base E26</td>
            <td>Cool White (5500K)</td>
            <td>~350 Lumens</td>
            <td>40,000 Hours</td>
            <td>Wide Flood (60&deg;)</td>
            <td>Indoor/ Outdoor</td>
            <td>No</td>
        </tr>
        <tr>
            <td>
                <a href='/lightbulbs/led-light-bulbs/led-a19-bulbs/12v-5w-led-warm-white-a19-light-bulb/'><img class="product-sideimg" src="https://cdn1.bigcommerce.com/server1000/tc515/products/1882/images/9200/12V_5w_LED_Warm_White_A19_Light_Bulb_50924.1406794072.1280.1280__27892.1412707576.1280.1280.jpg?c=2" alt="12V 5W LED WARM WHITE A19 LIGHT BULB">
                    <br>12V 5W LED WARM WHITE A19</a>
            </td>
            <td>12V</td>
            <td>5w</td>
            <td>Medium Base E26</td>
            <td>Warm White (3000K)</td>
            <td>~350 Lumens</td>
            <td>40,000 Hours</td>
            <td>Wide Flood (60&deg;)</td>
            <td>Indoor/ Outdoor</td>
            <td>No</td>
        </tr>
        <tr>
            <td>
                <a href='/lightbulbs/led-light-bulbs/led-medium-base/professional-grade-120v-3-2w-warm-white-led-a19-light-bulb/'><img class="product-sideimg" src="https://cdn1.bigcommerce.com/server1000/tc515/products/801/images/6026/Professional_Grade_A_Light_Bulb_LEDA__19011.1406792292.1280.1280.jpg?c=2" alt="PROFESSIONAL GRADE 120V 3.2W WARM WHITE LED A19 LIGHT BULB">
                    <br>PROFESSIONAL GRADE 120V 3.2W WARM WHITE LED A19</a>
            </td>
            <td>120V</td>
            <td>3.2w</td>
            <td>Medium Base E26</td>
            <td>Warm White (3000K)</td>
            <td>~200 Lumens</td>
            <td>50,000 Hours</td>
            <td>Full Coverage (360&deg;)</td>
            <td>Indoor/ Outdoor</td>
            <td>No</td>
        </tr>
        <tr>
            <td>
                <a href='/lightbulbs/led-light-bulbs/led-a19-bulbs/120v-5w-led-cool-white-a19-light-bulb/'><img class="product-sideimg" src="https://cdn1.bigcommerce.com/server1000/tc515/products/1885/images/9199/120V_5w_LED_Cool_White_A19_Light_Bulb__81831.1412707526.1280.1280.jpg?c=2" alt="120V 5W LED COOL WHITE A19 LIGHT BULB">
                    <br>120V 5W LED COOL WHITE A19</a>
            </td>
            <td>120V</td>
            <td>5w</td>
            <td>Medium Base E26</td>
            <td>Cool White (5500K)</td>
            <td>~350 Lumens</td>
            <td>40,000 Hours</td>
            <td>Wide Flood (60&deg;)</td>
            <td>Indoor/ Outdoor</td>
            <td>No</td>
        </tr>
        <tr>
            <td>
                <a href='/lightbulbs/led-light-bulbs/led-a19-bulbs/120v-5w-led-warm-white-a19-light-bulb/'><img class="product-sideimg" src="https://cdn1.bigcommerce.com/server1000/tc515/products/1884/images/9201/120V_5w_LED_Warm_White_A19_Light_Bulb_50924.1406794072.1280__99076.1412708319.1280.1280.jpg?c=2" alt="120V 5W LED WARM WHITE A19 LIGHT BULB">
                    <br>120V 5W LED WARM WHITE A19</a>
            </td>
            <td>120V</td>
            <td>5w</td>
            <td>Medium Base E26</td>
            <td>Warm White (3000K)</td>
            <td>~350 Lumens</td>
            <td>40,000 Hours</td>
            <td>Wide Flood (60&deg;)</td>
            <td>Indoor/ Outdoor</td>
            <td>No</td>
        </tr>
        <tr>
            <td>
                <a href='/lightbulbs/led-light-bulbs/led-a19-bulbs/120v-7-5w-led-cool-white-multiuse-globe-light-bulb/'><img class="product-sideimg" src="https://cdn1.bigcommerce.com/server1000/tc515/products/1667/images/6055/LED_40w_Equivalent_7.5w_Multiuse_Globe_Light_Bulb__98495.1406793646.1280.1280.jpg?c=2" alt="120V 7.5W LED COOL WHITE MULTIUSE GLOBE LIGHT BULB">
                    <br>120V 7.5W LED COOL WHITE MULTIUSE GLOBE</a>
            </td>
            <td>120V</td>
            <td>7.5w</td>
            <td>Medium Base E26</td>
            <td>Cool White (5000K)</td>
            <td>500 Lumens</td>
            <td>25,000 Hours</td>
            <td>240&deg;</td>
            <td>UL Listed for Dry Locations, FCC/RoHS Compliant</td>
            <td>Full Range</td>
        </tr>
        <tr>
            <td>
                <a href='/lightbulbs/led-light-bulbs/led-a19-bulbs/120v-7-5w-led-warm-white-multiuse-globe-light-bulb/'><img class="product-sideimg" src="https://cdn1.bigcommerce.com/server1000/tc515/products/1763/images/6547/LED_40w_Equivalent_7.5w_Multiuse_Globe_Light_Bulb__26910.1406792480.1280.1280.jpg?c=2" alt="120V 7.5W LED WARM WHITE MULTIUSE GLOBE LIGHT BULB">
                    <br>120V 7.5W LED WARM WHITE MULTIUSE GLOBE</a>
            </td>
            <td>120V</td>
            <td>7.5w</td>
            <td>Medium Base E26</td>
            <td>Warm White (3000K)</td>
            <td>500 Lumens</td>
            <td>25,000 Hours</td>
            <td>240&deg;</td>
            <td>UL Listed for Dry Locations, FCC/RoHS Compliant</td>
            <td>Full Range</td>
        </tr>
        <tr>
            <td>
                <a href='/lightbulbs/led-light-bulbs/led-a-bulbs/120v-8w-led-a19-light-bulb/'><img class="product-sideimg" src="https://cdn1.bigcommerce.com/server1000/tc515/products/1646/images/5955/120V_8w_LED_A19_Light_Bulb_BPA19_CL_DM_LED__17781.1406794360.1280.1280.jpg?c=2" alt="120V 8W LED A19 LIGHT BULB">
                    <br>120V 8W LED A19 BULB</a>
            </td>
            <td>120V</td>
            <td>8w</td>
            <td>Medium Base E26</td>
            <td>Warm White (3000K)</td>
            <td>500 Lumens</td>
            <td>25,000 Hours</td>
            <td>180&deg;</td>
            <td>UL, RoHS, FCC</td>
            <td>Full Range</td>
        </tr>
        <tr>
            <td>
                <a href='/lightbulbs/led-light-bulbs/led-a19-bulbs/120v-9-8w-led-multiuse-globe-light-bulb/'><img class="product-sideimg" src="https://cdn1.bigcommerce.com/server1000/tc515/products/1668/images/6059/120V_9.8w_60w_Equivalent_LED_Multiuse_Globe_Light_Bulb__90893.1406796901.1280.1280.jpg?c=2" alt="120V 9.8W LED MULTIUSE GLOBE LIGHT BULB">
                    <br>120V 9.8W LED MULTIUSE GLOBE</a>
            </td>
            <td>120V</td>
            <td>9.8w</td>
            <td>Medium Base E26</td>
            <td>Warm White (3000K)</td>
            <td>500 Lumens</td>
            <td>25,000 Hours</td>
            <td>240&deg;</td>
            <td>UL Listed for Dry Locations, FCC/RoHS Compliant</td>
            <td>Full Range</td>
        </tr>
        <tr>
            <td>
                <a href='/lightbulbs/led-light-bulbs/led-a19-bulbs/120v-14w-led-multiuse-a19-globe-light-bulb/'><img class="product-sideimg" src="https://cdn1.bigcommerce.com/server1000/tc515/products/1651/images/5963/120V_14w_LED_Multiuse_Globe_Light_Bulb_5000K_by_Feit__89065.1406797111.1280.1280.jpg?c=2" alt="120V 14W LED MULTIUSE A19 GLOBE LIGHT BULB">
                    <br>120V 14W LED MULTIUSE A19 GLOBE</a>
            </td>
            <td>120V</td>
            <td>14w</td>
            <td>Medium Base E26</td>
            <td>Cool White (5000K)</td>
            <td>1100 Lumens</td>
            <td>25,000 Hours</td>
            <td>240&deg;</td>
            <td>UL/CUL Listed for Damp Locations, FCC Compliant, RoHS Compliant</td>
            <td>Full Range</td>
        </tr>
        <tr>
            <td>
                <a href='/lightbulbs/led-light-bulbs/led-a19-bulbs/120v-16w-led-warm-white-a19-remote-phosphor-light-bulb/'><img class="product-sideimg" src="https://cdn1.bigcommerce.com/server1000/tc515/products/1652/images/5965/120V_16w_LED_A19_Remote_Phosphor_Light_Bulb_by_Feit__51745.1406795336.1280.1280.jpg?c=2" alt="120V 16W LED WARM WHITE A19 REMOTE PHOSPHOR LIGHT BULB">
                    <br>120V 16W LED WARM WHITE A19 REMOTE PHOSPHOR</a>
            </td>
            <td>120V</td>
            <td>16w</td>
            <td>Medium Base E26</td>
            <td>Warm White (3000K)</td>
            <td>1100 Lumens</td>
            <td>25,000 Hours</td>
            <td>300&deg;</td>
            <td>UL/ETL Listed, FCC Compliant, RoHS Compliant, Energy Star Approved</td>
            <td>Full Range</td>
        </tr>
        <tr>
            <td>
                <a href='/lightbulbs/led-light-bulbs/led-a19-bulbs/120v-22w-led-cool-white-a19-remote-phosphor-light-bulb/'><img class="product-sideimg" src="https://cdn1.bigcommerce.com/server1000/tc515/products/2077/images/7706/120V_22w_Performance_LED_Natural_Daylight_A19_Remote_Phosphor_Light_Bulb__99188.1406796533.1280.1280.jpg?c=2" alt="120V 22W LED COOL WHITE A19 REMOTE PHOSPHOR LIGHT BULB">
                    <br>120V 22W LED COOL WHITE A19 REMOTE PHOSPHOR</a>
            </td>
            <td>120V</td>
            <td>22w</td>
            <td>Medium Base E26</td>
            <td>Cool White (5000K)</td>
            <td>1600 Lumens</td>
            <td>25,000 Hours</td>
            <td>300&deg;</td>
            <td>UL/ETL Listed, FCC Compliant, RoHS Compliant, Energy Star Approved</td>
            <td>Full Range</td>
        </tr>
        <tr>
            <td>
                <a href='/lightbulbs/led-light-bulbs/led-a19-bulbs/audiobulb-wireless-speaker-light-bulb-120v-3w-led-e27-medium-base-audio-bulb/'><img class="product-sideimg" src="https://cdn1.bigcommerce.com/server1000/tc515/products/2266/images/9202/120V_3W_E27_Medium_Base_LED_Light_Bulb_with_Built_In_Bluetooth_Speaker_48496.1407877172.1280__49448.1412709984.1280.1280.jpg?c=2" alt="WIRELESS SPEAKER LIGHT BULB - 120V 3W LED E27 MEDIUM BASE AUDIO BULB">
                    <br>WIRELESS SPEAKER LIGHT BULB - 120V 3W LED E27 MEDIUM BASE AUDIO BULB</a>
            </td>
            <td>110-240V</td>
            <td>6w (3w for lamp / 3w power amp for speaker)</td>
            <td>Medium Base E27</td>
            <td>Warm White (2700-3100K) / Cool White (5700-6300K)</td>
            <td>~300 Lumens</td>
            <td>35,000 Hours</td>
            <td>Wide Area (80&deg; - 120&deg;)</td>
            <td>Indoor</td>
            <td>No</td>
        </tr>
    </tbody>
</table>​
