<link href="Untitled-1.css" rel="stylesheet" type="text/css">
<table class='bulbTable'>
    <tr>
        <th>Recommended Compatible Bulbs</th>
        <th>Voltage</th>
        <th>Wattage</th>
        <th>Socket Type</th>
        <th>Color Temp</th>
        <th>Lumens</th>
        <th>Lifespan</th>
        <th>Beam Spread</th>
        <th>Listing</th>
        <th>Dimmable</th>
    </tr>
    <tbody>
        <tr>
            <td>
                <a href='/lightbulbs/led-light-bulbs/led-reflector/120v-8w-high-output-warm-white-reflector-led-light-bulb-br20/'><img src="http://cdn1.bigcommerce.com/server1000/tc515/products/1631/images/5913/BR20_High_Output_Reflector_Light_Bulb_BR20_DM_LED__54745.1406794858.1280.1280.jpg?c=2" alt="120V 8W HIGH OUTPUT WARM WHITE REFLECTOR LED LIGHT BULB BR20">
                    <br>120V 8W HIGH OUTPUT WARM WHITE REFLECTOR LED BR20</a>
            </td>
            <td>120V</td>
            <td>8w</td>
            <td>Medium Base E26</td>
            <td>Warm White (2700K)</td>
            <td>450 Lumens</td>
            <td>25,000 Hours</td>
            <td>Wide Flood (120&deg;)</td>
            <td>E330072 UL Listed for Moist Locations</td>
            <td>Full Range</td>
        </tr>
        <tr>
            <td>
                <a href='/lightbulbs/led-light-bulbs/led-reflector/120v-11w-energy-star-warm-white-dimmable-led-br30-reflector-light-bulb-elb11-3/'><img src="http://cdn1.bigcommerce.com/server1000/tc515/products/2339/images/8615/120V_11w_Energy_Star_Rated_LED_BR30_Reflector_Light_Bulb_by_DLU__80108.1410209347.1280.1280.jpg?c=2" alt="120V 11W ENERGY STAR WARM WHITE DIMMABLE LED BR30 REFLECTOR LIGHT BULB ELB11-3">
                    <br>120V 11W ENERGY STAR WARM WHITE DIMMABLE LED BR30</a>
            </td>
            <td>120V</td>
            <td>11w</td>
            <td>Medium Base E26</td>
            <td>Warm White (3000K)</td>
            <td>800 Lumens</td>
            <td>35,000 Hours</td>
            <td>Wide Flood (120&deg;)</td>
            <td>Energy Star / UL Listed for Damp Locations (E2468230)</td>
            <td>Full Range</td>
        </tr>
        <tr>
            <td>
                <a href='/lightbulbs/led-light-bulbs/led-reflector/120v-13w-high-output-warm-white-led-reflector-light-bulb-br30/'><img src="http://cdn1.bigcommerce.com/server1000/tc515/products/1570/images/5607/BR30_High_Output_LED_Reflector_R30_Light_Bulb__00721.1406793942.1280.1280.jpg?c=2" alt="120V 13W HIGH OUTPUT WARM WHITE LED REFLECTOR LIGHT BULB BR30">
                    <br>120V 13W HIGH OUTPUT WARM WHITE LED BR30</a>
            </td>
            <td>120V</td>
            <td>13w</td>
            <td>Medium Base E26</td>
            <td>Warm White (3000K)</td>
            <td>750 Lumens</td>
            <td>25,000 Hours</td>
            <td>Wide Flood (120&deg;)</td>
            <td>E330072 UL Listed for Moist Locations</td>
            <td>Full Range</td>
        </tr>
        <tr>
            <td>
                <a href='/lightbulbs/led-light-bulbs/led-reflector/120v-13w-warm-white-led-reflector-light-bulb-br30-ledg2/'><img src="http://cdn1.bigcommerce.com/server1000/tc515/products/2091/images/7754/120V_13w_High_Output_Soft_White_LED_BR30__55926.1406793322.1280.1280.jpg?c=2" alt="120V 13W WARM WHITE LED REFLECTOR LIGHT BULB BR30 LEDG2">
                    <br>120V 13W WARM WHITE LED REFLECTOR BR30</a>
            </td>
            <td>120V</td>
            <td>13w</td>
            <td>Medium Base E26</td>
            <td>Warm White (2700K)</td>
            <td>750 Lumens</td>
            <td>25,000 Hours</td>
            <td>Wide Flood (120&deg;)</td>
            <td>Indoor Rated, UL/CUL Listed</td>
            <td>Full Range</td>
        </tr>
        <tr>
            <td>
                <a href='/lightbulbs/led-light-bulbs/led-reflector/120v-17w-high-output-warm-white-led-reflector-light-bulb-br40/'><img src="http://cdn1.bigcommerce.com/server1000/tc515/products/1602/images/6693/120V_17w_High_Output_Soft_White_LED_Reflector_Light_Bulb_BR40__93436.1406793495.1280.1280.jpg?c=2" alt="120V 17W HIGH OUTPUT WARM WHITE LED REFLECTOR LIGHT BULB BR40">
                    <br>120V 17W HIGH OUTPUT WARM WHITE LED BR40</a>
            </td>
            <td>120V</td>
            <td>17w</td>
            <td>Medium Base E26</td>
            <td>Warm White (2700K)</td>
            <td>1065 Lumens</td>
            <td>25,000 Hours</td>
            <td>Wide Flood (120&deg;)</td>
            <td>E330072 UL Listed for Moist Locations</td>
            <td>Full Range</td>
        </tr>
        <tr>
            <td>
                <a href='/lightbulbs/led-light-bulbs/led-reflector/120v-20w-led-high-output-warm-white-br30-reflector-light-bulb/'><img src="http://cdn1.bigcommerce.com/server1000/tc515/products/1843/images/6788/120V_20W_BR30_High_Output_Reflector_Light_Bulb__20969.1406793889.1280.1280.jpg?c=2" alt="120V 20W LED HIGH OUTPUT WARM WHITE BR30 REFLECTOR LIGHT BULB">
                    <br>120V 20W LED HIGH OUTPUT WARM WHITE BR30</a>
            </td>
            <td>120V</td>
            <td>20w</td>
            <td>Medium Base E26</td>
            <td>Warm White (2700K)</td>
            <td>1150 Lumens</td>
            <td>25,000 Hours</td>
            <td>Wide Flood (120&deg;)</td>
            <td>UL Listed for Damp Locations, FCC/RoHS Compliant</td>
            <td>Full Range</td>
        </tr>
        <tr>
            <td>
                <a href='/lightbulbs/led-light-bulbs/led-reflector/120v-36w-high-output-soft-white-led-reflector-light-bulb-br40/'><img src="http://cdn1.bigcommerce.com/server1000/tc515/products/1664/images/6038/thumb__19025.1406792811.1280.1280.jpg?c=2" alt="120V 36W HIGH OUTPUT WARM WHITE LED REFLECTOR LIGHT BULB BR40">
                    <br>120V 36W HIGH OUTPUT WARM WHITE LED BR40</a>
            </td>
            <td>120V</td>
            <td>36w</td>
            <td>Medium Base E26</td>
            <td>Warm White (3000K)</td>
            <td>2500 Lumens</td>
            <td>25,000 Hours</td>
            <td>Wide Flood (120&deg;)</td>
            <td>E330072 UL Listed for Moist Locations</td>
            <td>Full Range</td>
        </tr>
    </tbody>
</table>​
