<link href="Untitled-1.css" rel="stylesheet" type="text/css">
<table class='bulbTable'>
    <tr>
        <th>Recommended Compatible Bulbs</th>
        <th>Voltage</th>
        <th>Wattage</th>
        <th>Socket Type</th>
        <th>Color Temp</th>
        <th>Lumens</th>
        <th>Lifespan</th>
        <th>Beam Spread</th>
        <th>Listing</th>
        <th>Dimmable</th>
    </tr>
    <tbody>
        <tr>
            <td>
                <a href='/lightbulbs/led-light-bulbs/led-bayonet/12v-2w-cool-white-led-single-contact-frosted-bayonet-light-bulb-aqy-bay48/'><img src="https://cdn1.bigcommerce.com/server1000/tc515/products/2042/images/7576/12V_2w_LED_Single_Contact_Bayonet_Light_Bulb_62920.1393882027.1280.1280__55828.1406794033.1280.1280.jpg?c=2" alt="12V 2W COOL WHITE LED SINGLE CONTACT FROSTED BAYONET LIGHT BULB AQY-BAY48">
                    <br>12V 2W COOL WHITE LED SINGLE CONTACT FROSTED BAYONET</a>
            </td>
            <td>12V</td>
            <td>2w</td>
            <td>Single Contact Bayonet</td>
            <td>Cool White (5000-5500K)</td>
            <td>220 Lumens</td>
            <td>25,000 Hours</td>
            <td>Full Coverage (360&deg;)</td>
            <td>Indoor/Outdoor Rated</td>
            <td>Yes, with Magnetic Dimmer</td>
        </tr>
        <tr>
            <td>
                <a href='/lightbulbs/led-light-bulbs/led-bayonet/12v-2w-warm-white-led-single-contact-frosted-bayonet-light-bulb-aqy-bay48/'><img src="https://cdn1.bigcommerce.com/server1000/tc515/products/1701/images/6162/12V_2w_LED_Single_Contact_Bayonet_Light_Bulb__62920.1406796410.1280.1280.jpg?c=2" alt="12V 2W WARM WHITE LED SINGLE CONTACT FROSTED BAYONET LIGHT BULB AQY-BAY48">
                    <br>12V 2W WARM WHITE LED SINGLE CONTACT FROSTED BAYONET</a>
            </td>
            <td>12V</td>
            <td>2w</td>
            <td>Single Contact Bayonet</td>
            <td>Warm White (2700-3000K)</td>
            <td>220 Lumens</td>
            <td>25,000 Hours</td>
            <td>Full Coverage (360&deg;)</td>
            <td>Indoor/Outdoor Rated</td>
            <td>Yes, with Magnetic Dimmer</td>
        </tr>
        <tr>
            <td>
                <a href='/lightbulbs/led-light-bulbs/led-bayonet/12v-2w-cool-white-led-single-contact-bayonet-light-bulb-aqy-bay-25/'><img src="https://cdn1.bigcommerce.com/server1000/tc515/products/802/images/5992/12V_2w_LED_Single_Contact_Bayonet_Light_Bulb_AQY_BAY_25_by_AQL__62472.1406795073.1280.1280.jpg?c=2" alt="12V 2W COOL WHITE LED SINGLE CONTACT BAYONET LIGHT BULB AQY-BAY-25">
                    <br>12V 2W COOL WHITE LED SINGLE CONTACT BAYONET</a>
            </td>
            <td>12V</td>
            <td>2w</td>
            <td>Single Contact Bayonet</td>
            <td>Cool White (5000-5500K)</td>
            <td>220 Lumens</td>
            <td>30,000 Hours</td>
            <td>Wide Spot (30&deg;)</td>
            <td>Indoor/Outdoor</td>
            <td>No</td>
        </tr>
        <tr>
            <td>
                <a href='/lightbulbs/led-light-bulbs/led-bayonet/12v-2w-warm-white-led-single-contact-bayonet-light-bulb-aqy-bay-25/'><img src="https://cdn1.bigcommerce.com/server1000/tc515/products/2043/images/7579/12V_2w_LED_Single_Contact_Bayonet_Light_Bulb_AQY_BAY_25_by_AQL_62472__84580.1406792435.1280.1280.jpg?c=2" alt="12V 2W WARM WHITE LED SINGLE CONTACT BAYONET LIGHT BULB AQY-BAY-25">
                    <br>12V 2W WARM WHITE LED SINGLE CONTACT BAYONET</a>
            </td>
            <td>12V</td>
            <td>2w</td>
            <td>Single Contact Bayonet</td>
            <td>Warm White (2700-3000K)</td>
            <td>180 Lumens</td>
            <td>30,000 Hours</td>
            <td>Wide Spot (30&deg;)</td>
            <td>Indoor/Outdoor</td>
            <td>No</td>
        </tr>
    </tbody>
</table>​
