<link href="Untitled-1.css" rel="stylesheet" type="text/css">
<table class='bulbTable'>
    <tr>
        <th>Recommended Compatible Bulbs</th>
        <th>Voltage</th>
        <th>Wattage</th>
        <th>Socket Type</th>
        <th>Color Temp</th>
        <th>Lumens</th>
        <th>Lifespan</th>
        <th>Beam Spread</th>
        <th>Listing</th>
        <th>Dimmable</th>
    </tr>
    <tbody>
        <tr>
            <td>
                <a href='/lightbulbs/led-light-bulbs/led-candelabra/120v-1-8w-led-candelabra-light-bulb-led-can/'><img src="http://cdn1.bigcommerce.com/server1000/tc515/products/800/images/9203/led_candelabra_bulb_120v_43943.1362002317.1280.1280_60830.1406794860.1280__14175.1412789830.1280.1280.jpg?c=2" alt="120V 1.8W LED CANDELABRA LIGHT BULB LED-CAN">
                    <br>120V 1.8W LED CANDELABRA</a>
            </td>
            <td>120V</td>
            <td>1.8w</td>
            <td>Candelabra Base E12</td>
            <td>Warm White (3000K)</td>
            <td>72 Lumens (clear) or 66 Lumens (frosted) </td>
            <td>30,000 Hours</td>
            <td>Full 360&deg; Coverage</td>
            <td>Indoor/Outdoor</td>
            <td>No</td>
        </tr>
        <tr>
            <td>
                <a href='/lightbulbs/led-series/led-medium-base/performance-led-3w-candelabra-light-bulb-cfc-dm-led/'><img src="http://cdn1.bigcommerce.com/server1000/tc515/products/1595/images/9206/Performance_LED_Candelabra_Light_Bulb_by_Feit_19993.1406794442.1280__26967.1412792102.1280.1280.jpg?c=2" alt="PERFORMANCE LED 3W CANDELABRA LIGHT BULB CFC/DM/LED">
                    <br>PERFORMANCE LED 3W CANDELABRA</a>
            </td>
            <td>120V</td>
            <td>3w</td>
            <td>Candelabra Base E12</td>
            <td>Warm White (3000K)</td>
            <td>160 Lumens</td>
            <td>50,000 Hours</td>
            <td>Wide Flood (180&deg;)</td>
            <td>UL Listed for Damp Locations, ETL 4002596</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>
                <a href='/lightbulbs/led-light-bulbs/led-candelabra/120v-4-8w-led-decorative-candelabra-globe-light-bulb/'><img src="http://cdn1.bigcommerce.com/server1000/tc515/products/1648/images/5957/120V_4.8w_LED_Decorative_Globe_Candelabra_Light_Bulb_by_Feit__56991.1406792650.1280.1280.jpg?c=2" alt="120V 4.8W LED DECORATIVE CANDELABRA GLOBE LIGHT BULB">
                    <br>120V 4.8W LED DECORATIVE CANDELABRA GLOBE</a>
            </td>
            <td>120V</td>
            <td>4.8w</td>
            <td>Candelabra Base E12</td>
            <td>Warm White (3000K)</td>
            <td>300 Lumens</td>
            <td>30,000 Hours</td>
            <td>Wide Flood (180&deg;)</td>
            <td>UL Listed, FCC, RoHS</td>
            <td>Full Range</td>
        </tr>
    </tbody>
</table>​
