<link href="Untitled-1.css" rel="stylesheet" type="text/css">
<table class='bulbTable'>
    <tr>
        <th>Recommended Compatible Bulbs</th>
        <th>Voltage</th>
        <th>Wattage</th>
        <th>Socket Type</th>
        <th>Color Temp</th>
        <th>Lumens</th>
        <th>Lifespan</th>
        <th>Beam Spread</th>
        <th>Listing</th>
        <th>Dimmable</th>
    </tr>
    <tbody>
        <tr>
            <td>
                <a href='/lightbulbs/led-light-bulbs/led-jc-bi-pin/12v-2w-cool-white-led-crystal-jc-bi-pin-light-bulb-aqy-348/'><img src="http://cdn1.bigcommerce.com/server1000/tc515/products/1866/images/9209/LED_JC_Bi_Pin_Light_Bulb_AQY_348_20198.1406792811.1280__70589.1412805493.1280.1280.jpg?c=2" alt="12V 2W COOL WHITE LED CRYSTAL JC BI PIN LIGHT BULB AQY-348">
                    <br>12V 2W COOL WHITE LED CRYSTAL JC BI PIN</a>
            </td>
            <td>12V</td>
            <td>2w</td>
            <td>GU4 Bi-Pin</td>
            <td>Cool White (5500K)</td>
            <td>210 Lumens</td>
            <td>50,000 Hours</td>
            <td>Full Coverage (360&deg;)</td>
            <td>E330072 UL Listed for Moist Locations</td>
            <td>Yes, with magnetic dimmer</td>
        </tr>
        <tr>
            <td>
                <a href='/lightbulbs/led-light-bulbs/led-jc-bi-pin/12v-2w-warm-white-led-crystal-jc-bi-pin-light-bulb-aqy-348/'><img src="http://cdn1.bigcommerce.com/server1000/tc515/products/1574/images/9210/LED_JC_Bi_Pin_Light_Bulb_AQY_348_20198.1406792811.1280__60991.1412805806.1280.1280.jpg?c=2" alt="12V 2W WARM WHITE LED CRYSTAL JC BI PIN LIGHT BULB AQY-348">
                    <br>12V 2W WARM WHITE LED CRYSTAL JC BI PIN</a>
            </td>
            <td>12V</td>
            <td>2w</td>
            <td>GU4 Bi-Pin</td>
            <td>Warm White (2700K)</td>
            <td>210 Lumens</td>
            <td>50,000 Hours</td>
            <td>Full Coverage (360&deg;)</td>
            <td>E330072 UL Listed for Moist Locations</td>
            <td>Yes, with magnetic dimmer</td>
        </tr>
        <tr>
            <td>
                <a href='/lightbulbs/led-light-bulbs/led-jc-bi-pin/12v-3-5w-cool-white-led-crystal-jc-bi-pin-light-bulb-aqy-557/'><img src="http://cdn1.bigcommerce.com/server1000/tc515/products/1865/images/9211/LED_JC_Bi_Pin_Light_Bulb_AQY_348_20198.1406792811.1280__71494.1412806240.1280.1280.jpg?c=2" alt="12V 3.5W COOL WHITE LED CRYSTAL JC BI PIN LIGHT BULB AQY-557">
                    <br>12V 3.5W COOL WHITE LED CRYSTAL JC BI PIN</a>
            </td>
            <td>12V</td>
            <td>3.5w</td>
            <td>GU4 Bi-Pin</td>
            <td>Cool White (5500K)</td>
            <td>305 Lumens</td>
            <td>50,000 Hours</td>
            <td>Full Coverage (360&deg;)</td>
            <td>E330072 UL Listed for Moist Locations</td>
            <td>Yes, with magnetic dimmer</td>
        </tr>
        <tr>
            <td>
                <a href='/lightbulbs/led-light-bulbs/led-jc-bi-pin/12v-3-5w-warm-white-led-crystal-jc-bi-pin-light-bulb-aqy-557/'><img src="http://cdn1.bigcommerce.com/server1000/tc515/products/1594/images/9212/AQY557_LED_Retrofit_G4_JC_Bi_Pin_Light_Bulb_Warm_White_77658.1406796850.1280__06470.1412806274.1280.1280.jpg?c=2" alt="12V 3.5W WARM WHITE LED CRYSTAL JC BI PIN LIGHT BULB AQY-557">
                    <br>12V 3.5W WARM WHITE LED CRYSTAL JC BI PIN</a>
            </td>
            <td>12V</td>
            <td>3.5w</td>
            <td>GU4 Bi-Pin</td>
            <td>Warm White (2700K)</td>
            <td>305 Lumens</td>
            <td>50,000 Hours</td>
            <td>Full Coverage (360&deg;)</td>
            <td>E330072 UL Listed for Moist Locations</td>
            <td>Yes, with magnetic dimmer</td>
        </tr>
        <tr>
            <td>
                <a href='/lightbulbs/led-light-bulbs/led-jc-bi-pin/120v-2w-cool-white-led-crystal-jc-bi-pin-light-bulb-aqy-432/'><img src="http://cdn1.bigcommerce.com/server1000/tc515/products/1864/images/6849/LED_120V_Crystal_Light_Bulb_AQY_432__64794.1405463882.1280.1280.jpg?c=2" alt="120V 2W COOL WHITE LED CRYSTAL JC BI PIN LIGHT BULB AQY-432">
                    <br>120V 2W COOL WHITE LED CRYSTAL JC BI PIN</a>
            </td>
            <td>120V</td>
            <td>2w</td>
            <td>GU4 Bi-Pin</td>
            <td>Cool White (5500K)</td>
            <td>210 Lumens</td>
            <td>50,000 Hours</td>
            <td>Full Coverage (360&deg;)</td>
            <td>E330072 UL Listed for Moist Locations</td>
            <td>No</td>
        </tr>
        <tr>
            <td>
                <a href='/lightbulbs/led-light-bulbs/led-jc-bi-pin/120v-2w-warm-white-led-crystal-jc-bi-pin-light-bulb-aqy-432/'><img src="http://cdn1.bigcommerce.com/server1000/tc515/products/1625/images/5879/LED_120V_Crystal_Light_Bulb_AQY_432__01549.1406793918.1280.1280.jpg?c=2" alt="120V 2W WARM WHITE LED CRYSTAL JC BI PIN LIGHT BULB AQY-432">
                    <br>120V 2W WARM WHITE LED CRYSTAL JC BI PIN</a>
            </td>
            <td>120V</td>
            <td>2w</td>
            <td>GU4 Bi-Pin</td>
            <td>Warm White (2700K)</td>
            <td>210 Lumens</td>
            <td>50,000 Hours</td>
            <td>Full Coverage (360&deg;)</td>
            <td>E330072 UL Listed for Moist Locations</td>
            <td>No</td>
        </tr>
    </tbody>
</table>​
