<link href="Untitled-1.css" rel="stylesheet" type="text/css">
<table class='bulbTable'>
    <tr>
        <th>Recommended Compatible Bulbs</th>
        <th>Voltage</th>
        <th>Wattage</th>
        <th>Socket Type</th>
        <th>Color Temp</th>
        <th>Lumens</th>
        <th>Lifespan</th>
        <th>Beam Spread</th>
        <th>Rating</th>
        <th>Dimmable</th>
    </tr>
    <tbody>
        <tr>
            <td>
                <a href='/lightbulbs/led-light-bulbs/led-mr16/12v-3w-cob-cool-white-led-mr16-wide-flood-light-bulb/'><img class="product-sideimg" src="https://cdn1.bigcommerce.com/server1000/tc515/products/1736/images/6654/12V_3w_Cool_White_CoB_LED_Flood_Light_Bulb__54455.1406794273.1280.1280.jpg?c=2" alt="12V 3W COB COOL WHITE LED MR16 WIDE FLOOD">
                    <br> 12V 3W COB COOL WHITE LED MR16 WIDE FLOOD</a>
            </td>
            <td>12V</td>
            <td>3w</td>
            <td>GU5.3 Bi-Pin</td>
            <td>Cool White (5500K)</td>
            <td>220 Lumens</td>
            <td>25,000 Hours</td>
            <td>Wide Flood (80&deg;)</td>
            <td>UL Listed for Moist Locations (E330072)</td>
            <td>Yes (with magnetic transformers only)</td>
        </tr>
        <tr>
            <td>
                <a href='/lightbulbs/led-light-bulbs/led-mr16/12v-3w-cob-warm-white-led-mr16-wide-flood-light-bulb/'><img class="product-sideimg" src="http://cdn1.bigcommerce.com/server1000/tc515/products/1735/images/6655/12V_3w_Warm_White_CoB_LED_Flood_Light_Bulb__53525.1406795257.1280.1280.jpg?c=2" alt="12V 3W COB WARM WHITE LED MR16 WIDE FLOOD">
                    <br> 12V 3W COB WARM WHITE LED MR16 WIDE FLOOD</a>
            </td>
            <td>12V</td>
            <td>3w</td>
            <td>GU5.3 Bi-Pin</td>
            <td>Warm White (2700K)</td>
            <td>220 Lumens</td>
            <td>25,000 Hours</td>
            <td>Wide Flood (80&deg;)</td>
            <td>UL Listed for Moist Locations (E330072)</td>
            <td>Yes (with magnetic transformers only)</td>
        </tr>
        <tr>
            <td>
                <a href='/lightbulbs/led-light-bulbs/led-mr16/12v-3w-cool-white-led-mr16-spot-light-bulb/'><img class="product-sideimg" src="http://cdn1.bigcommerce.com/server1000/tc515/products/1740/images/6603/12V_3W_Cool_White_LED_MR16_Spot_Light_Bulb__09162.1406794601.1280.1280.jpg?c=2" alt="12V 3W COOL WHITE LED MR16 SPOT">
                    <br>12V 3W COOL WHITE LED MR16 SPOT</a>
            </td>
            <td>12V</td>
            <td>3w</td>
            <td>GU5.3 Bi-Pin</td>
            <td>Cool White (5700K)</td>
            <td>200 Lumens</td>
            <td>25,000 Hours</td>
            <td>Tight Spot (15&deg;)</td>
            <td>UL Listed for Moist Locations (E330072)</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>
                <a href='/lightbulbs/led-light-bulbs/led-mr16/12v-3w-warm-white-led-mr16-spot-light-bulb/'><img class="product-sideimg" src="http://cdn1.bigcommerce.com/server1000/tc515/products/1739/images/6604/12V_3W_Warm_White_LED_MR16_Spot_Light_Bulb__94102.1405464014.1280.1280.jpg?c=2" alt="12V 3W WARM WHITE LED MR16 SPOT LIGHT BULB">
                    <br> 12V 3W WARM WHITE LED MR16 SPOT</a>
            </td>
            <td>12V</td>
            <td>3w</td>
            <td>GU5.3 Bi-Pin</td>
            <td>Warm White (2700K)</td>
            <td>200 Lumens</td>
            <td>25,000 Hours</td>
            <td>Tight Spot (15&deg;)</td>
            <td>UL Listed for Moist Locations (E330072)</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>
                <a href='/lightbulbs/led-light-bulbs/led-mr16/12v-3w-cool-white-led-mr16-wide-spot-light-bulb/'><img class="product-sideimg" src="http://cdn1.bigcommerce.com/server1000/tc515/products/1742/images/6605/12V_3W_Cool_White_LED_MR16_Wide_Spot_Light_Bulb__16753.1406795292.1280.1280.jpg?c=2" alt="12V 3W COOL WHITE LED MR16 WIDE SPOT LIGHT BULB">
                    <br> 12V 3W COOL WHITE LED MR16 WIDE SPOT</a>
            </td>
            <td>12V</td>
            <td>3w</td>
            <td>GU5.3 Bi-Pin</td>
            <td>Cool White (5500K)</td>
            <td>200 Lumens</td>
            <td>25,000 Hours</td>
            <td>Wide Spot (30&deg;)</td>
            <td>UL Listed for Moist Locations (E330072)</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>
                <a href='/lightbulbs/led-light-bulbs/led-mr16/12v-3w-warm-white-led-mr16-wide-spot-light-bulb/'><img class="product-sideimg" src="http://cdn1.bigcommerce.com/server1000/tc515/products/1741/images/6606/12V_3W_Warm_White_LED_MR16_Wide_Spot_Light_Bulb__38320.1406792482.1280.1280.jpg?c=2" alt="12V 3W WARM WHITE LED MR16 WIDE SPOT LIGHT BULB">
                    <br> 12V 3W WARM WHITE LED MR16 WIDE SPOT</a>
            </td>
            <td>12V</td>
            <td>3w</td>
            <td>GU5.3 Bi-Pin</td>
            <td>Warm White (2700K)</td>
            <td>200 Lumens</td>
            <td>25,000 Hours</td>
            <td>Wide Spot (30&deg;)</td>
            <td>UL Listed for Moist Locations (E330072)</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>
                <a href='/lightbulbs/led-light-bulbs/led-mr16/12v-3w-warm-white-led-mr16-wide-spot-light-bulb/'><img class="product-sideimg" src="http://cdn1.bigcommerce.com/server1000/tc515/products/1741/images/6606/12V_3W_Warm_White_LED_MR16_Wide_Spot_Light_Bulb__38320.1406792482.1280.1280.jpg?c=2" alt="12V 3W WARM WHITE LED MR16 WIDE SPOT LIGHT BULB">
                    <br> 12V 3W WARM WHITE LED MR16 WIDE SPOT</a>
            </td>
            <td>12V</td>
            <td>3w</td>
            <td>GU5.3 Bi-Pin</td>
            <td>Warm White (2700K)</td>
            <td>200 Lumens</td>
            <td>25,000 Hours</td>
            <td>Wide Spot (30&deg;)</td>
            <td>UL Listed for Moist Locations (E330072)</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>
                <a href='/lightbulbs/led-light-bulbs/led-mr16/12v-3w-cool-white-led-mr16-flood-light-bulb/'><img class="product-sideimg" src="http://cdn1.bigcommerce.com/server1000/tc515/products/1744/images/6607/12V_3W_Cool_White_LED_MR16_Flood_Light_Bulb__44169.1406793264.1280.1280.jpg?c=2" alt="12V 3W COOL WHITE LED MR16 FLOOD LIGHT BULB">
                    <br> 12V 3W COOL WHITE LED MR16 FLOOD</a>
            </td>
            <td>12V</td>
            <td>3w</td>
            <td>GU5.3 Bi-Pin</td>
            <td>Cool White (5500K)</td>
            <td>200 Lumens</td>
            <td>25,000 Hours</td>
            <td>Flood (45&deg;)</td>
            <td>UL Listed for Moist Locations (E330072)</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>
                <a href='/lightbulbs/led-light-bulbs/led-mr16/12v-3w-warm-white-led-mr16-flood-light-bulb/'><img class="product-sideimg" src="http://cdn1.bigcommerce.com/server1000/tc515/products/1743/images/6608/12V_3W_Warm_White_LED_MR16_Flood_Light_Bulb__81443.1406792350.1280.1280.jpg?c=2" alt="12V 3W WARM WHITE LED MR16 FLOOD LIGHT BULB">
                    <br> 12V 3W WARM WHITE LED MR16 FLOOD</a>
            </td>
            <td>12V</td>
            <td>3w</td>
            <td>GU5.3 Bi-Pin</td>
            <td>Warm White (2700K)</td>
            <td>200 Lumens</td>
            <td>25,000 Hours</td>
            <td>Flood (45&deg;)</td>
            <td>UL Listed for Moist Locations (E330072)</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>
                <a href='/lightbulbs/led-light-bulbs/led-mr16/12v-6w-cob-cool-white-led-mr16-wide-flood-light-bulb/'><img class="product-sideimg" src="http://cdn1.bigcommerce.com/server1000/tc515/products/1738/images/6652/12V_3w_Cool_White_CoB_LED_Flood_Light_Bulb__24763.1406792647.1280.1280.jpg?c=2" alt="12V 6W COB COOL WHITE LED MR16 WIDE FLOOD LIGHT BULB">
                    <br> 12V 6W COB COOL WHITE LED MR16 WIDE FLOOD</a>
            </td>
            <td>12V</td>
            <td>6w</td>
            <td>GU5.3 Bi-Pin</td>
            <td>Cool White (5500K)</td>
            <td>450 Lumens</td>
            <td>25,000 Hours</td>
            <td>Wide Flood (80&deg;)</td>
            <td>UL Listed for Moist Locations (E330072)</td>
            <td>Yes (with magnetic transformers only)</td>
        </tr>
        <tr>
            <td>
                <a href='/lightbulbs/led-light-bulbs/led-mr16/12v-6w-cob-warm-white-led-mr16-wide-flood-light-bulb/'><img class="product-sideimg" src="http://cdn1.bigcommerce.com/server1000/tc515/products/1737/images/6653/12V_3w_Warm_White_CoB_LED_Flood_Light_Bulb__25953.1406792818.1280.1280.jpg?c=2" alt="12V 6W COB WARM WHITE LED MR16 WIDE FLOOD LIGHT BULB">
                    <br> 12V 6W COB WARM WHITE LED MR16 WIDE FLOOD</a>
            </td>
            <td>12V</td>
            <td>6w</td>
            <td>GU5.3 Bi-Pin</td>
            <td>Warm White (2700K)</td>
            <td>450 Lumens</td>
            <td>25,000</td>
            <td>Wide Flood (80&deg;)</td>
            <td>UL Listed for Moist Locations (E330072)</td>
            <td>Yes (with magnetic transformers only)</td>
        </tr>
        <tr>
            <td>
                <a href='/lightbulbs/led-light-bulbs/led-mr16/12v-6w-cool-white-led-mr16-spot-light-bulb/'><img class="product-sideimg" src="http://cdn1.bigcommerce.com/server1000/tc515/products/1748/images/6609/12V_3W_Cool_White_LED_MR16_Spot_Light_Bulb__18672.1406793859.1280.1280.jpg?c=2" alt="12V 6W COOL WHITE LED MR16 SPOT LIGHT BULB">
                    <br> 12V 6W COOL WHITE LED MR16 SPOT</a>
            </td>
            <td>12V</td>
            <td>6w</td>
            <td>GU5.3 Bi-Pin</td>
            <td>Cool White (5500K)</td>
            <td>425 Lumens</td>
            <td>25,000 Hours</td>
            <td>Tight Spot (15&deg;)</td>
            <td>UL Listed for Moist Locations (E330072)</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>
                <a href='/lightbulbs/led-light-bulbs/led-mr16/12v-6w-warm-white-led-mr16-spot-light-bulb/'><img class="product-sideimg" src="http://cdn1.bigcommerce.com/server1000/tc515/products/1745/images/6612/12V_3W_Warm_White_LED_MR16_Spot_Light_Bulb__79890.1406797051.1280.1280.jpg?c=2" alt="12V 6W WARM WHITE LED MR16 SPOT LIGHT BULB">
                    <br> 12V 6W WARM WHITE LED MR16 SPOT</a>
            </td>
            <td>12V</td>
            <td>6w</td>
            <td>GU5.3 Bi-Pin</td>
            <td>Warm White (2700K)</td>
            <td>425 Lumens</td>
            <td>25,000 Hours</td>
            <td>Tight Spot (15&deg;)</td>
            <td>UL Listed for Moist Locations (E330072)</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>
                <a href='/lightbulbs/led-light-bulbs/led-mr16/12v-6w-cool-white-led-mr16-wide-spot-light-bulb/'><img class="product-sideimg" src="http://cdn1.bigcommerce.com/server1000/tc515/products/1749/images/6610/12V_3W_Cool_White_LED_MR16_Wide_Spot_Light_Bulb__77585.1406793220.1280.1280.jpg?c=2" alt="12V 6W COOL WHITE LED MR16 WIDE SPOT LIGHT BULB">
                    <br> 12V 6W COOL WHITE LED MR16 WIDE SPOT</a>
            </td>
            <td>12V</td>
            <td>6w</td>
            <td>GU5.3 Bi-Pin</td>
            <td>Cool White (5700K)</td>
            <td>425 Lumens</td>
            <td>25,000 Hours</td>
            <td>Wide Spot (30&deg;)</td>
            <td>UL Listed for Moist Locations (E330072)</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>
                <a href='/lightbulbs/led-light-bulbs/led-mr16/12v-6w-warm-white-led-mr16-wide-spot-light-bulb/'><img class="product-sideimg" src="http://cdn1.bigcommerce.com/server1000/tc515/products/1746/images/6613/12V_3W_Warm_White_LED_MR16_Wide_Spot_Light_Bulb__96728.1406793438.1280.1280.jpg?c=2" alt="12V 6W WARM WHITE LED MR16 WIDE SPOT LIGHT BULB">
                    <br> 12V 6W WARM WHITE LED MR16 WIDE SPOT</a>
            </td>
            <td>12V</td>
            <td>6w</td>
            <td>GU5.3 Bi-Pin</td>
            <td>Warm White (2700K)</td>
            <td>425 Lumens</td>
            <td>25,000 Hours</td>
            <td>Wide Spot (30&deg;)</td>
            <td>UL Listed for Moist Locations (E330072)</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>
                <a href='/lightbulbs/led-light-bulbs/led-mr16/12v-6w-cool-white-led-mr16-flood-light-bulb/'><img class="product-sideimg" src="http://cdn1.bigcommerce.com/server1000/tc515/products/1750/images/6611/12V_3W_Cool_White_LED_MR16_Flood_Light_Bulb__48199.1406794385.1280.1280.jpg?c=2" alt="12V 6W COOL WHITE LED MR16 FLOOD LIGHT BULB">
                    <br> 12V 6W COOL WHITE LED MR16 FLOOD</a>
            </td>
            <td>12V</td>
            <td>6w</td>
            <td>GU5.3 Bi-Pin</td>
            <td>Cool White (5500K)</td>
            <td>425 Lumens</td>
            <td>25,000 Hours</td>
            <td>Flood (45&deg;)</td>
            <td>UL Listed for Moist Locations (E330072)</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>
                <a href='/lightbulbs/led-light-bulbs/led-mr16/12v-6w-warm-white-led-mr16-flood-light-bulb/'><img class="product-sideimg" src="http://cdn1.bigcommerce.com/server1000/tc515/products/1747/images/6614/12V_3W_Warm_White_LED_MR16_Flood_Light_Bulb__47355.1406794637.1280.1280.jpg?c=2" alt="12V 6W WARM WHITE LED MR16 FLOOD LIGHT BULB">
                    <br> 12V 6W WARM WHITE LED MR16 FLOOD</a>
            </td>
            <td>12V</td>
            <td>6w</td>
            <td>GU5.3 Bi-Pin</td>
            <td>Warm White (2700K)</td>
            <td>425 Lumens</td>
            <td>25,000 Hours</td>
            <td>Flood (45&deg;)</td>
            <td>UL Listed for Moist Locations (E330072)</td>
            <td>Yes</td>
        </tr>
    </tbody>
</table>
