<link href="Untitled-1.css" rel="stylesheet" type="text/css">
<table class='bulbTable'>
    <tr>
        <th>Recommended Compatible Bulbs</th>
        <th>Voltage</th>
        <th>Wattage</th>
        <th>Socket Type</th>
        <th>Color Temp</th>
        <th>Lumens</th>
        <th>Lifespan</th>
        <th>Beam Spread</th>
        <th>Listing</th>
        <th>Dimmable</th>
    </tr>
    <tbody>
        <tr>
            <td>
                <a href='/lightbulbs/led-light-bulbs/led-medium-base/120v-6w-warm-white-led-par30-light-bulb-bppar30-l-led/'><img src="http://cdn1.bigcommerce.com/server1000/tc515/products/1587/images/5682/LED_PAR30_Light_Bulb_BPPAR30_L_LED_2__88373.1406794899.1280.1280.jpg?c=2" alt="120V 6W WARM WHITE LED PAR30 LIGHT BULB BPPAR30/L/LED">
                    <br>120V 6W WARM WHITE LED PAR30</a>
            </td>
            <td>120V</td>
            <td>6w</td>
            <td>Medium Base E26</td>
            <td>Warm White (3000K)</td>
            <td>400 Lumens</td>
            <td>25,000 Hours</td>
            <td>Flood (38&deg;)</td>
            <td>UL Listed for Indoor (E330072)</td>
            <td>No</td>
        </tr>
        <tr>
            <td>
                <a href='/lightbulbs/led-light-bulbs/led-par30/120v-15w-75w-equivalent-5000k-cool-white-dimmable-led-par30/'><img src="http://cdn1.bigcommerce.com/server1000/tc515/products/2092/images/7756/thumb__82783.1406796682.1280.1280.jpg?c=2" alt="120V 15W (75W EQUIVALENT) 5000K COOL WHITE DIMMABLE LED PAR30">
                    <br>120V 15W 5000K COOL WHITE DIMMABLE LED PAR30</a>
            </td>
            <td>120V</td>
            <td>15w</td>
            <td>Medium Base E26</td>
            <td>Cool White (5000K)</td>
            <td>800 Lumens</td>
            <td>30,000 Hours</td>
            <td>Wide Spot (30&deg;)</td>
            <td>Indoor Rated, UL Listed, Rated for Damp Locations</td>
            <td>Full Range</td>
        </tr>
        <tr>
            <td>
                <a href='/lightbulbs/led-series/led-medium-base/120v-15w-high-output-led-par30-light-bulb/'><img src="http://cdn1.bigcommerce.com/server1000/tc515/products/983/images/5915/PAR30_High_Output_Performance_LED_Light_Bulb__77552.1406796449.1280.1280.jpg?c=2" alt="120V 15W HIGH OUTPUT LED PAR30 LIGHT BULB">
                    <br>120V 15W HIGH OUTPUT WARM WHITE LED PAR30</a>
            </td>
            <td>120V</td>
            <td>15w</td>
            <td>Medium Base E26</td>
            <td>Warm White (2700K)</td>
            <td>750 Lumens</td>
            <td>25,000 Hours</td>
            <td>Flood (38&deg;)</td>
            <td>UL Listed E330072 for Moist Locations</td>
            <td>Full Range</td>
        </tr>
        <tr>
            <td>
                <a href='/lightbulbs/led-light-bulbs/led-medium-base/120v-15w-high-output-cool-white-led-par30-short-neck-light-bulb/'><img src="http://cdn1.bigcommerce.com/server1000/tc515/products/1768/images/6803/120V_15w_Natural_Daylight_LED_Short_Neck_PAR30_Light_Bulb__68169.1406792338.1280.1280.jpg?c=2" alt="120V 15W HIGH OUTPUT COOL WHITE LED PAR30 SHORT NECK LIGHT BULB">
                    <br>120V 15W HIGH OUTPUT COOL WHITE LED PAR30 SHORT NECK</a>
            </td>
            <td>120V</td>
            <td>15w</td>
            <td>Medium Base E26</td>
            <td>Cool White (5000K)</td>
            <td>750 Lumens</td>
            <td>25,000 Hours</td>
            <td>Flood (38&deg;)</td>
            <td>UL listed E330072 for Moist Locations</td>
            <td>Full Range</td>
        </tr>
        <tr>
            <td>
                <a href='/lightbulbs/led-light-bulbs/led-medium-base/120v-15w-high-output-warm-white-led-par30-short-neck-light-bulb/'><img src="http://cdn1.bigcommerce.com/server1000/tc515/products/1846/images/6801/120V_15w_Soft_White_LED_Short_Neck_PAR30_Light_Bulb__17200.1406793602.1280.1280.jpg?c=2" alt="120V 15W HIGH OUTPUT WARM WHITE LED PAR30 SHORT NECK LIGHT BULB">
                    <br>120V 15W HIGH OUTPUT WARM WHITE LED PAR30 SHORT NECK</a>
            </td>
            <td>120V</td>
            <td>15w</td>
            <td>Medium Base E26</td>
            <td>Warm White (3000K)</td>
            <td>750 Lumens</td>
            <td>25,000 Hours</td>
            <td>Flood (38&deg;)</td>
            <td>UL Listed E330072 for Moist Locations</td>
            <td>Full Range</td>
        </tr>
    </tbody>
</table>​
