<link href="Untitled-1.css" rel="stylesheet" type="text/css">
<table class='bulbTable'>
    <tr>
        <th>Recommended Compatible Bulbs</th>
        <th>Voltage</th>
        <th>Wattage</th>
        <th>Socket Type</th>
        <th>Color Temp</th>
        <th>Lumens</th>
        <th>Lifespan</th>
        <th>Beam Spread</th>
        <th>Listing</th>
        <th>Dimmable</th>
    </tr>
    <tbody>
        <tr>
            <td>
                <a href='/lightbulbs/led-light-bulbs/led-par36/12v-6w-chip-on-board-cool-white-led-par36-light-bulb/'><img src="https://cdn1.bigcommerce.com/server1000/tc515/products/1833/images/6770/12V_Cool_White_Chip_on_Board_LED_PAR36_Light_Bulb__74713.1406794441.1280.1280.jpg?c=2" alt="12V 6W CHIP ON BOARD COOL WHITE LED PAR36 LIGHT BULB">
                    <br>12V 6W CHIP ON BOARD COOL WHITE LED PAR36</a>
            </td>
            <td>12V</td>
            <td>6w</td>
            <td>Quick Connect Terminals or Screw Mount for Spade Connectors</td>
            <td>Cool White (5500K)</td>
            <td>480 Lumens</td>
            <td>35,000 Hours</td>
            <td>Flood (38&deg;)</td>
            <td>IP65 for Outdoor Wet Locations</td>
            <td>No</td>
        </tr>
        <tr>
            <td>
                <a href='/lightbulbs/led-light-bulbs/led-par36/12v-6w-chip-on-board-warm-white-led-par36-flood-light-bulb/'><img src="https://cdn1.bigcommerce.com/server1000/tc515/products/1832/images/6769/12V_Warm_White_Chip_on_Board_LED_PAR36_Light_Bulb__27896.1406792302.1280.1280.jpg?c=2" alt="12V 6W CHIP ON BOARD WARM WHITE LED PAR36 FLOOD LIGHT BULB">
                    <br>12V 6W CHIP ON BOARD WARM WHITE LED PAR36</a>
            </td>
            <td>12V</td>
            <td>6w</td>
            <td>Quick Connect Terminals or Screw Mount for Spade Connectors</td>
            <td>Warm White (2700K)</td>
            <td>480 Lumens</td>
            <td>35,000 Hours</td>
            <td>Flood (38&deg;)</td>
            <td>IP65 for Outdoor Wet Locations</td>
            <td>No</td>
        </tr>
        <tr>
            <td>
                <a href='/lightbulbs/led-light-bulbs/led-par36/12v-9w-chip-on-board-cool-white-led-par36-light-bulb/'><img src="https://cdn1.bigcommerce.com/server1000/tc515/products/1835/images/6771/12V_Cool_White_Chip_on_Board_LED_PAR36_Light_Bulb__62431.1406792935.1280.1280.jpg?c=2" alt="12V 9W CHIP ON BOARD COOL WHITE LED PAR36 LIGHT BULB">
                    <br>12V 9W CHIP ON BOARD COOL WHITE LED</a>
            </td>
            <td>12V</td>
            <td>9w</td>
            <td>Quick Connect Terminals or Screw Mount for Spade Connectors</td>
            <td>Cool White (5500K)</td>
            <td>850 Lumens</td>
            <td>35,000 Hours</td>
            <td>Flood (38&deg;)</td>
            <td>IP65 for Outdoor Wet Locations</td>
            <td>No</td>
        </tr>
        <tr>
            <td>
                <a href='/lightbulbs/led-light-bulbs/led-par36/12v-9w-chip-on-board-warm-white-led-par36-light-bulb/'><img src="https://cdn1.bigcommerce.com/server1000/tc515/products/1836/images/6772/12V_Warm_White_Chip_on_Board_LED_PAR36_Light_Bulb__98397.1406791512.1280.1280.jpg?c=2" alt="12V 9W CHIP ON BOARD WARM WHITE LED PAR36 LIGHT BULB">
                    <br>12V 9W CHIP ON BOARD WARM WHITE LED PAR36</a>
            </td>
            <td>12V</td>
            <td>9w</td>
            <td>Quick Connect Terminals or Screw Mount for Spade Connectors</td>
            <td>Warm White (2700K)</td>
            <td>850 Lumens</td>
            <td>35,000 Hours</td>
            <td>Flood (38&deg;)</td>
            <td>IP65 for Outdoor Wet Locations</td>
            <td>No</td>
        </tr>
        <tr>
            <td>
                <a href='/lightbulbs/led-light-bulbs/led-par36/12v-12w-chip-on-board-cool-white-led-par36-light-bulb/'><img src="https://cdn1.bigcommerce.com/server1000/tc515/products/1839/images/6774/12V_Cool_White_Chip_on_Board_LED_PAR36_Light_Bulb__33113.1406793361.1280.1280.jpg?c=2" alt="12V 12W CHIP ON BOARD COOL WHITE LED PAR36 LIGHT BULB">
                    <br>12V 12W CHIP ON BOARD COOL WHITE LED PAR36</a>
            </td>
            <td>12V</td>
            <td>12w</td>
            <td>Quick Connect Terminals or Screw Mount for Spade Connectors</td>
            <td>Cool White (5500K)</td>
            <td>1000 Lumens</td>
            <td>35,000 Hours</td>
            <td>Flood (38&deg;)</td>
            <td>IP65 for Outdoor Wet Loctaions</td>
            <td>No</td>
        </tr>
        <tr>
            <td>
                <a href='/lightbulbs/led-light-bulbs/led-par36/12v-12w-chip-on-board-warm-white-led-par36-light-bulb/'><img src="https://cdn1.bigcommerce.com/server1000/tc515/products/1838/images/6773/12V_Warm_White_Chip_on_Board_LED_PAR36_Light_Bulb__58566.1406794421.1280.1280.jpg?c=2" alt="12V 12W CHIP ON BOARD WARM WHITE LED PAR36 LIGHT BULB">
                    <br>12V 12W CHIP ON BOARD WARM WHITE LED PAR36</a>
            </td>
            <td>12V</td>
            <td>12w</td>
            <td>Quick Connect Terminals or Screw Mount for Spade Connectors</td>
            <td>Warm White (2700K)</td>
            <td>1000 Lumens</td>
            <td>35,000 Hours</td>
            <td>Flood (38&deg;)</td>
            <td>IP65 for Outdoor Wet Locations</td>
            <td>No</td>
        </tr>
    </tbody>
</table>​
