<link href="Untitled-1.css" rel="stylesheet" type="text/css">
<table class='bulbTable'>
    <tr>
        <th>Recommended Compatible Bulbs</th>
        <th>Voltage</th>
        <th>Wattage</th>
        <th>Socket Type</th>
        <th>Color Temp</th>
        <th>Lumens</th>
        <th>Lifespan</th>
        <th>Beam Spread</th>
        <th>Listing</th>
        <th>Dimmable</th>
    </tr>
    <tbody>
        <tr>
            <td>
                <a href='/lightbulbs/led-light-bulbs/led-par38/120v-20w-high-output-cool-white-led-par38-light-bulb/'><img src="http://cdn1.bigcommerce.com/server1000/tc515/products/1847/images/6810/Performance_LED_Dimmable_PAR38_Light_Bulb_by_Feit__42598.1406791522.1280.1280.jpg?c=2" alt="120V 20W HIGH OUTPUT COOL WHITE LED PAR38 LIGHT BULB">
                    <br>120V 20W HIGH OUTPUT COOL WHITE LED PAR38</a>
            </td>
            <td>120V</td>
            <td>20w</td>
            <td>Medium Base E26</td>
            <td>Cool White (5000K)</td>
            <td>1000 Lumens</td>
            <td>30,000 Hours</td>
            <td>Flood (38&deg;)</td>
            <td>RoHS compliant</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>
                <a href='/lightbulbs/led-light-bulbs/led-par38/120v-20w-high-output-warm-white-led-par38-light-bulb/'><img src="http://cdn1.bigcommerce.com/server1000/tc515/products/988/images/5785/Performance_LED_Dimmable_PAR38_Light_Bulb_by_Feit__83384.1406796647.1280.1280.jpg?c=2" alt="120V 20W HIGH OUTPUT WARM WHITE LED PAR38 LIGHT BULB">
                    <br>120V 20W HIGH OUTPUT WARM WHITE LED PAR38</a>
            </td>
            <td>120V</td>
            <td>20w</td>
            <td>Medium Base E26</td>
            <td>Warm White (3000K)</td>
            <td>750 Lumens</td>
            <td>30,000 Hours</td>
            <td>Flood (38&deg;)</td>
            <td>RoHS compliant</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>
                <a href='/lightbulbs/led-light-bulbs/led-par38/120v-21w-cool-white-weather-proof-led-par38-light-bulb/'><img src="http://cdn1.bigcommerce.com/server1000/tc515/products/1845/images/6798/120V_21W_Weather_Proof_Cool_White_LED_PAR38_Light_Bulb__12297.1406791470.1280.1280.jpg?c=2" alt="120V 21W COOL WHITE WEATHER-PROOF LED PAR38 LIGHT BULB">
                    <br>120V 21W COOL WHITE WEATHER-PROOF LED PAR38</a>
            </td>
            <td>120V</td>
            <td>21w</td>
            <td>Medium Base E26</td>
            <td>Cool White (4000K)</td>
            <td>1200 Lumens</td>
            <td>30,000 Hours</td>
            <td>Flood (38&deg;)</td>
            <td>UL Listed Suitable for Wet Locations</td>
            <td>Full Range</td>
        </tr>
    </tbody>
</table>​
