<span class='product-title'>Accessories:</span>
<ul class='accessorytab'>
    <li class='accessorytab'>
        <a href='/rope-light/ropelight-accessories/cords-connectors/1-2-2-wire-led-rope-light-power-cord/' target="_blank"><img src="https://cdn1.bigcommerce.com/server1000/tc515/products/879/images/6480/LED_1_2_rope_light_power_cord_26850.1364022357.1280.1280_square__35992.1394727902.1280.1280.jpg?c=1" alt="1/2 Inch 2 Wire LED Rope Light Power Cord">LED
            <br> Power Cord</a>
    </li>
    <li class='accessorytab'>
        <a href='/rope-light/ropelight-accessories/cords-connectors/1-2-led-2-wire-rope-light-plug-connector/' target="_blank"><img src="https://cdn1.bigcommerce.com/server1000/tc515/products/968/images/3621/Rope7b__28949.1365450864.1280.1280.jpg?c=1" alt="1/2 Inch LED 2-Wire Rope Light Plug Connector">LED
            <br> Power Connector</a>
    </li>
    <li class='accessorytab'>
        <a href='/rope-light/ropelight-accessories/cords-connectors/1-2-led-2-wire-rope-light-invisible-splice-connector/' target="_blank"><img src="https://cdn1.bigcommerce.com/server1000/tc515/products/972/images/6481/3_8_rope_light_Invi_splice_92772.1364011349.1280.1280_square__07613.1394728294.1280.1280.jpg?c=1" alt="1/2 Inch LED 2-Wire Rope Light Invisible Splice Connector">LED
            <br> Invisible Splice</a>
    </li>
    <li class='accessorytab'>
        <a href='/rope-light/ropelight-accessories/cords-connectors/led-1-2-2-wire-splice-connector/' target="_blank"><img src="https://cdn1.bigcommerce.com/server1000/tc515/products/971/images/6482/1_2_rope_light_splice_conn_38218.1364026003.1280.1280_square__99867.1394728540.1280.1280.jpg?c=1" alt="1/2 Inch LED 2-Wire Rope Light Splice Connector">LED
            <br> Splice Connector</a>
    </li>
    <li class='accessorytab'>
        <a href='/rope-light/ropelight-accessories/cords-connectors/1-2-led-rope-light-end-cap/' target="_blank"><img src="https://cdn1.bigcommerce.com/server1000/tc515/products/970/images/6483/1.5_rope_light_T_Connector_11747.1364024130.1280.1280_30124.1365452451.1280.1280_square__35841.1394728685.1280.1280.jpg?c=1" alt="1/2 Inch LED 2-Wire T Connector">LED
            <br> T Connector</a>
    </li>
    <li class='accessorytab'>
        <a href='/rope-light/ropelight-accessories/cords-connectors/1-2-led-rope-light-end-cap/' target="_blank"><img src="https://cdn1.bigcommerce.com/server1000/tc515/product_images/uploaded_images/rope-light-end-cap.jpg?t=1409160065" alt="1/2 Inch LED Rope Light End Cap">LED
            <br>End Cap</a>
    </li>
    <li class='accessorytab'>
        <a href='/rope-light/ropelight-accessories/mounting/1-2-mounting-clips/' target="_blank"><img src="https://cdn1.bigcommerce.com/server1000/tc515/products/881/images/6485/Rope6b_square__61048.1394729245.1280.1280.jpg?c=1" alt="1/2 Inch Mounting Clips">Mounting Clips</a>
    </li>
    <li class='accessorytab'>
        <a href='/rope-light/ropelight-accessories/mounting/50ft-1-2-rope-light-clear-channel-mounting-pack-2ft-sections/' target="_blank"><img src="https://cdn1.bigcommerce.com/server1000/tc515/product_images/uploaded_images/rope-light-mounting-channel.jpg?t=1409160068" alt="1/2 Channel">Mounting Channel</a>
    </li>
    <li class='accessorytab'>
        <a href='/indoor-lighting/indoor-accessories/led-rope-light-dimmer/' target="_blank"><img src="https://cdn1.bigcommerce.com/server1000/tc515/products/788/images/6487/LED_1_2_dimmer_69782.1364074021.1280.1280_square__06327.1394729751.1280.1280.jpg?c=1" alt="LED Rope Light Dimmer">LED
            <br>Dimmer</a>
    </li>
    <li class='accessorytab'>
        <a href='/rope-light/ropelight-accessories/cords-connectors/1-2-invisible-rope-light-splice-connector/' target="_blank"><img src="https://cdn1.bigcommerce.com/server1000/tc515/products/1929/images/7063/Invisible_In_Line_2_Wire_Rope_Light_Splice_Connector__11637.1406794900.1280.1280.jpg?c=2">1/2" Invisible Rope Light Splice Connector</a>
    </li>
</ul>
​
