<span class='product-title'>LED Rope Light Accessories:</span>
<ul class='accessorytab'>
    <li class='accessorytab'>
        <a href='/rope-light/ropelight-accessories/cords-connectors/1-2-2-wire-led-rope-light-power-cord/' target="_blank"><img src="/product_images/uploaded_images/RA6P-LED/120V-2-Wire-6-Foot-2-Wire-LED-Rope-Light-Power-Cord.jpg" alt="1/2 Inch LED Rope Light Power Cord RA6P-LED">LED Power Cord</a>
    </li>
    <li class='accessorytab'>
        <a href='/rope-light/ropelight-accessories/cords-connectors/1-2-led-2-wire-rope-light-plug-connector/' target="_blank"><img src="/product_images/uploaded_images/RAPC/RAPC-LED-LED-Rope-Light-2-Wire-Splice-Connector.jpg" alt="1/2 Inch 2 Wire LED Rope Light Plug Connector">LED Power Connector</a>
    </li>
    <li class='accessorytab'>
        <a href='/rope-light/ropelight-accessories/cords-connectors/1-2-led-2-wire-rope-light-invisible-splice-connector/' target="_blank"><img src="https://cdn1.bigcommerce.com/server1000/tc515/products/972/images/3625/3_8_rope_light_Invi_splice_92772.1364011349.1280.1280__90735.1365451215.1280.1280.jpg?c=1" alt="1/2 Inch LED 2 Wire Splice Connector">LED Splice Connector</a>
    </li>
    <li class='accessorytab'>
        <a href='/rope-light/ropelight-accessories/cords-connectors/1-2-invisible-rope-light-t-connector/' target="_blank"><img src="https://cdn1.bigcommerce.com/server1000/tc515/products/970/images/6099/1.5_rope_light_T_Connector_11747.1364024130.1280.1280_30124.1365452451.1280.1280__67130.1392571808.1280.1280.jpg?c=1" alt="1/2 Inch LED 2 Wire T Connector">LED T Connector</a>
    </li>
    <li class='accessorytab'>
        <a href='/rope-light/ropelight-accessories/cords-connectors/1-2-rope-light-end-cap/' target="_blank"><img src="https://cdn1.bigcommerce.com/server1000/tc515/product_images/uploaded_images/rope-light-end-cap.jpg?t=1409160065" alt="1/2 Inch Rope Light End Cape">1/2" End Cap</a>
    </li>
    <li class='accessorytab'>
        <a href='/rope-light/ropelight-accessories/cords-connectors/1-2-2-wire-jumper/' target="_blank"><img src="https://cdn1.bigcommerce.com/server1000/tc515/products/1677/images/6110/Half_Inch_3_Wire_Rope_Light_Jumper_Cable__39376.1392849368.1280.1280.jpg?c=1" alt="1/2 Inch 2 Wire Jumper">LED Jumper</a>
    </li>
    <li class='accessorytab'>
        <a href='/rope-light/ropelight-accessories/cords-connectors/1-2-120v-2-wire-multi-connector/' target="_blank"><img src="https://cdn1.bigcommerce.com/server1000/tc515/products/877/images/3645/1_2_rope_light_multi_power_cord_31520.1364077115.1280.1280__55610.1365452760.1280.1280.jpg?c=1" alt="1/2 Inch 12V 2 Wire Multi Connector">120V Multi Connector</a>
    </li>
    <li class='accessorytab'>
        <a href='/rope-light/ropelight-accessories/mounting/1-2-mounting-clips/' target="_blank"><img src="https://cdn1.bigcommerce.com/server1000/tc515/products/881/images/3652/Rope6b__00864.1365453642.1280.1280.jpg?c=1" alt="1/2 Inch Mounting Clips">Mounting Clips</a>
    </li>
    <li class='accessorytab'>
        <a href='/rope-light/ropelight-accessories/mounting/50ft-1-2-rope-light-clear-channel-mounting-pack-2ft-sections/' target="_blank"><img src="https://cdn1.bigcommerce.com/server1000/tc515/product_images/uploaded_images/rope-light-mounting-channel.jpg?t=1409160068" alt="1/2 Inch Channel">Mounting Channel</a>
    </li>
    <li class='accessorytab'>
        <a href='/rope-light/ropelight-accessories/cords-connectors/1-2-invisible-rope-light-splice-connector/' target="_blank"><img src="https://cdn1.bigcommerce.com/server1000/tc515/products/1929/images/7063/Invisible_In_Line_2_Wire_Rope_Light_Splice_Connector__11637.1406794900.1280.1280.jpg?c=2">1/2" Invisible Rope Light Splice Connector</a>
    </li>
</ul>​
