<div>
    <span class='product-title'>Mounting:</span>
    <ul class='accessorytab'>
        <li class='accessorytab'>
            <a href="/rope-light/ropelight-accessories/mounting/small-aluminum-led-recessed-surface-tape-light-channel-3-25-foot-length-ms-alu007/" target="_blank"><img src="/product_images/uploaded_images/MS-ALU/MS-ALU007-Thin-Recessed-Surface-Tape-Light-Aluminum-Channel.jpg" alt="MS-ALU007 Small Aluminum Recessed / Surface Tape Light Channel" title="MS-ALU007 Small Aluminum Recessed / Surface Tape Light Channel">Thin Recessed / Surface Aluminum Channel ALU007</a>
        </li>
        <li class='accessorytab'>
            <a href="/rope-light/ropelight-accessories/mounting/corner-mount-led-tape-light-aluminum-channel-3-25-foot-section-ms-alu029/" target="_blank"><img src="/product_images/uploaded_images/MS-ALU/MS-ALU029-Corner-Mount-LED-Tape-Light-Aluminum-Mounting-Channel.jpg" alt="MS-ALU029 Corner Mounted Tape Light Aluminum Channel" title="MS-ALU029 Corner Mounted Tape Light Aluminum Channel">Corner Aluminum Channel ALU029</a>
        </li>
        <li class='accessorytab'>
            <a href="/rope-light/ropelight-accessories/mounting/squared-recessed-and-surface-led-tape-light-aluminum-channel-39-section-ms-alu004/" target="_blank"><img src="/product_images/uploaded_images/MS-ALU/MS-ALU004-Squared-Surface-Recessed-LED-Tape-Light-Aluminum-Mounting-Channel.jpg" alt="MS-ALU004 Squared Recessed / Surface Mounted LED Tape Light Aluminum Mounting Channel" title="MS-ALU004 Squared Recessed / Surface Mounted LED Tape Light Aluminum Mounting Channel">Squared Recessed / Surface Aluminum Channel ALU004</a>
        </li>
    </ul>
</div>​
