<table class='fabrictable'>
    <tbody>
        <tr> </tr>
        <td><img src="http://www.craftsmanoutdoorlighting.com/metals/large2/antique-brass.jpg" alt="Antique Brass Color Swatch" title="Antique Brass Color Swatch"></td>
        <td><img src="http://www.craftsmanoutdoorlighting.com/metals/large2/cappuccino.jpg" alt="Cappuccino Color Swatch" title="Cappuccino Color Swatch"></td>
        <td><img src="http://www.craftsmanoutdoorlighting.com/metals/large2/copper-bronze.jpg" alt="Copper Bronze Color Swatch" title="Copper Bronze Color Swatch"></td>
        <td><img src="http://www.craftsmanoutdoorlighting.com/metals/large2/copper-verde.jpg" alt="Copper Verde Color Swatch" title="Copper Verde Color Swatch"></td>
        <td><img src="http://www.craftsmanoutdoorlighting.com/metals/large2/flat-black.jpg" alt="Flat Black Color Swatch" title="Flat Black Color Swatch"></td>
        <td><img src="http://www.craftsmanoutdoorlighting.com/metals/large2/lustre-bronze.jpg" alt="Lustre Bronze Color Swatch" title="Lustre Bronze Color Swatch"></td>
        <td><img src="http://www.craftsmanoutdoorlighting.com/metals/large2/old-bronze.jpg" alt="Old Bronze Color Swatch" title="Old Bronze Color Swatch"></td>
        <td><img src="http://www.craftsmanoutdoorlighting.com/metals/large2/verde.jpg" alt="Verde Color Swatch" title="Verde Color Swatch"></td>
        <tr>
            <td>Antique Brass</td>
            <td>Cappuccino</td>
            <td>Copper Bronze</td>
            <td>Copper Verde</td>
            <td>Flat Black</td>
            <td>Lustre Bronze</td>
            <td>Old Bronze</td>
            <td>Verde</td>
        </tr>
        <tr>
            <td><img src="http://www.craftsmanoutdoorlighting.com/metals/large2/painted-verde.jpg" alt="Painted Verde Color Swatch" title="Painted Verde Color Swatch"></td>
            <td><img src="http://www.craftsmanoutdoorlighting.com/metals/large2/polished-verde.jpg" alt="Polished Verde Color Swatch" title="Polished Verde Color Swatch"></td>
            <td><img src="http://www.craftsmanoutdoorlighting.com/metals/large2/rose-copper.jpg" alt="Rose Copper Color Swatch" title="Rose Copper Color Swatch"></td>
            <td><img src="http://www.craftsmanoutdoorlighting.com/metals/large2/rust.jpg" alt="Rust Color Swatch" title="Rust Color Swatch"></td>
            <td><img src="http://www.craftsmanoutdoorlighting.com/metals/large2/silver-mist.jpg" alt="Silver Mist Color Swatch" title="Silver Mist Color Swatch"></td>
            <td><img src="http://www.craftsmanoutdoorlighting.com/metals/large2/tex-black.jpg" alt="Textured Black Color Swatch" title="Textured Black Color Swatch"></td>
            <td><img src="http://www.craftsmanoutdoorlighting.com/metals/large2/tex-white.jpg" alt="Textured White Color Swatch" title="Textured White Color Swatch"></td>
        </tr>
        <tr>
            <td>Painted Verde</td>
            <td>Polished Verde</td>
            <td>Rose Copper</td>
            <td>Rust</td>
            <td>Silver Mist</td>
            <td>Textured Black</td>
            <td>Textured White</td>
        </tr>
    </tbody>
</table>
​
