<div>
    <span class='product-title'>Finish Options:</span>
    <ul class='NPFinish'>
        <li> <img src="http://www.craftsmanoutdoorlighting.com/metals/large2/antique-brass.jpg" alt="Antique Brass Color Swatch" title="Antique Brass Color Swatch">Antique Brass</li>
        <li><img src="http://www.craftsmanoutdoorlighting.com/metals/large2/cappuccino.jpg" alt="Cappuccino Color Swatch" title="Cappuccino Color Swatch">Cappuccino</li>
        <li><img src="http://www.craftsmanoutdoorlighting.com/metals/large2/copper-bronze.jpg" alt="Copper Bronze Color Swatch" title="Copper Bronze Color Swatch">Copper Bronze </li>
        <li><img src="http://www.craftsmanoutdoorlighting.com/metals/large2/copper-verde.jpg" alt="Copper Verde Color Swatch" title="Copper Verde Color Swatch">Copper Verde</li>
        <li><img src="http://www.craftsmanoutdoorlighting.com/metals/large2/flat-black.jpg" alt="Flat Black Color Swatch" title="Flat Black Color Swatch">Flat Black</li>
        <li><img src="http://www.craftsmanoutdoorlighting.com/metals/large2/lustre-bronze.jpg" alt="Lustre Bronze Color Swatch" title="Lustre Bronze Color Swatch">Lustre Bronze</li>
        <li><img src="http://www.craftsmanoutdoorlighting.com/metals/large2/old-bronze.jpg" alt="Old Bronze Color Swatch" title="Old Bronze Color Swatch">Old Bronze</li>
        <li><img src="http://www.craftsmanoutdoorlighting.com/metals/large2/verde.jpg" alt="Verde Color Swatch" title="Verde Color Swatch">Verde</li>
        <li><img src="http://www.craftsmanoutdoorlighting.com/metals/large2/painted-verde.jpg" alt="Painted Verde Color Swatch" title="Painted Verde Color Swatch">Painted Verde</li>
        <li><img src="http://www.craftsmanoutdoorlighting.com/metals/large2/polished-verde.jpg" alt="Polished Verde Color Swatch" title="Polished Verde Color Swatch">Polished Verde</li>
        <li><img src="http://www.craftsmanoutdoorlighting.com/metals/large2/rose-copper.jpg" alt="Rose Copper Color Swatch" title="Rose Copper Color Swatch">Rose Copper</li>
        <li><img src="http://www.craftsmanoutdoorlighting.com/metals/large2/rust.jpg" alt="Rust Color Swatch" title="Rust Color Swatch">Rust</li>
        <li><img src="http://www.craftsmanoutdoorlighting.com/metals/large2/silver-mist.jpg" alt="Silver Mist Color Swatch" title="Silver Mist Color Swatch">Silver Mist</li>
        <li><img src="http://www.craftsmanoutdoorlighting.com/metals/large2/tex-black.jpg" alt="Textured Black Color Swatch" title="Textured Black Color Swatch">Textured Black</li>
        <li><img src="http://www.craftsmanoutdoorlighting.com/metals/large2/tex-white.jpg" alt="Textured White Color Swatch" title="Textured White Color Swatch">Textured White</li>
    </ul>
</div>
<div>
    <span class='product-title'>Glass Options:</span>
    <ul class='NPFinish'>
        <li><img src="http://www.craftsmanoutdoorlighting.com/glass/large/clear_seedy.jpg" alt="Clear Seedy Glass Sample" title="Clear Seedy Glass Sample">Clear Seedy</li>
        <li><img src="http://www.craftsmanoutdoorlighting.com/glass/large/crystal_clear.jpg" alt="Crystal Clear Glass Sample" title="Crystal Clear Glass Sample">Crystal Clear</li>
        <li><img src="http://www.craftsmanoutdoorlighting.com/glass/large/german_optic.jpg" alt="German Optic Glass Sample" title="German Optic Glass Sample">German Optic</li>
        <li><img src="http://www.craftsmanoutdoorlighting.com/glass/large/heavy_seedy.jpg" alt="German Optic Glass Sample" title="Heavy Seedy Glass Sample">Heavy Seedy</li>
        <li><img src="http://www.craftsmanoutdoorlighting.com/glass/large/sandblasted.jpg" alt="Sand Blasted Glass Sample" title="Sand Blasted Glass Sample">Sand Blasted</li>
        <li><img src="http://www.craftsmanoutdoorlighting.com/glass/large/water_glass.jpg" alt="Water Glass Sample" title="Water Glass Sample">Water Glass</li>
        <li><img src="http://www.craftsmanoutdoorlighting.com/glass/large/gold_iridescent.jpg" alt="Gold Iridescent Glass Sample" title="Gold Iridescent Glass Sample">Gold Iridescent</li>
        <li><img src="http://www.craftsmanoutdoorlighting.com/glass/large/honey.jpg" alt="Honey Glass Sample" title="Honey Glass Sample">Honey</li>
        <li><img src="http://www.craftsmanoutdoorlighting.com/glass/large/opalescent_white.jpg" alt="Opalescent White Glass Sample" title="Opalescent White Glass Sample">Opalescent White</li>
    </ul>
</div>​
