<div class='center'>
    <table class='nptable-finish'>
        <tr>
            <td><img class='nptable' src="http://www.craftsmanoutdoorlighting.com/metals/large2/antique-brass.jpg" alt="Antique Brass Swatch"></td>
            <td><img class='nptable' src="http://www.craftsmanoutdoorlighting.com/metals/large2/cappuccino.jpg" alt="Cappuccino Swatch"></td>
            <td><img class='nptable' src="http://www.craftsmanoutdoorlighting.com/metals/large2/copper-bronze.jpg" alt="Copper Bronze Swatch"></td>
            <td><img class='nptable' src="http://www.craftsmanoutdoorlighting.com/metals/large2/copper-verde.jpg" alt="Copper Verde Swatch"></td>
            <td><img class='nptable' src="http://www.craftsmanoutdoorlighting.com/metals/large2/flat-black.jpg" alt="Flat Black Swatch"></td>
            <td><img class='nptable' src="http://www.craftsmanoutdoorlighting.com/metals/large2/lustre-bronze.jpg" alt="Lustre Bronze Swatch"></td>
            <td><img class='nptable' src="http://www.craftsmanoutdoorlighting.com/metals/large2/old-bronze.jpg" alt="Old Bronze Swatch"></td>
            <td><img class='nptable' src="http://www.craftsmanoutdoorlighting.com/metals/large2/painted-verde.jpg" alt="Painted Verde Swatch"></td>
        </tr>
        <tr>
            <td>Antique Brass</td>
            <td>Cappuccino</td>
            <td>Copper Bronze</td>
            <td>Copper Verde</td>
            <td>Flat Black</td>
            <td>Lustre Bronze</td>
            <td>Old Bronze</td>
            <td>Painted Verde</td>
        </tr>
        <tr>
            <td><img class='nptable' src="http://www.craftsmanoutdoorlighting.com/metals/large2/polished-verde.jpg" alt="Polished Verde Swatch"></td>
            <td><img class='nptable' src="http://www.craftsmanoutdoorlighting.com/metals/large2/rose-copper.jpg" alt="Rose Copper Swatch"></td>
            <td><img class='nptable' src="http://www.craftsmanoutdoorlighting.com/metals/large2/rust.jpg" alt="Rust Swatch"></td>
            <td><img class='nptable' src="http://www.craftsmanoutdoorlighting.com/metals/large2/silver-mist.jpg" alt="Silver Mist Swatch"></td>
            <td><img class='nptable' src="http://www.craftsmanoutdoorlighting.com/metals/large2/tex-black.jpg" alt="Textured Black Swatch"></td>
            <td><img class='nptable' src="http://www.craftsmanoutdoorlighting.com/metals/large2/tex-white.jpg" alt="Textured White Swatch"></td>
            <td><img class='nptable' src="http://www.craftsmanoutdoorlighting.com/metals/large2/verde.jpg" alt="Verde Swatch"></td>
        </tr>
        <tr>
            <td>Polished Verde</td>
            <td>Rose Copper</td>
            <td>Rust</td>
            <td>Silver Mist</td>
            <td>Textured Black</td>
            <td>Textured White</td>
            <td>Verde</td>
        </tr>
    </table>
    <table class='nptable-glass'>
        <tr>
            <td><img class='nptable' src="http://www.craftsmanoutdoorlighting.com/glass/large/clear_seedy.jpg" alt="Clear Seedy Swatch"></td>
            <td><img class='nptable' src="http://www.craftsmanoutdoorlighting.com/glass/large/crystal_clear.jpg" alt="Crystal Clear Swatch"></td>
            <td><img class='nptable' src="http://www.craftsmanoutdoorlighting.com/glass/large/german_optic.jpg" alt="German Optic Swatch"></td>
            <td><img class='nptable' src="http://www.craftsmanoutdoorlighting.com/glass/large/gold_iridescent.jpg" alt="Gold Iridescent Swatch"></td>
            <td><img class='nptable' src="http://www.craftsmanoutdoorlighting.com/glass/large/heavy_seedy.jpg" alt="Heavy Seedy Swatch"></td>
            <td><img class='nptable' src="http://www.craftsmanoutdoorlighting.com/glass/large/honey.jpg" alt="Honey Swatch"></td>
            <td><img class='nptable' src="http://www.craftsmanoutdoorlighting.com/glass/large/opalescent_white.jpg" alt="Opalescent White Swatch"></td>
            <td><img class='nptable' src="http://www.craftsmanoutdoorlighting.com/glass/large/sandblasted.jpg" alt="Sand Blasted Swatch"></td>
            <td><img class='nptable' src="http://www.craftsmanoutdoorlighting.com/glass/large/water_glass.jpg" alt="Water Glass Swatch"></td>
        </tr>
        <tr>
            <td>Clear Seedy</td>
            <td>Crystal Clear</td>
            <td>German Optic</td>
            <td>Gold Iridescent</td>
            <td>Heavy Seedy</td>
            <td>Honey</td>
            <td>Opalescent White</td>
            <td>Sand Blasted</td>
            <td>Water Glass</td>
        </tr>
    </table>
</div>​
