<div class='accessory-container'>    
    <h3 class='accessory-title'>Outdoor Lighting Accessories</h3>
    
    <ul class='accessory-list'>
        <li class='accessory-item'>
            <a class='accessory-link' href='/outdoor-lighting/landscape-accessories/stakes-mounts/stake-mounted-splice-containment-hub-hpsk3/' target="_blank">
                <img class='accessory-image' src="https://cdn1.bigcommerce.com/server1000/tc515/products/940/images/6744/HPSK3_stake__90840.1396974911.1280.1280.jpg?c=2" alt="Landscape Lighting Fixture Splice Compartment Hub">Containment Hub</a>
        </li>
        <li class='accessory-item'>
            <a class='accessory-link' href='/stakes-mounts/' target="_blank">
                <img class='accessory-image' src="https://cdn1.bigcommerce.com/server1000/tc515/products/1721/images/6205/Black_Surface_Mounting_Base_PBS1_BLK__73439.1394052520.1280.1280.jpg?c=2" alt="Surface Mount Base PBS1">Surface Mounting Base</a>
        </li>
        <li class='accessory-item'>
            <a class='accessory-link' href='/category/invisa-shield/' target="_blank">
                <img class='accessory-image' src="https://www.affordablequalitylighting.com/product_images/v/786/invisa_shield_43235.1364426199.1280.1280__12371.png" alt="Invisa Shield">Invisa Shield</a>
        </li>
        <li class='accessory-item'>
            <a class='accessory-link' href='/outdoor-lighting/landscape-accessories/maintenance-upkeep/electro-shield/' target="_blank">
                <img class='accessory-image' src="https://www.affordablequalitylighting.com/product_images/l/628/electro_shield_22705.1362703169.1280.1280__14782.png" alt="Eletro-Shield">Eletro-Shield</a>
        </li>
        <li class='accessory-item'>
            <a class='accessory-link' href='/outdoor-lighting/landscape-accessories/maintenance-upkeep/rain-x-anti-fog/' target="_blank">
                <img class='accessory-image' src="https://cdn1.bigcommerce.com/server1000/tc515/products/811/images/4419/1_wipe_500x500__36767.1368749191.1280.1280.jpg?c=1" alt="Rain X Anti-Fog">Rain X Anti-Fog</a>
        </li>
        <li class='accessory-item'>
            <a class='accessory-link' href='/outdoor-lighting/landscape-accessories/cables-connectors-tape/wingnuts-cwn/' target="_blank">
                <img class='accessory-image' src="https://www.affordablequalitylighting.com/product_images/c/254/winged_3_1__14486.jpg" alt="Wingnuts-CWN">Wire Nuts</a>
        </li>
        <li class='accessory-item'>
            <a class='accessory-link' href='/cables-connectors-tape/' target="_blank">
                <img class='accessory-image' src="https://www.affordablequalitylighting.com/product_images/uploaded_images/12v-direct-burial-cable.jpg" alt="12V Direct Burial Cable">12V Direct Burial Cable</a>
        </li>
        <li class='accessory-item'>
            <a class='accessory-link' href='/outdoor-lighting/landscape-accessories/cables-connectors-tape/direct-burial-splice-kit-kik3m/' target="_blank">
                <img class='accessory-image' src="https://cdn1.bigcommerce.com/server1000/tc515/products/937/images/6479/Direct_Burial_Splice_Kit_20590.1362682516.1280.1280_1_square__00429.1394668135.1280.1280.jpg?c=1" alt="Direct Burial Splice Kit KIK3M">3M Splice Kit</a>
        </li>
        <li class='accessory-item'>
            <a class='accessory-link' href='/low-voltage-transformers/' target="_blank">
                <img class='accessory-image' src="https://www.affordablequalitylighting.com/product_images/uploaded_images/12-to-22-volt-taps-multi-volt-300w-stainless-steel-transformer-1-84815.1361223286.1280.1280.jpg" alt="12V Outdoor Transformer">12V Outdoor Transformer</a>
        </li>
        <li class='accessory-item'>
            <a class='accessory-link' href='/outdoor-lighting/landscape-accessories/timers-controllers/outdoor-digital-controller/' target="_blank">
                <img class='accessory-image' src="https://www.affordablequalitylighting.com/product_images/d/405/Outdoor_Digital_Controller_1__22631.jpg" alt="Outdoor Digital Controller">Digital Controller</a>
        </li>
    </ul>
</div>
