<span class='product-title'>Plug-In Transformers:</span>
<ul class='accessorytab'>
    <li>
        <a href='/indoor-lighting/under-counter-under-cabinet-lighting/led-strip-tape-light/12v-24w-indoor-led-plug-in-transformer-led-aqt-24/' title="24w Indoor Plug In Transformer LED-AQT-24" target="_blank"><img src="/product_images/uploaded_images/24w-Plug-In-Transformer-LED-AQT-24.jpg" alt="24w Indoor Plug In Transformer LED-AQT-24">12V 24w Plug-In Transformer</a>
    </li>
    <li>
        <a href='/indoor-lighting/under-counter-under-cabinet-lighting/led-strip-tape-light/12v-40w-indoor-led-plug-in-transformer-led-aqt-40/' title="40w Indoor Plug In Tranformer" target="_blank"><img src="/product_images/uploaded_images/40w-Plug-In-Transformer-LED-AQT-40.jpg" alt="40w Indoor Plug In Transformer LED-AQT-40">12V 40w Plug-In Transformer</a>
    </li>
    <li>
        <a href='/indoor-lighting/low-voltage-indoor-transformers/12v-72w-indoor-plug-in-transformer/' title="72w Indoor Plug In Transformer" target="_blank"><img src="/product_images/uploaded_images/72w-Indoor-Plug-In-Transformer.jpg" alt="72w Indoor Plug In Transformer">12V 72w Plug-In Transformer</a>
    </li>
    <li>
        <a href='/indoor-lighting/low-voltage-indoor-transformers/12v-84w-indoor-plug-in-transformer/' title="84w Indoor Plug In Tranformer" target="_blank"><img src="/product_images/uploaded_images/72w-Indoor-Plug-In-Transformer.jpg" alt="84w Indoor Plug In Transformer">12V 84w Plug-In Tranformer</a>
    </li>
</ul>​
