<span class='product-title'>PRIORI Light Bar Series Accessories:</span>
<ul class='accessorytab'>
    <li class='accessorytab'>
        <a href="/indoor-lighting/indoor-accessories/hardwire-junction-box-kit-priori/" target="_blank"><img src="/product_images/uploaded_images/PRIORI/043J-Hardwire-Junction-Box-Kit-in-Bronze.jpg" alt="043J Hardwire Junction Box Kit in Bronze" title="043J Hardwire Junction Box Kit in Bronze">Hardwire Junction Box Kit</a>
    </li>
    <li class='accessorytab'>
        <a href="/indoor-lighting/indoor-accessories/6ft-grounded-3-wire-power-cord-priori/" target="_blank"><img src="/product_images/uploaded_images/PRIORI/043A-PC6-6-Foot-Grounded-Power-Cord-in-White.jpg" alt="043A-PC6 Grounded Power Cord in White" title="043A-PC6 Grounded Power Cord in White">Power Cord</a>
    </li>
    <li class='accessorytab'>
        <a href="/indoor-lighting/indoor-accessories/jumper-linking-cable-priori/" target="_blank"><img src="/product_images/uploaded_images/PRIORI/043A-Jumper-Linking-Cable-in-Bronze.jpg" alt="043A Linking Jumper Cable in Black" title="043A Linking Jumper Cable in Black">Linker Cable</a>
    </li>
</ul>
