<span class='product-title'>Controllers:</span>
<ul class='accessorytab'>
    <li>
        <a href='/rope-light/led-tape-light/led-rgb-30-tape-light-rf-controller/' title="Click Here for More Information" target="_blank"><img src="/product_images/uploaded_images/LED-RGB-LED-Tape-Light-RF-Controller-and-Receiver-Kit.jpg" alt="Radio Frequency RGB LED Tape Light Controller and Receiver Kit" title="Radio Frequency RGB LED Tape Light Controller and Receiver Kit">RF Controller Kit</a>
    </li>
    <li>
        <a href='/rope-light/led-tape-light/led-rgb-30-tape-light-controller-kit/' title="Click Here for More Information" target="_blank"><img src="/product_images/uploaded_images/LED-RGB-5050-30-Tape-Light-IR-Controller-and-Remote-Kit.jpg" alt="Standard Capacity Infrared RGB LED Tape Light Controller and Receiver Kit" title="Standard Capacity Infrared RGB LED Tape Light Controller and Receiver Kit">IR Controller Kit (Standard)</a>
    </li>
    <li>
        <a href='/rope-light/led-tape-light/led-rgb-60-tape-light-controller-kit/' title="Click Here for More Information" target="_blank"><img src="/product_images/uploaded_images/LED-RGB-5050-60-LED-Tape-Light-Controller-and-Receiver-Kit.jpg" alt="High Capacity Infrared RGB LED Tape Light Controller and Receiver Kit" title="High Capacity Infrared RGB LED Tape Light Controller and Receiver Kit">IR Controller Kit (High Capacity)</a>
    </li>
    <li>
        <a href='/rope-light/led-tape-light/led-tape-light-in-line-on-off-switch/' title="In-Line On/Off Switch" target="_blank"><img src="/product_images/uploaded_images/In-Line-On-Off-Toggle-Switch.jpg" alt="In-Line On/Off Switch">In-Line On/Off Switch</a>
    </li>
    <li>
        <a href='/indoor-lighting/indoor-accessories/4-stage-touchpad-dimmer-tape-light-controller/' title="4 Stage Touchpad Dimmer" target="_blank"><img src="/product_images/uploaded_images/In-Line-Tape-Light-4-Stage-Touchpad-Dimmer-AQTTD-12DC5-5.jpg" alt="4 Stage Touchpad Dimmer">4-Stage Touchpad Dimmer</a>
    </li>
    <li>
        <a href='/indoor-lighting/indoor-accessories/in-line-tape-light-motion-sensor/' title="In Line Motion Sensor" target="_blank"><img src="/product_images/uploaded_images/In-Line-Tape-Light-Motion-Sensor-AQTMS-12DC5-5.jpg" alt="In Line Motion Sensor">Motion Sensor</a>
    </li>
</ul>
​
