<div>
    <span class='product-title'>Jumpers, Cords &amp; Connectors:</span>
    <ul class='accessorytab'>
        <li class='accessorytab'>
            <a href="/rope-light/ropelight-accessories/tape-light-connectors-adapters/5-wire-slip-connect-jumper-for-rgb-w-led-tape-light/" target="_blank"><img src="/product_images/uploaded_images/LEDAQT/LEDAQT-DSC5-RGBW-LED-Tape-Light-Jumper-Connection-Cable.jpg" alt="5 Wire LED RGBW Tape Light Jumper Cable" title="5 Wire LED RGBW Tape Light Jumper Cable">5 Wire Jumper</a>
        </li>
    </ul>
</div>​
