<span class='product-title'>Snowfall Accessories:</span>
<ul class='accessorytab'>
    <li class='accessorytab'>
        <a href='/outdoor-lighting/low-voltage-transformers/12v-36w-led-snowfall-string-light-power-supply/' target="_blank"> <img class="" src="http://cdn1.bigcommerce.com/server1000/tc515/products/2508/images/9815/LED_Snowfall_Light_String_Power_Supply__37344.1415121218.1280.1280.jpg?c=2" alt="12V 36W Plug In Outdoor Rated Power Supply for LED Snowfall Lights"> 12V 36W Outdoor-Rated Power Supply </a>
    </li>
    <li class='accessorytab'>
        <a href='/outdoor-lighting/low-voltage-transformers/12v-60w-led-snowfall-string-light-power-supply/' target="_blank"> <img class="" src="http://cdn1.bigcommerce.com/server1000/tc515/products/2508/images/9815/LED_Snowfall_Light_String_Power_Supply__37344.1415121218.1280.1280.jpg?c=2" alt="12V 60W Plug In Outdoor Rated Power Supply for LED Snowfall Lights"> 12V 60W Outdoor-Rated Power Supply </a>
    </li>
    <li class='accessorytab'>
        <a href='/outdoor-lighting/low-voltage-transformers/12v-150w-led-snowfall-string-light-power-supply/' target="_blank"> <img class="" src="http://cdn1.bigcommerce.com/server1000/tc515/products/2508/images/9815/LED_Snowfall_Light_String_Power_Supply__37344.1415121218.1280.1280.jpg?c=2" alt="12V 150W Plug In Outdoor Rated Power Supply for LED Snowfall Lights"> 12V 150W Outdoor-Rated Power Supply </a>
    </li>
    <li class='accessorytab'>
        <a href='/outdoor-lighting/holiday-lights/led-snowfall-string-light-wiring-harness/' target="_blank"> <img class="" src="http://cdn1.bigcommerce.com/server1000/tc515/products/1544/images/5502/LED_Snowfall_String_Light_Wiring_Harness__78941.1406794013.1280.1280.jpg?c=2" alt="LED Snowfall Animated Light String Wiring Harness"> Snowfall Wiring Harness </a>
    </li>
    <li class='accessorytab'>
        <a href='/outdoor-lighting/holiday-lights/led-snowfall-spacer-cable/' target="_blank"> <img class="" src="http://cdn1.bigcommerce.com/server1000/tc515/products/1543/images/5609/LED_Snowfall_Spacer__72236.1406796802.1280.1280.jpg?c=2" alt="LED Snowfall Animated Light String Wiring Harness"> Snowfall Spacer Extension Cable </a>
    </li>
</ul>
​