<table class='fabrictable'>
    <tbody>
        <tr>
            <td><img class='fabrictable' title="18540-black-finish.jpg" src="/product_images/uploaded_images/18540-black-finish.jpg" alt="18540-black-finish.jpg" width="669" height="537" /></td>
            <td><img class='fabrictable' title="18540-white-finish.jpg" src="/product_images/uploaded_images/18540-white-finish.jpg" alt="18540-white-finish.jpg" width="669" height="537" /></td>
            <td><img class='fabrictable' title="speckledoak-finish.jpg" src="/product_images/uploaded_images/speckledoak-finish.jpg" alt="speckledoak-finish.jpg" width="669" height="537" /></td>
            <td><img class='fabrictable' title="18540-jade-finish.jpg" src="/product_images/uploaded_images/18540-jade-finish.jpg" alt="18540-jade-finish.jpg" width="669" height="537" /></td>
            <td><img class='fabrictable' title="18540-rust-finish.jpg" src="/product_images/uploaded_images/18540-rust-finish.jpg" alt="18540-rust-finish.jpg" width="669" height="537" /></td>
            <td><img class='fabrictable' title="18540-mandarin-red.jpg" src="/product_images/uploaded_images/18540-mandarin-red.jpg" alt="18540-mandarin-red.jpg" width="669" height="537" /></td>
            <td><img class='fabrictable' title="18540-polished-aluminium.jpg" src="/product_images/uploaded_images/18540-polished-aluminium.jpg" alt="18540-polished-aluminium.jpg" width="669" height="537" /></td>
            <td><img class='fabrictable' title="18540-mahogany.jpg" src="/product_images/uploaded_images/18540-mahogany.jpg" alt="18540-mahogany.jpg" width="669" height="537" /></td>
        </tr>
        <tr>
            <td>Black</td>
            <td>White</td>
            <td>Speckled Oak</td>
            <td>Jade</td>
            <td>Rust</td>
            <td>Red</td>
            <td>Polished Aluminum</td>
            <td>Mahogany</td>
        </tr>
    </tbody>
</table>​
