<table class='fabrictable'>
    <tbody>
        <tr>
            <td><img class='fabrictable' title="canvas-natural-5404-fabric-swatch.jpg" src="/product_images/uploaded_images/canvas-natural-5404-fabric-swatch.jpg" alt="canvas-natural-5404-fabric-swatch.jpg" width="234" height="234" /></td>
            <td><img class='fabrictable' title="canvas-beige-5422-fabric-swatch.jpg" src="/product_images/uploaded_images/canvas-beige-5422-fabric-swatch.jpg" alt="canvas-beige-5422-fabric-swatch.jpg" width="234" height="234" /></td>
            <td><img class='fabrictable' title="canvas-flax-5492-fabric-swatch.jpg" src="/product_images/uploaded_images/canvas-flax-5492-fabric-swatch.jpg" alt="canvas-flax-5492-fabric-swatch.jpg" width="234" height="234" /></td>
            <td><img class='fabrictable' title="canvas-brass-5484-fabric-swatch.jpg" src="/product_images/uploaded_images/canvas-brass-5484-fabric-swatch.jpg" alt="canvas-brass-5484-fabric-swatch.jpg" width="234" height="234" /></td>
            <td><img class='fabrictable' title="canvas-chestnut-57001-fabric-swatch.jpg" src="/product_images/uploaded_images/canvas-chestnut-57001-fabric-swatch.jpg" alt="canvas-chestnut-57001-fabric-swatch.jpg" width="234" height="234" /></td>
            <td><img class='fabrictable' title="canvas-dusk-5491-fabric-swatch.jpg" src="/product_images/uploaded_images/canvas-dusk-5491-fabric-swatch.jpg" alt="canvas-dusk-5491-fabric-swatch.jpg" width="234" height="234" /></td>
            <td><img class='fabrictable' title="canvas-brown-5432-fabric-swatch.jpg" src="/product_images/uploaded_images/canvas-brown-5432-fabric-swatch.jpg" alt="canvas-brown-5432-fabric-swatch.jpg" width="234" height="234" /></td>
            <td><img class='fabrictable' title="canvas-black-5471-fabric-swatch.jpg" src="/product_images/uploaded_images/canvas-black-5471-fabric-swatch.jpg" alt="canvas-black-5471-fabric-swatch.jpg" width="234" height="234" /></td>
        </tr>
        <tr>
            <td>Canvas Natural
                <br /> 5404</td>
            <td>Canvas Beige
                <br /> 5422</td>
            <td>Canvas Flax
                <br /> 5492</td>
            <td>Canvas Brass
                <br /> 5484</td>
            <td>Canvas Chestnut
                <br /> 57001</td>
            <td>Canvas Dusk
                <br /> 5491</td>
            <td>Canvas Brown
                <br /> 5432</td>
            <td>Canvas Black
                <br /> 5471</td>
        </tr>
        <tr>
            <td><img class='fabrictable' title="canvas-blue-5420-fabric-swatch.jpg" src="/product_images/uploaded_images/canvas-blue-5420-fabric-swatch.jpg" alt="canvas-blue-5420-fabric-swatch.jpg" width="234" height="234" /></td>
            <td><img class='fabrictable' title="canvas-ginkgo-54011-fabric-swatch.jpg" src="/product_images/uploaded_images/canvas-ginkgo-54011-fabric-swatch.jpg" alt="canvas-ginkgo-54011-fabric-swatch.jpg" width="234" height="234" /></td>
            <td><img class='fabrictable' title="canvas-palm-5421-fabric-swatch.jpg" src="/product_images/uploaded_images/canvas-palm-5421-fabric-swatch.jpg" alt="canvas-palm-5421-fabric-swatch.jpg" width="234" height="234" /></td>
            <td><img class='fabrictable' title="canvas-charcoal-54048-fabric-swatch.jpg" src="/product_images/uploaded_images/canvas-charcoal-54048-fabric-swatch.jpg" alt="canvas-charcoal-54048-fabric-swatch.jpg" width="234" height="234" /></td>
            <td><img class='fabrictable' title="canvas-sunflower-5457-fabric-swatch.jpg" src="/product_images/uploaded_images/canvas-sunflower-5457-fabric-swatch.jpg" alt="canvas-sunflower-5457-fabric-swatch.jpg" width="234" height="234" /></td>
            <td><img class='fabrictable' title="canvas-pink-5462-fabric-swatch.jpg" src="/product_images/uploaded_images/canvas-pink-5462-fabric-swatch.jpg" alt="canvas-pink-5462-fabric-swatch.jpg" width="234" height="234" /></td>
            <td><img class='fabrictable' title="canvas-burgundy-5436-fabric-swatch.jpg" src="/product_images/uploaded_images/canvas-burgundy-5436-fabric-swatch.jpg" alt="canvas-burgundy-5436-fabric-swatch.jpg" width="234" height="234" /></td>
            <td><img class='fabrictable' title="canvas-red-5477-fabric-swatch.jpg" src="/product_images/uploaded_images/canvas-red-5477-fabric-swatch.jpg" alt="canvas-red-5477-fabric-swatch.jpg" width="234" height="234" /></td>
        </tr>
        <tr>
            <td>Canvas Blue
                <br /> 5420</td>
            <td>Canvas Ginkgo
                <br /> 54011</td>
            <td>Canvas Palm
                <br /> 5421</td>
            <td>Canvas Charcoal
                <br /> 54048</td>
            <td>Canvas Sunflower
                <br /> 5457</td>
            <td>Canvas Pink
                <br /> 5462</td>
            <td>Canvas Burgundy
                <br /> 5436</td>
            <td>Canvas Red
                <br /> 5477</td>
        </tr>
    </tbody>
</table>​
