<table class='SunTable'>
    <tbody>
        <tr>
            <td><img class='fabrictable' title="black-fixture-finish.jpg" src="/product_images/uploaded_images/black-fixture-finish.jpg" alt="black-fixture-finish.jpg" width="300" height="300" /></td>
            <td><img class='fabrictable' title="java-fixture-finish.jpg" src="/product_images/uploaded_images/java-fixture-finish.jpg" alt="java-fixture-finish.jpg" width="300" height="300" /></td>
            <td><img class='fabrictable' title="cocoa-fixture-finish.jpg" src="/product_images/uploaded_images/cocoa-fixture-finish.jpg" alt="cocoa-fixture-finish.jpg" width="300" height="300" /></td>
            <td><img class='fabrictable' title="sandstone-fixture-finish.jpg" src="/product_images/uploaded_images/sandstone-fixture-finish.jpg" alt="sandstone-fixture-finish.jpg" width="300" height="300" /></td>
        </tr>
        <tr>
            <td>Black</td>
            <td>Java</td>
            <td>Cocoa</td>
            <td>Sandstone</td>
        </tr>
    </tbody>
</table>​
