<span class='product-title'>Controllers:</span>
<ul class='accessorytab'>
    <li>
        <a href='/indoor-lighting/light-switches-dimmers/light-switches/150w-maestro-single-pole-3-way-multi-location-digital-dimmer-light-switch/' title="150w Maestro Single Pole 3 Way Multi-Location Digital Dimmer Light Switch" target="_blank"><img src="/product_images/uploaded_images/lutron-maestro-macl-153mh-digital-dimmer-light-switch-in-white.jpg" alt="150w Maestro Single Pole 3 Way Multi-Location Digital Dimmer Light Switch">Lutron Maestro Dimmer Switch</a>
    </li>
    <li>
        <a href='/rope-light/led-tape-light/led-tape-light-in-line-on-off-switch/' title="In-Line On/Off Switch" target="_blank"><img src="/product_images/uploaded_images/In-Line-On-Off-Toggle-Switch.jpg" alt="In-Line On/Off Switch">In-Line On/Off Switch</a>
    </li>
    <li>
        <a href='/indoor-lighting/indoor-accessories/12v-24v-multi-function-led-tape-light-8-stage-dimming-controller/' title="12V / 24V Multi-Function LED Tape Light 8-Stage Dimming Controller" target="_blank"><img src="https://cdn1.bigcommerce.com/server1000/tc515/products/3502/images/13495/AQT-OL5.5-ILDC-Multi-Function-LED-Tape-Light-8-Stage-Dimming-Controller__09383.1463516500.1280.1280.jpg?c=2" alt="12V / 24V Multi-Function LED Tape Light 8-Stage Dimming Controller">12V / 24V Multi-Function LED Tape Light 8-Stage Dimming Controller</a>
    </li>
    <li>
        <a href='/indoor-lighting/indoor-accessories/1-touch-inline-controller-led-tape-light-dimmer/' title="1 Touch Inline Controller LED Tape Light Dimmer" target="_blank"><img src="https://cdn1.bigcommerce.com/server1000/tc515/products/3593/images/13701/AQT-OL-1TOUCH-Touchpad-Inline-Controller-LED-Tape-Light-Dimmer__02831.1467743806.1280.1280.jpg?c=2" alt="1 Touch Inline Controller LED Tape Light Dimmer">1 Touch Inline Controller LED Tape Light Dimmer</a>
    </li>
</ul>​
