<span class='product-title'>Connectors:</span>
<ul class='accessorytab'>
    <li>
        <a href='/rope-light/led-tape-light/3-coaxial-extension-cable/' title="3 Foot Coaxial Extension Cable" target="_blank"><img src="/product_images/uploaded_images/3ft-Coaxial-Extension-Cable.jpg" alt="3 Foot Coaxial Extension Cable">3' Coaxial Extension Cable</a>
    </li>
    <li>
        <a href='/rope-light/led-tape-light/coaxial-to-4-pin-connection-adapter-cable/' title="Coaxial to 4-Pin Adapter Cable" target="_blank"><img src="/product_images/uploaded_images/Coaxial-to-4-Pin-Adapter-Cable.jpg" alt="Coaxial to 4-Pin Adapter Cable">Coaxial to 4-Pin Adapter Cable</a>
    </li>
    <li>
        <a href='/rope-light/led-tape-light/4-pin-to-dual-4-pin-y-splitter-connector-cable/' title="4-Pin to 4-Pin Y Splitter" target="_blank"><img src="/product_images/uploaded_images/4-Pin-to-4-Pin-Y-Splitter.jpg" alt="4-Pin to 4-Pin Y Splitter">4-Pin to 4-Pin Y Splitter</a>
    </li>
    <li>
        <a href='/rope-light/led-tape-light/coaxial-to-dual-4-pin-y-splitter-cable/' title="Coaxial to 4-Pin Y Splitter" target="_blank"><img src="/product_images/uploaded_images/Coaxial-to-4-Pin-Y-Splitter.jpg" alt="Coaxial to 4-Pin Y Splitter">Coaxial to 4-Pin Y Splitter</a>
    </li>
    <li>
        <a href='/rope-light/led-tape-light/male-to-male-splice-connector/' title="4-Pin to 4-Pin Splice Connector" target="_blank"><img src="/product_images/uploaded_images/4-Pin-to-4-Pin-Splice-Connector.jpg" alt="4-Pin to 4-Pin Splice Connector">4-Pin to 4-Pin Splice Connector</a>
    </li>
</ul>​
