<div>
    <span class='product-title'>Transformers &amp; Power Supplies:</span>
    <ul class='accessorytab'>
        <li class='accessorytab'>
            <a href="/indoor-lighting/low-voltage-indoor-transformers/24v-150w-dc-electronic-indoor-rated-transformer-lrs-150-24/" target="_blank"><img src="/product_images/uploaded_images/Meanwell/LRS-150-24-24V-DC-150w-Electronic-Transformer-Power-Supply.jpg" alt="LRS-150-24 24V DC 150w Indoor Rated Transformer" title="LRS-150-24 24V DC 150w Indoor Rated Transformer">24V 150W DC Indoor Transformer</a>
        </li>
        <li class='accessorytab'>
            <a href="/indoor-lighting/low-voltage-indoor-transformers/24v-160w-plug-in-dc-electronic-indoor-rated-transformer-gst160/" target="_blank"><img src="/product_images/uploaded_images/Meanwell/GST160-24V-160w-Plug-In-DC-Electronic-Transformer-Power-Supply.jpg" alt="GST160A24 24V DC 160w Plug-in Indoor Rated Transformer" title="GST160A24 24V DC 160w Plug-in Indoor Rated Transformer">24V 160W DC Plug-in Transformer</a>
        </li>
        <li class='accessorytab'>
            <a href="/indoor-lighting/low-voltage-indoor-transformers/24v-300w-electronic-indoor-rated-transformer-lrs-350/" target="_blank"><img src="/product_images/uploaded_images/Meanwell/LRS-350-24-24V-350w-DC-Electronic-Indoor-Transformer-Power-Supply.jpg" alt="LRS-350-24 24V DC 300W Indoor Rated Tranformer" title="LRS-350-24 24V DC 300W Indoor Rated Tranformer">24V 300W DC Indoor Transformer</a>
        </li>
    </ul>
</div>​
