<span class='product-title'>Glass Styles:</span>
<br /> The glass jar and cage guard cannot be purchased separately. This highly thought after upgrade has two purpose: first to protect your bulb from the elements and second to add a design vintage touch to your project. You can mix and match colors of the guard with the fixture itself. One of the in fashion combo is the galvanized fixture with a powder coat rust cage and a frosted glass.
<hr size='2' />
<table class='ordersheet'>
    <tbody>
        <tr>
            <td width="142">Clear</td>
            <td width="142">Frosted</td>
            <td width="142">Opal</td>
        </tr>
        <tr>
            <td><img class="__mce_add_custom__" src="/product_images/uploaded_images/clear-glass-jar.jpg" alt="Clear Glass Jelly Jar thumb" width="100" height="190" /></td>
            <td><img src="/product_images/uploaded_images/frosted-glass-jar.jpg" alt="Frosted Glass Jelly Jar thumb" width="100" /></td>
            <td><img class="__mce_add_custom__" title="opal-glass-jar.jpg" src="/product_images/uploaded_images/opal-glass-jar.jpg" alt="opal-glass-jar.jpg" width="138" height="193" /></td>
        </tr>
    </tbody>
</table>
