<span class='product-title'>Available Finishes:</span>
<br /> We have a large variety of finish options to allow for incredible customization of your barn/sign lights. If you can't find a finish you like/need, please contact our sales staff for a custom finish solution.
<hr size='2' />
<table class='ordersheet'>
    <tbody>
        <tr>
            <td>Gloss White</td>
            <td>Semi-Gloss White</td>
            <td>Gloss Black</td>
            <td>Matte Black</td>
            <td>Painted Copper</td>
            <td>Bronze Patina</td>
            <td>Red</td>
        </tr>
        <tr>
            <td><img class="__mce_add_custom__" title="sf-wt.jpg" src="/product_images/uploaded_images/sf-wt.jpg" alt="Gloss White Finish Swatch" width="125" height="125" /></td>
            <td><img class="__mce_add_custom__" title="sf-sgw.jpg" src="/product_images/uploaded_images/sf-sgw.jpg" alt="Semi-Gloss White Finish Swatch" width="125" height="125" /></td>
            <td><img class="__mce_add_custom__" title="sf-bk.jpg" src="/product_images/uploaded_images/sf-bk.jpg" alt="Gloss Black Finish Swatch" width="125" height="125" /></td>
            <td><img class="__mce_add_custom__" title="sf-mb.jpg" src="/product_images/uploaded_images/sf-mb.jpg" alt="Matte Black Finish Swatch" width="125" height="125" /></td>
            <td><img class="__mce_add_custom__" title="sf-pnc.jpg" src="/product_images/uploaded_images/sf-pnc.jpg" alt="Painted Copper Finish Swatch" width="125" height="125" /></td>
            <td><img class="__mce_add_custom__" title="sf-bzp.jpg" src="/product_images/uploaded_images/sf-bzp.jpg" alt="Bronze Patina Finish Swatch" width="125" height="125" /></td>
            <td><img class="__mce_add_custom__" title="sf-rd.jpg" src="/product_images/uploaded_images/sf-rd.jpg" alt="Red Finish Swatch" width="125" height="125" /></td>
        </tr>
        <tr>
            <td>Blue</td>
            <td>Hunter Green</td>
            <td>Dove Grey</td>
            <td>Satin Silver</td>
            <td>Satin Aluminum</td>
            <td>Galvanized</td>
        </tr>
        <tr>
            <td><img class="__mce_add_custom__" title="sf-blu.jpg" src="/product_images/uploaded_images/sf-blu.jpg" alt="Blue Finish Swatch" width="125" height="125" /></td>
            <td><img class="__mce_add_custom__" title="sf-hg.jpg" src="/product_images/uploaded_images/sf-hg.jpg" alt="Hunter Green Finish Swatch" width="125" height="125" /></td>
            <td><img class="__mce_add_custom__" title="sf-dvg.jpg" src="/product_images/uploaded_images/sf-dvg.jpg" alt="Dove Grey Finish Swatch" width="125" height="125" /></td>
            <td><img class="__mce_add_custom__" title="sf-ss.jpg" src="/product_images/uploaded_images/sf-ss.jpg" alt="Satin Silver Finish Swatch" width="125" height="125" /></td>
            <td><img class="__mce_add_custom__" title="sf-sa.jpg" src="/product_images/uploaded_images/sf-sa.jpg" alt="Satin Aluminum Finish Swatch" width="125" height="125" /></td>
            <td><img class="__mce_add_custom__" title="sf-ga.jpg" src="/product_images/uploaded_images/sf-ga.jpg" alt="Galvanized Finish Swatch" width="125" height="125" /></td>
        </tr>
    </tbody>
</table>
