<span class='product-title'>Arm Styles:</span>
<br /> We offer the following styles of arms as to enhance the design aspect of your project.  Click the arm for larger images.
<br />
<hr size='2'/>
<table class='ordersheet'>
    <tbody>
        <tr>
            <td>Small Loop</td>
            <td>Large Loop</td>
            <td>Curve</td>
            <td>Miter</td>
        </tr>
        <tr>
            <td>
                <a href="/product_images/uploaded_images/small-loop-arm-dimensions.jpg" target="_blank"><img class="__mce_add_custom__" title="small-loop-arm-dimensions.jpg" src="/product_images/uploaded_images/small-loop-arm-dimensions.jpg" alt="small-loop-arm-dimensions.jpg" width="200" height="133" /></a>
            </td>
            <td>
                <a href="/product_images/uploaded_images/large-loop-arm-dimensions.jpg" target="_blank"><img class="__mce_add_custom__" title="large-loop-arm-dimensions.jpg" src="/product_images/uploaded_images/large-loop-arm-dimensions.jpg" alt="large-loop-arm-dimensions.jpg" width="200" height="143" /></a>
            </td>
            <td>
                <a href="/product_images/uploaded_images/curve-arm-dimensions.jpg" target="_blank"><img class="__mce_add_custom__" title="curve-arm-dimensions.jpg" src="/product_images/uploaded_images/curve-arm-dimensions.jpg" alt="curve-arm-dimensions.jpg" width="200" height="143" /></a>
            </td>
            <td>
                <a href="/product_images/uploaded_images/miter-arm-dimensions.jpg" target="_blank"><img class="__mce_add_custom__" title="miter-arm-dimensions.jpg" src="/product_images/uploaded_images/miter-arm-dimensions.jpg" alt="miter-arm-dimensions.jpg" width="200" height="126" /></a>
            </td>
        </tr>
        <tr>
            <td>Sign</td>
            <td>Large Sign</td>
            <td>Straight</td>
        </tr>
        <tr>
            <td>
                <a href="/product_images/uploaded_images/sign-arm-dimensions.jpg" target="_blank"><img class="__mce_add_custom__" title="sign-arm-dimensions.jpg" src="/product_images/uploaded_images/sign-arm-dimensions.jpg" alt="sign-arm-dimensions.jpg" width="200" height="176" /></a>
            </td>
            <td>
                <a href="/product_images/uploaded_images/large-sign-arm-dimensions.jpg" target="_blank"><img class="__mce_add_custom__" title="large-sign-arm-dimensions.jpg" src="/product_images/uploaded_images/large-sign-arm-dimensions.jpg" alt="large-sign-arm-dimensions.jpg" width="200" height="176" /></a>
            </td>
            <td>
                <a href="/product_images/uploaded_images/straight-arm-dimensions.jpg" target="_blank"><img class="__mce_add_custom__" title="straight-arm-dimensions.jpg" src="/product_images/uploaded_images/straight-arm-dimensions.jpg" alt="straight-arm-dimensions.jpg" width="200" height="188" /></a>
            </td>
        </tr>
    </tbody>
</table>
​