---
brand:
    products:
        limit: {{theme_settings.brandpage_products_per_page}}
---
{{inject "brandProductsPerPage" theme_settings.brandpage_products_per_page}}
{{#partial "head"}}
    {{#if pagination.brand.previous}}
        <link rel="prev" href="{{pagination.brand.previous}}">
    {{/if}}
    {{#if pagination.brand.next}}
        <link rel="next" href="{{pagination.brand.next}}">
    {{/if}}
{{/partial}}

{{#partial "page"}}
{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
{{#if brand.image}}
    <img class="brand-logo" src="{{getImage brand.image}}">
{{/if}}

{{{snippet 'brand'}}}
<div class="page">
    <aside class="page-sidebar" id="faceted-search-container">
        {{> components/brand/sidebar}}
    </aside>

    <main class="page-content" id="product-listing-container">
        {{#if brand.products}}
            {{> components/brand/product-listing}}
        {{else}}
            <p>{{lang 'brands.no_products'}}</p>
        {{/if}}
    </main>
</div>

{{/partial}}
{{> layout/base}}

<style>
    .body {
        background-color: #f8f8f8;
    }

    .brand-logo {
        display: block;
        max-width: 250px;
        padding: 50px;
        margin: 0 auto;
    }

    .productGrid {
        background-color: transparent;
    }

    .productGrid .product {
        background-color: white;
        border-radius: 0;
        box-shadow: 0 0 0 1px #ccc;
    }

    @media (min-width: 801px) {
        .productGrid .product {
            width: calc(33% - 20px);
        }
    }

    .productGrid .product .rating--small {
        display: none;
    }

    .productGrid .product .card-image {
        padding: 0;
        margin: 40px auto;
        max-height: none;
        width: 80%;
    }

    .productGrid .product .card-title {
        padding: 10px 20px 0;
    }

    .card-text .price--withoutTax {
        color: #2679fe;
        font-size: 18px;
        font-weight: 300;
        display: inline-block;
    }
</style>
