---
category:
    shop_by_price: true
    products:
        limit: {{theme_settings.categorypage_products_per_page}}
---
{{inject "categoryProductsPerPage" theme_settings.categorypage_products_per_page}}
{{#partial "head"}}
    {{#if pagination.category.previous}}
        <link rel="prev" href="{{pagination.category.previous}}">
    {{/if}}
    {{#if pagination.category.next}}
        <link rel="next" href="{{pagination.category.next}}">
    {{/if}}
    <!--Custom Vanilla JS for Category Carousel-->
    <script defer>
        var slideIndex = 1;
        var myTimer;
        var slideshowContainer;

        window.addEventListener("load",function() {
            var slides = document.getElementsByClassName("mySlides");

            if (slides.length > 0) {
                showSlides(slideIndex);
                myTimer = setInterval(function(){plusSlides(1)}, 4000);
                slideshowContainer = document.getElementsByClassName('slideshow-inner')[0];
                slideshowContainer.addEventListener('mouseenter', pause)
                slideshowContainer.addEventListener('mouseleave', resume)
            }
        })
        function plusSlides(n){
            clearInterval(myTimer);
            if (n < 0){
            showSlides(slideIndex -= 1);
            } else {
            showSlides(slideIndex += 1);
            }
            if (n === -1){
            myTimer = setInterval(function(){plusSlides(n + 2)}, 4000);
            } else {
            myTimer = setInterval(function(){plusSlides(n + 1)}, 4000);
            }
        }
        function currentSlide(n){
            clearInterval(myTimer);
            myTimer = setInterval(function(){plusSlides(n + 1)}, 4000);
            showSlides(slideIndex = n);
        }
        function showSlides(n){
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("slide-dot");
            if (n > slides.length) {slideIndex = 1}
            if (n < 1) {slideIndex = slides.length}
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active-slide", "");
            }
            slides[slideIndex-1].style.display = "block";
            dots[slideIndex-1].className += " active-slide";
        }

        pause = () => {
            clearInterval(myTimer);
        }

        resume = () =>{
            clearInterval(myTimer);
            myTimer = setInterval(function(){plusSlides(slideIndex)}, 4000);
        }
    </script>
{{/partial}}

{{#partial "page"}}

<main class="page">
    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

    <div class="box-bg">
        <div class="home-box-header">
            <h1 class="h2-categories">{{category.name}}</h1>
        </div>
        {{{category.description}}}
        {{{snippet 'categories'}}}
    </div>

    <div class="page">
        <main class="page-content" id="product-listing-container">
            {{> components/category/main}}

            {{#if category.products}}
                {{> components/category/product-listing}}
            {{/if}}
        </main>
    </div>

    {{/partial}}
    {{> layout/base}}
</main>
