{{#partial "page"}}
<main class="content">
    <h1>Order Complete</h1>
    <p>Your order is complete. How awesome is that!</p>
</main>
{{/partial}}
{{> layout/base}}
<script type="text/javascript"> if (!window.mstag) mstag = {loadTag : function(){},time : (new Date()).getTime()};</script> <script id="mstag_tops" type="text/javascript" src="//flex.msn.com/mstag/site/f3c97cc9-9897-406e-8c58-84be0e906da0/mstag.js"></script> <script type="text/javascript"> mstag.loadTag("analytics", {dedup:"1",domainId:"2623492",type:"1",actionid:"166007"})</script> <noscript> <iframe src="//flex.msn.com/mstag/tag/f3c97cc9-9897-406e-8c58-84be0e906da0/analytics.html?dedup=1&domainId=2623492&type=1&actionid=166007" frameborder="0" scrolling="no" width="1" height="1" style="visibility:hidden;display:none"> </iframe> </noscript>
