{{#partial "page"}}
<main class="content">
    <h1>Order Complete</h1>
    <p>Your order is complete. How awesome is that!</p>
</main>
{{/partial}}
{{> layout/base}}
<script>(function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o={ti:"5215846"};o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function(){var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","//bat.bing.com/bat.js","uetq");</script><noscript><img src="//bat.bing.com/action/0?ti=5215846&Ver=2" height="0" width="0" style="display:none; visibility: hidden;" /></noscript>

<script type="text/javascript"> if (!window.mstag) mstag = {loadTag : function(){},time : (new Date()).getTime()};</script> <script id="mstag_tops" type="text/javascript" src="//flex.msn.com/mstag/site/f3c97cc9-9897-406e-8c58-84be0e906da0/mstag.js"></script> <script type="text/javascript"> mstag.loadTag("analytics", {dedup:"1",domainId:"2623492",type:"1",actionid:"166007"})</script> <noscript> <iframe src="//flex.msn.com/mstag/tag/f3c97cc9-9897-406e-8c58-84be0e906da0/analytics.html?dedup=1&domainId=2623492&type=1&actionid=166007" frameborder="0" scrolling="no" width="1" height="1" style="visibility:hidden;display:none"> </iframe> </noscript>