// =============================================================================
// Banners Component
// =============================================================================


// Banners
// -----------------------------------------------------------------------------
//
// Purpose: Control the look and feel of the top and bottom site banners
//
// -----------------------------------------------------------------------------

.banners {
    /*background-color: stencilColor("color-primary");*/
    background: rgb(233,42,42);
    background: linear-gradient(90deg, rgba(233,42,42,1) 30%, rgba(255,223,223,1) 90%);
    color: stencilColor("color-white");
    padding: spacing("half") 0;
    text-align: center;

    p:last-child {
        margin-bottom: 0;
    }

    a {
        color: color("whites", "bright");
    }
}

.banner {
    @include grid-row;

    + .banner {
        margin-top: spacing("single");
    }
}

.banner-pro {
    display: none;

    @include breakpoint("medium") {
        display: block;
        position: fixed;
        top: 15px;
        left: -95px;
        width: 300px;
        padding: 12px;
        border-radius: 5px 0 0 5px;
        background-color: black;
        color: white;
        font-size: 13px;
        font-weight: bold;
        text-align: center;
        transform: rotate(-45deg);
        z-index: 999999;
    }
}
