// =============================================================================
// CARDS (CSS)
// =============================================================================
//
// 1. Allow users to click the anchor tag on the image in the figcaption empty
//    space. This provides a much larger and simpler hit state for navigating
//    to the product details page. (Does not work in IE10 or earlier).
// 2. Using translate3d to counter a chrome specific bug: When using a masonry
//    styled layout via CSS column-count etc, transforms applied to descendants
//    are made invisible, except for 3d transforms...
//
// -----------------------------------------------------------------------------


.card-figure {
    &:hover {
        .card-figcaption {
            opacity: 1;
        }
    }
}

.card-figcaption {
    display: none;
    margin: $card-figcaption-margin;
    pointer-events: none; // 1
}

.card-figcaption-body {
    display: $card-figcaption-body-display;
    pointer-events: all; // 1
    transform: translate3d(0, -50%, 0); // 2
}

.card-image {
    display: flex;
    height: auto;
    width: 100%;
    padding: auto;
    margin: 10px 0;
    border: 0;
}

.card-link {
    text-decoration: none;
}

.card-title {
    font-size: 14px;
    margin: $card-title-margin;
    text-align: left;

    .card-title-link {
        color: $card-title-color;
        text-decoration: $card-title-textDecoration;
        font-weight: 500;
        letter-spacing: 0;

        // scss-lint:disable NestingDepth
        &:hover {
            color: #2d7cfa;
        }
    }
}

.card-text {
    margin-bottom: $card-text-marginBottom;

    abbr {
        border: 0;
        color: inherit;
        font-size: inherit;
    }

    .price-section {
        text-align: center;
    }

    .price--withoutTax {
        color: stencilColor("color-aql-green");
    }

    .price--rrp, .price--discounted {
        font-size: 12px;
    }
}

.card-price {
    margin-top: 10px;
    text-align: left;
    font-size: 13px;
    color: rgba(0,0,0,0.4);
}

.card-price--without_tax {
    font-size: 15px;
    color: black;
    font-weight: bold;
}

.card-price--without_tax-value {
    color: #2e7cfa;
}

.card-figcaption-button {
    border: $card-figcaption-button-border;
    display: $card-figcaption-button-display;
    margin: $card-figcaption-button-margin;

    &:active {
        background-color: $card-figcaption-button-backgroundHover;
        border: $card-figcaption-button-border;
    }

    + .card-figcaption-button {
        margin: $card-figcaption-button-margin;
    }
}

.card-body {
    width: 100%;
    align-self: flex-end;
    padding: 0;
    text-align: center;
}


//
// Alternate card
//
// Purpose: Used to give the card alternative styling
// -----------------------------------------------------------------------------

.card--alternate {
    border: 3px solid stencilColor("card--alternate-borderColor");
    transition: all 0.15s ease;

    .card-body {
        background-color: stencilColor("card--alternate-backgroundColor");
        padding: spacing("half");
        transition: all 0.15s ease;

        @include breakpoint("small") {
            padding: spacing("single");
        }
    }
}
