// =============================================================================
// CATEGORY GRID (CSS)
// =============================================================================
//
// Category Grid with masonry layout
//
// Purpose: Display categories in a masonry grid, with a display inline-block for
// older browsers that don't support css multicolumn
//
// 1. Some older browser support. This class comes from Modernizr
// -----------------------------------------------------------------------------
#category-description {
    padding: 0 0 0 0em;
    font-size: 1em;

    h3,
    br {
        display: none;
    }

    h5 {
        margin: 0;
        text-align: center;
    }
    .bannerContainer {
        display: flex;
        overflow: hidden;
        margin-left: 1.8%;
    }
    .tripleBanner {
        width: 33.33%
    }
}

.category {
    background-color: white;

    &Container {
        margin: 0;
    }

    &Card {
        float: left;
        width: 100%;
        height: 55px;
        padding: 7px 0;
        margin: 5px 0;
        border-radius: 5px;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08), 0 8px 12px rgba(0, 0, 0, 0.08);
        background-color: white;
        list-style-type: none;
        text-align: center;


        @include breakpoint("medium") {
            width: 33%;
            height: 280px;
            padding: 50px 0;
        }
    }

    &Link {
        display: block;
        position: relative;
        text-decoration: none;
    }

    &Image {
        position: absolute;
        top: 0;
        left: 10px;
        max-width: 40px;

        @include breakpoint("medium") {
            position: relative;
            left: 0;
            max-width: 160px;
        }
    }

    &Name {
        display: inline-block;
        position: relative;
        top: 8px;
        left: 30px;
        width: calc(100% - 60px);
        margin: 0;
        color: #232323;
        font-size: 14px;
        line-height: 24px;
        text-align: left;

        @include breakpoint("medium") {
            left: 0;
            width: 100%;
            padding: 20px;
            border-top: 1px solid #eff1f6;
            font-size: 18px;
            text-align: center;
        }
    }
}
