// =============================================================================
// CATEGORY GRID (CSS)
// =============================================================================
//
// Category Grid with masonry layout
//
// Purpose: Display categories in a masonry grid, with a display inline-block for
// older browsers that don't support css multicolumn
//
// 1. Some older browser support. This class comes from Modernizr
// -----------------------------------------------------------------------------
#category-description {
    padding: 0 0 0 0em;
    font-size: 1em;

    h3,
    br {
        display: none;
    }

    h5 {
        margin: 0;
        text-align: center;
    }
    .bannerContainer {
        display: flex;
        overflow: hidden;
        margin-left: 1.8%;
    }
    .tripleBanner {
        width: 33.33%
    }
}

.category {
    background-color: white;

    &Container {
        display: flex;
        flex-wrap: wrap;
        margin: 20px 0 0;
    }

    &Card {
        float: left;
        width: 100%;
        list-style-type: none;
        text-align: center;
        padding: 15px;
        border-radius: 3px;
        margin: 5px 0;
        box-shadow: 0 0 0 1px rgba(0,0,0,0.1);

        &:hover {
            box-shadow: 0 0 0 1px rgba(0,0,0,0.2), 0 0 10px rgba(0,0,0,0.1);
        }


        @include breakpoint("medium") {
            width: calc(25% - 10px);
            margin: 5px;
            padding: 20px 0 0;
        }
    }

    &Link {
        display: block;
        position: relative;
        text-decoration: none;
    }

    &Image {
        position: absolute;
        top: 0;
        left: 10px;
        max-width: 40px;

        @include breakpoint("medium") {
            position: relative;
            left: 0;
            max-width: 160px;
        }
    }

    &Name {
        display: inline-block;
        position: relative;
        top: 0;
        left: 30px;
        width: calc(100% - 60px);
        margin: 10px 0 0;
        color: #232323;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;

        @include breakpoint("medium") {
            top: 8px;
            left: 0;
            width: 100%;
            padding: 20px;
            text-align: center;
        }
    }
}
