<div class="form-field product-list" data-product-attribute="product-list" data-product-attribute-category="{{dashcase display_name}}">
  <label class="form-label form-label--alternate form-label--inlineSmall">
    {{#if display_name '==' 'Add Injecta-Seal (+$4.99)'}}Protector{{else}}{{display_name}}{{/if}}
    <small>{{#if required}} required{{/if}}</small>
  </label>

  <label class="dropdown-button">
    <figure class="dropdown-add-text">Choose
      <br>
      {{#if display_name '==' 'Add Injecta-Seal (+$4.99)'}}Protector{{else}}{{display_name}}{{/if}}
    </figure>
    <figure class="dropdown-add-icon"></figure>

    {{#if display_name '==' 'Add Injecta-Seal (+$4.99)'}}
      {{> components/common/icons/dropdown-icons name='Protector'}}
    {{else}}
      {{> components/common/icons/dropdown-icons name=display_name}}
    {{/if}}
  </label>

  <div class="dropdown-content">
  {{#if values.0.image}}
    {{#unless required}}
    <input class="form-radio"
           type="radio"
           name="attribute[{{id}}]"
           value="0"
           id="attribute_0_{{id}}"
           {{#if defaultValue '==' 0}}checked{{/if}} {{#if required}}required{{/if}} />
    <label class="form-option drop-down--swatch" for="attribute_0_{{id}}">
      <figure class="dropdown-remove-icon"></figure>
      <span class="drop-down-form-option-title">None</span>
    </label>
    {{/unless}}

    {{#each values}}
    <input class="form-radio"
            type="radio"
            name="attribute[{{../id}}]"
            value="{{id}}"
            id="attribute_{{id}}"
            {{#if selected}}checked{{/if}}
            {{#if ../required}}required{{/if}}>
    <label class="form-option drop-down--swatch" for="attribute_{{id}}" data-product-attribute-value="{{id}}"
           data-product-attribute-parameter='[
           {{#startsWith "12V" label}}{"voltage": "12V"},{{/startsWith}}
           {{#startsWith "120V" label}}{"voltage": "120V"},{{/startsWith}}
           {{#startsWith "Single" label}}{"bundle": "Single"},{{/startsWith}}
           {{#startsWith "2-Pack" label}}{"bundle": "2-Pack"},{{/startsWith}}
           {{#startsWith "5-Pack" label}}{"bundle": "5-Pack"},{{/startsWith}}
           {{#contains label "JC Bi-Pin"}}{"socket": "JC Bi-Pin"},{{/contains}}
           {{#contains label "A19"}}{"socket": "Medium Base"},{{/contains}}
           {{#contains label "A15"}}{"socket": "Medium Base"},{{/contains}}
           {{#contains label "S14"}}{"socket": "Medium Base"},{{/contains}}
           {{#contains label "Warm White"}}{"bulb-temperature": "Warm White"},{{/contains}}
           {{#contains label "Moon White"}}{"bulb-temperature": "Moon White"},{{/contains}}
           {{#contains label "Cool White"}}{"bulb-temperature": "Cool White"},{{/contains}}
           {{#contains label "Halogen"}}{"bulb-temperature": "Warm White"},{{/contains}}
           {{#contains label "Xelogen"}}{"bulb-temperature": "Warm White"},{{/contains}}
           {{#contains label "Incandescent"}}{"bulb-temperature": "Warm White"},{{/contains}}
          ]'>
    {{#if image}}
      <img class="dropdown-content-image" src="{{getImage image "gallery_size"}}" />
    {{/if}}
      <span class="drop-down-form-option-title" data-parse-label>{{label}}</span>
    </label>
    {{/each}}
  {{else}}
    <input class="form-radio"
           type="radio"
           name="attribute[{{id}}]"
           value="0"
           id="attribute_0_{{id}}"
           {{#if defaultValue '==' 0}}checked{{/if}}
           {{#if required}}required{{/if}}>
    <label class="form-option drop-down--swatch" for="attribute_0_{{id}}">
      <figure class="dropdown-remove-icon"></figure>
      <span class="drop-down-form-option-title">None</span>
    </label>
    {{#each values}}
        <input
            class="form-radio"
            type="radio"
            name="attribute[{{../id}}]"
            value="{{id}}"
            id="attribute_{{id}}"
            {{#if selected}}checked{{/if}}
            {{#if ../required}}required{{/if}}>
        <label class="form-option drop-down--swatch" for="attribute_{{id}}" data-product-attribute-value="{{id}}"
               data-product-attribute-parameter='[
                {{#startsWith "12V" label}}{"voltage": "12V"},{{/startsWith}}
                {{#startsWith "120V" label}}{"voltage": "120V"},{{/startsWith}}
                {{#startsWith "Single" label}}{"bundle": "Single"},{{/startsWith}}
                {{#startsWith "2-Pack" label}}{"bundle": "2-Pack"},{{/startsWith}}
                {{#startsWith "5-Pack" label}}{"bundle": "5-Pack"},{{/startsWith}}
                {{#contains label "JC Bi-Pin"}}{"socket": "JC Bi-Pin"},{{/contains}}
                {{#contains label "A19"}}{"socket": "Medium Base"},{{/contains}}
                {{#contains label "A15"}}{"socket": "Medium Base"},{{/contains}}
                {{#contains label "S14"}}{"socket": "Medium Base"},{{/contains}}
                {{#contains label "Warm White"}}{"bulb-temperature": "Warm White"},{{/contains}}
                {{#contains label "Moon White"}}{"bulb-temperature": "Moon White"},{{/contains}}
                {{#contains label "Cool White"}}{"bulb-temperature": "Cool White"},{{/contains}}
                {{#contains label "Halogen"}}{"bulb-temperature": "Warm White"},{{/contains}}
                {{#contains label "Xelogen"}}{"bulb-temperature": "Warm White"},{{/contains}}
                {{#contains label "Incandescent"}}{"bulb-temperature": "Warm White"},{{/contains}}
              ]'>
        {{#if image}}
          <img class="dropdown-content-image" src="{{getImage image "gallery_size"}}" />
        {{/if}}
          <span class="drop-down-form-option-title" data-parse-label>{{label}}</span>
        </label>
    {{/each}}
  {{/if}}
  </div>
</div>
