<div class="form-field product-list" data-product-attribute="product-list" data-product-attribute-category="{{dashcase display_name}}">
  <label class="form-label form-label--alternate form-label--inlineSmall">
    {{#if display_name '==' 'Add Injecta-Seal (+$4.99)'}}Protector{{else}}{{display_name}}{{/if}}
    <small>{{#if required}} required{{/if}}</small>
  </label>

  <label class="dropdown-button">
    <figure class="dropdown-add-text">Choose
      <br>
      {{#if display_name '==' 'Add Injecta-Seal (+$4.99)'}}Protector{{else}}{{display_name}}{{/if}}
    </figure>
    <figure class="dropdown-add-icon"></figure>

    {{#if display_name '==' 'Add Injecta-Seal (+$4.99)'}}
      {{> components/common/icons/dropdown-icons name='Protector'}}
    {{else}}
      {{> components/common/icons/dropdown-icons name=display_name}}
    {{/if}}
  </label>

  <div class="dropdown-content">
  {{#if values.0.image}}
    {{#unless required}}
    <input class="form-radio"
           type="radio"
           name="attribute[{{id}}]"
           value="0"
           id="attribute_0_{{id}}"
           {{#if defaultValue '==' 0}}checked{{/if}} {{#if required}}required{{/if}}>
    <label class="form-option drop-down--swatch" for="attribute_0_{{id}}">
      <figure class="dropdown-remove-icon"></figure>
      <span class="drop-down-form-option-title">None</span>
    </label>
    {{/unless}}

    {{#each values}}
    <input class="form-radio"
            type="radio"
            name="attribute[{{../id}}]"
            value="{{id}}"
            id="attribute_{{id}}"
            {{#if selected}}checked{{/if}}
            {{#if ../required}}required{{/if}}>
    <label class="form-option drop-down--swatch" for="attribute_{{id}}" data-product-attribute-value="{{id}}"
           {{#startsWith "12V" label}}data-product-attribute-parameter="12V"{{/startsWith}}
           {{#startsWith "120V" label}}data-product-attribute-parameter="120V"{{/startsWith}}
           {{#startsWith "Single" label}}data-product-attribute-parameter="Single"{{/startsWith}}
           {{#startsWith "2-Pack" label}}data-product-attribute-parameter="2-Pack"{{/startsWith}}
           {{#startsWith "5-Pack" label}}data-product-attribute-parameter="5-Pack"{{/startsWith}}
           {{#contains label "JC Bi-Pin"}}data-product-attribute-socket="jc"{{/contains}}
           {{#contains label "A19"}}data-product-attribute-socket="medium base"{{/contains}}
           {{#contains label "A15"}}data-product-attribute-socket="medium base"{{/contains}}
           {{#contains label "S14"}}data-product-attribute-socket="medium base"{{/contains}}
           {{#contains label "Warm White"}}data-product-attribute-bulb="warm white"{{/contains}}
           {{#contains label "Moon White"}}data-product-attribute-bulb="moon white"{{/contains}}
           {{#contains label "Cool White"}}data-product-attribute-bulb="cool white"{{/contains}}
           {{#contains label "Halogen"}}data-product-attribute-bulb="warm"{{/contains}}
           {{#contains label "Xelogen"}}data-product-attribute-bulb="warm"{{/contains}}
           {{#contains label "Incandescent"}}data-product-attribute-bulb="warm"{{/contains}}
    >
    {{#if image}}
      <img class="dropdown-content-image" src="{{getImage image "gallery_size"}}" />
    {{/if}}
      <span class="drop-down-form-option-title" data-parse-label>{{label}}</span>
    </label>
    {{/each}}
  {{else}}
    <input class="form-radio"
           type="radio"
           name="attribute[{{id}}]"
           value="0"
           id="attribute_0_{{id}}"
           {{#if defaultValue '==' 0}}checked{{/if}}
           {{#if required}}required{{/if}}>
    <label class="form-option drop-down--swatch" for="attribute_0_{{id}}">
      <figure class="dropdown-remove-icon"></figure>
      <span class="drop-down-form-option-title">None</span>
    </label>
    {{#each values}}
        <input
            class="form-radio"
            type="radio"
            name="attribute[{{../id}}]"
            value="{{id}}"
            id="attribute_{{id}}"
            {{#if selected}}checked{{/if}}
            {{#if ../required}}required{{/if}}>
        <label class="form-option drop-down--swatch" for="attribute_{{id}}" data-product-attribute-value="{{id}}"
               {{#startsWith "12V" label}}data-product-attribute-parameter="12V"{{/startsWith}}
               {{#startsWith "120V" label}}data-product-attribute-parameter="120V"{{/startsWith}}
               {{#startsWith "Single" label}}data-product-attribute-parameter="Single"{{/startsWith}}
               {{#startsWith "2-Pack" label}}data-product-attribute-parameter="2-Pack"{{/startsWith}}
               {{#startsWith "5-Pack" label}}data-product-attribute-parameter="5-Pack"{{/startsWith}}
               {{#contains label "JC Bi-Pin"}}data-product-attribute-socket="jc"{{/contains}}
               {{#contains label "A19"}}data-product-attribute-socket="medium"{{/contains}}
               {{#contains label "A15"}}data-product-attribute-socket="medium"{{/contains}}
               {{#contains label "S14"}}data-product-attribute-socket="medium"{{/contains}}
               {{#contains label "Warm White"}}data-product-attribute-bulb="warm"{{/contains}}
               {{#contains label "Halogen"}}data-product-attribute-bulb="warm"{{/contains}}
               {{#contains label "Xelogen"}}data-product-attribute-bulb="warm"{{/contains}}
               {{#contains label "Incandescent"}}data-product-attribute-bulb="warm"{{/contains}}
               {{#contains label "Cool White"}}data-product-attribute-bulb="cool"{{/contains}}>
        {{#if image}}
          <img class="dropdown-content-image" src="{{getImage image "gallery_size"}}" />
        {{/if}}
          <span class="drop-down-form-option-title" data-parse-label>{{label}}</span>
        </label>
    {{/each}}
  {{/if}}
  </div>
</div>
