<style>
  .form-field-list {
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 3px;
    overflow: hidden;
  }
  .form-field-list:hover,
  .form-field-list:active,
  .form-field-list:focus {
    height: auto;
  }
</style>

<div class="form-field" data-product-attribute="set-rectangle">
  <ul class='form-field-list'>
    {{#each this.values}}
    <li class='form-field-item {{#if selected}}active{{/if}}'>
      <input class="form-radio" type="radio" id="attribute_{{id}}" name="attribute[{{../id}}]" value="{{id}}" {{#if selected}}checked{{/if}} {{#if ../required}}required{{/if}}>

      <label class="form-option" for="attribute_{{id}}" data-product-attribute-value="{{id}}">
          <span class="form-option-variant" data-option-variant="{{this.label}}">{{this.label}}</span>
      </label>
    </li>
    {{/each}}
  </ul>
</div>
