<div class="form-field set-rectangle" data-product-attribute="set-rectangle">
  <label class="form-label">{{display_name}}</label>

  <ul class='form-field-list' data-product-attribute-name="{{dashcase display_name}}">
    {{#each values}}
    <li class='form-field-item {{#if selected}}active{{/if}}'>
      <input id="attribute_{{id}}" type="radio" name="attribute[{{../id}}]" class="form-radio" value="{{id}}" data-product-attribute-label="{{label}}" {{#if selected}}checked{{/if}} {{#if ../required}}required{{/if}}>

      <label class="form-option form-option-variant" for="attribute_{{id}}" data-product-attribute-value="{{id}}">{{label}}</label>
    </li>
    {{/each}}
  </ul>
</div>
