<div class="form-field swatch" data-product-attribute="swatch">
  <label class="form-label form-label--alternate form-label--inlineSmall">{{display_name}} <small>{{#if required}}required{{/if}}</small></label>

  <ul class='form-field-list' data-product-attribute-name="{{dashcase display_name}}">
    {{#each values}}
    <li class='form-field-item {{#if selected}}active{{/if}}'>
      <input id="attribute_{{id}}" type="radio" name="attribute[{{../id}}]" class="form-radio" value="{{id}}" data-product-attribute-label="{{label}}" {{#if selected}}checked{{/if}} {{#if ../required}}required{{/if}}>
      <label class="form-option form-option-variant" for="attribute_{{id}}" data-product-attribute-value="{{id}}">
        {{#if image}}
          <span class='form-option-variant form-option-variant--color' title="{{label}}" style="background-image: url({{getImage image "gallery_size"}})"></span>
        {{/if}}

        {{#if data.[2]}}
          <span class='form-option-variant form-option-variant--color' title="{{label}}" style="background-color: #{{data.[0]}}"></span>
          <span class='form-option-variant form-option-variant--color' title="{{label}}" style="background-color: #{{data.[1]}}"></span>
          <span class='form-option-variant form-option-variant--color' title="{{label}}" style="background-color: #{{data.[2]}}"></span>
        {{else if data.[1]}}
          <span class='form-option-variant form-option-variant--color' title="{{label}}" style="background-color: #{{data.[0]}}"></span>
          <span class='form-option-variant form-option-variant--color' title="{{label}}" style="background-color: #{{data.[1]}}"></span>
        {{else if data.[0]}}
          <span class='form-option-variant form-option-variant--color' title="{{label}}" style="background-color: #{{data.[0]}}"></span>
        {{/if}}

        {{label}}
      </label>
    </li>
    {{/each}}
  </ul>
</div>
