<div class="sidecart-container">
    {{#each cart.items}}
        <div class="cart-item" data-item-row>
            <div class="cart-item-block cart-item-figure">
                {{#if type '==' 'GiftCertificate'}}
                    <img class="cart-item-fixed-image" src="{{cdn ../../theme_settings.default_image_gift_certificate}}" alt="GiftCertificate" title="GiftCertificate">
                {{else}}
                    <img class="cart-item-image" src="{{getImage image 'productthumb_size' (cdn ../../theme_settings.default_image_product)}}" alt="{{image.alt}}" title="{{image.alt}}">
                {{/if}}
            </div>
            <div class="cart-item-block cart-item-title">
                <p class="cart-item-brand">PRODUCT</p>
                <h4 class="cart-item-name"><a href="{{url}}">{{name}}</a></h4>
                {{#if release_date}}
                    <p>({{release_date}})</p>
                {{/if}}

                {{#if configurable_fields}}
                    <dl class="definitionList">
                        {{#each configurable_fields}}
                            <dt class="definitionList-key">{{name}}</dt>
                            <dd class="definitionList-value">
                                {{#if is_file}}
                                    <a href="/viewfile.php?prodfield={{../id}}&cartitem={{../../id}}">{{{value}}}</a>
                                {{else}}
                                    {{{value}}}
                                {{/if}}
                            </dd>
                        {{/each}}
                    </dl>
                {{/if}}

                {{#if options}}
                    <dl class="definitionList">
                        {{#each options}}
                            <dt class="definitionList-key">{{name}}</dt>
                            <dd class="definitionList-value">
                                {{#if is_file}}
                                    <a href="/viewfile.php?attributeId={{../id}}&cartitem={{../../id}}">{{{value}}}</a>
                                {{else}}
                                    {{{value}}}
                                {{/if}}
                            </dd>
                        {{/each}}
                    </dl>
                {{/if}}

                {{#or options configurable_fields}}
                    <a href="#" data-item-edit="{{id}}">{{lang 'cart.checkout.change'}}</a>
                {{/or}}

                {{#if type '==' 'GiftCertificate'}}
                    <a href="{{edit_url}}">{{lang 'cart.checkout.change'}}</a>
                {{/if}}
                {{> components/cart/item-giftwrap this}}
                {{#if event_date}}
                    <dl class="cart-item-options">
                        <dt class="cart-item-option-title">
                            {{event_date.name}}
                        </dt>

                        <dd class="cart-item-option-description">
                            {{event_date.date}}
                        </dd>
                    </dl>
                {{/if}}

            </div>

            <div class="cart-item-block cart-item-info cart-item-quantity">
                <div class="form-increment">
                    {{# if can_modify}}
                        <button class="button button--icon" data-cart-update data-cart-itemid="{{id}}" data-action="dec">
                            <span class="is-srOnly">{{lang 'products.quantity_decrease'}}</span>
                            <i class="icon" aria-hidden="true"><svg><use xlink:href="#icon-keyboard-arrow-down" /></svg></i>
                        </button>
                    {{/if}}
                    <input class="form-input form-input--incrementTotal"
                           id="qty-{{id}}"
                           name="qty-{{id}}"
                           type="tel"
                           value="{{quantity}}"
                           data-quantity-min="{{min_purchase_quantity}}"
                           data-quantity-max="{{max_purchase_quantity}}"
                           data-quantity-min-error="{{lang 'products.quantity_min' quantity=min_purchase_quantity}}"
                           data-quantity-max-error="{{lang 'products.quantity_max' quantity=max_purchase_quantity}}"
                           min="1"
                           pattern="[0-9]*"
                           aria-live="polite"{{#unless can_modify}} disabled{{/unless}}>
                    {{# if can_modify}}
                        <button class="button button--icon" data-cart-update data-cart-itemid="{{id}}" data-action="inc">
                            <span class="is-srOnly">{{lang 'products.quantity_increase'}}</span>
                            <i class="icon" aria-hidden="true"><svg><use xlink:href="#icon-keyboard-arrow-up" /></svg></i>
                        </button>
                    {{/if}}
                </div>

            </div>

            <div class="cart-item-block cart-item-info">
                <strong class="cart-item-value {{#if total_discounted}}price--discounted{{/if}}">{{total.formatted}}</strong>
                {{#if total_discounted}}
                    <strong class="cart-item-value">{{total_discounted.formatted}}</strong>
                {{/if}}
                {{# if can_modify}}
                    <a class="cart-remove icon" data-cart-itemid="{{id}}" href="#" data-confirm-delete="{{lang 'cart.confirm_delete'}}">
                        <svg><use xlink:href="#icon-close"></use></svg>
                    </a>
                {{else}}
                    {{#if type '==' 'GiftCertificate'}}
                        <a class="cart-remove icon" data-cart-itemid="{{id}}" href="#" data-confirm-delete="{{lang 'cart.confirm_delete'}}">
                            <svg><use xlink:href="#icon-close"></use></svg>
                        </a>
                    {{/if}}
                {{/if}}
            </div>
        </div>
    {{/each}}
</div>
