// =============================================================================
// PRODUCT VIEW (CSS)
// =============================================================================


// Container
// -----------------------------------------------------------------------------

.productView {
    @include breakpoint("medium") {
        padding-top: spacing("base");
    }
}


// Images
// -----------------------------------------------------------------------------

.productView-images {
    margin-bottom: 10px;
}

.productView-image {
    display: flex;
    position: relative;
    left: -1rem;
    min-width: calc(100% + 2rem);
    padding-bottom: calc(100% + 2rem);
    margin: 0;
    border-radius: 3px;
    background-color: white;
    align-items: center;
    justify-content: center;

    img {
        width: 100%;
    }

    .productView-image--default {
        position: absolute;
        object-fit: contain;
        top: 50%;
        left: 50%;
        width: 80%;
        max-height: 80%;
        transform: translate(-50%,-50%);
    }

    + .productView-thumbnails {
        margin-top: spacing("half");
    }
}

.productView-thumbnails {
    @include u-listBullets("none");
    @include grid-row($behavior: "nest");

    margin-left: -(spacing("quarter"));
    margin-right: -(spacing("quarter"));
}

.productView-thumbnail {
    float: left;
    width: 40px;
    height: 40px;
    margin: 0 10px 10px 0;
}

.productView-thumbnail-link {
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    box-shadow: 0 0 0 1px #ddd;
    background-color: white;
    transition: box-shadow 333ms;
    overflow: hidden;

    &:hover,
    &.is-active {
        box-shadow: 0 0 0 2px #2c7cfa, 0 2px 4px color("greys", "lightest"), 0 8px 16px color("greys", "lighter");
    }
}


// Details
// -----------------------------------------------------------------------------

.productView-details {
    margin-bottom: spacing("half");
}


// Details - Product details
// -----------------------------------------------------------------------------

.productView-product {
    position: relative;
    margin: 0 0 20px;

    @include breakpoint("medium") {
        border-bottom: container("border");
        padding-bottom: spacing("half");
    }
}

.productView-title {
    margin: 0;
    font-size: 14px;
    font-weight: bold;

    @include breakpoint("medium") {
        font-size: 18px;
    }
}

.productView-brand {
    color: $productView-brand-link-color;
    font-size: fontSize("smaller");
    margin: 0 0 spacing("half");

    @include breakpoint("large") {
        font-size: fontSize("small");
        margin: -(spacing("eighth")) 0 spacing("base");
    }

    a {
        color: $productView-brand-link-color;

        // scss-lint:disable NestingDepth
        &:hover {
            color: $productView-brand-link-color--hover;
        }
    }
}

// Details - Product price
// -----------------------------------------------------------------------------

.productView-price {
    font-size: 14px;
    font-weight: 600;

    @include breakpoint("small") {
        position: absolute;
        right: 0;
        bottom: 12px;
    }
    abbr {
        border: 0;
        color: inherit;
        font-size: inherit;
    }
}

.productView-call-for-price {
    display: block;
    position: relative;
    top: 23px;
    color: #ff0000;
    font-size: 12px;
    font-weight: bold;
    text-align: right;
}

.productView-rating {
    margin-top: 10px;
}

.productView-reviewLink {
    display: inline-block;
    margin: 0 0 0 10px;
    color: #232323;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-transform: uppercase;

    + .productView-reviewLink {
        display: none;

        @include breakpoint("small") {
            display: inline-block;
        }
    }

    > a {
        color: stencilColor("color-textSecondary");

        // scss-lint:disable NestingDepth
        &:hover {
            color: stencilColor("color-textSecondary--hover");
        }
    }
}


// Details - Product Information
// -----------------------------------------------------------------------------

.productView-info {
    margin: -3px 0 0;
}

.productView-info-name {
    display: inline-block;
    margin: 0;
    color: #232323;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.productView-info-value {
    display: inline-block;
    margin: 0 10px 0 0;
    color: #232323;
    font-size: 11px;
    letter-spacing: 0.25px;
    text-transform: uppercase;
}


// Details - Product options
// -----------------------------------------------------------------------------
//
// 1. Align the product options list item radios vertically.
// 2. Resetting font due to inline-block whitespace issue.
//
// -----------------------------------------------------------------------------

.productView-options {
    @include clearfix;

    @include breakpoint("small") {
        text-align: left;
    }

    .form-input[type="number"] {
        @include breakpoint("small") {
            width: grid-calc(2, $total-columns);
        }
    }

    .form {
        display: inline;
    }

    .form-field {
        position: relative;
        margin-bottom: spacing("single");
        font-size: 0; // 2

        // scss-lint:disable SelectorDepth, NestingDepth
        > .form-checkbox + .form-label,
        > .form-radio + .form-label {
            display: inline-block;
            margin-left: spacing("single");
            width: auto;

            @include breakpoint("small") {
                margin-left: 0;
                width: 100%;
            }
        }

        > .form-label:nth-of-type(2) {
            margin-left: 0;
        }

        .form-label {
            color: #232323;
            font-size: 11px;
            font-weight: bold;
            letter-spacing: 1px;
            text-transform: uppercase;
        }

        .form-field-list {
            margin: 0;
        }

        .form-field-item {
            display: inline-block;
            margin: 0;

            &:last-child {
                margin: 0;
            }
        }

        &[data-product-attribute="set-rectangle"] {
            display: inline-block;
            margin-right: 15px;

            @media all and (min-width: 1000px) {
                margin-right: 30px;
            }
        }

        &.product-list {
            display: inline-block;
            width: calc(50% - 22px);
            margin-right: 15px;

            @media all and (min-width: 600px) {
                width: calc(33% - 32px);
                margin-right: 30px;
            }
        }
    }

    .form-action {
        display: flex;
        width: auto;
        padding: 0;
        margin-top: 10px;

        @include breakpoint("large") {
            margin-top: 1rem;
        }

        .productView-options .form-field {
            width: 20%;
        }

        .button {
            font-size: 22px;
            letter-spacing: 1px;
            line-height: 35px;
            text-transform: uppercase;
            border-radius: 3px;

            &#form-action-addToCart {
                width: calc(100% - 100px);
                padding: 14px 5px;
            }
        }
    }
}


// Product list (with images)
// -----------------------------------------------------------------------------

.productOptions-list {
    max-height: 250px;
    margin: 0;
    border: $productOptions-list-border;
    border-radius: 2px;
    background-color: white;
    list-style: none;
    overflow: scroll;
}

.productOptions-list-item {
    padding: $productOptions-list-item-padding;

    + .productOptions-list-item {
        position: relative;
        border-top: $productOptions-list-item-borderTop;
    }

    .form-label {
        text-align: left;
        top: -2px; // 1
    }
}

.productOptions-list-item-figure,
.productOptions-list-item-content {
    display: table-cell;
    vertical-align: middle;
}

.productOptions-list-item-figure {
    width: $productOptions-list-item-figure-width;
}

.productOptions-list-item-content {
    padding-left: $productOptions-list-item-content-paddingLeft;
}


// Share products
// -----------------------------------------------------------------------------

.shareProduct {
    text-align: center;
}

.product-overview {
    clear: both;
    padding: 0;
    margin: 30px 0;
    border: 0;
    color: rgba(0, 0, 0, 0.9);
    font-size: 16px;
    line-height: 1.6;

    h1 {
        font-size: 18px;
        font-weight: bold;
    }
}
.nsc-title {
    clear: both;
    width: 100%;
    color:#2d7cfa;
    text-align:center;
    font-size:1.6rem!important;
    text-transform: uppercase;
}

.nsc-diagram {
    padding-bottom: 2rem;
}
.product-title {
    clear: both;
    display: block;
    width: 100%;
    padding: 20px 0 0;
    color: #2d7cfa;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
}

.product-description {
    font-size: 16px;
}

.include-count {
    color: #2d7cfa;
}

.accessorytab, .NPFinish {
    ul {
        list-style-type: none;
    }

    li {
        display: inline;
        float: left;
        width: 200px;
        height: 250px;
        text-align: center;
        list-style: none;
        overflow: hidden;
    }

    img {
        display: block;
        max-width: 175px;
        max-height: 175px;
        margin: auto;
    }
}

.socialLinks-item {
    &.socialLinks-item--pinterest svg {
        width: 20px;
    }

    &.socialLinks-item--facebook_like {
        display: none;
    }

    .google_plusone_iframe_widget {
        width: auto !important;
    }

    .pin_it_iframe_widget {
        display: inherit;
        margin-left: 20px;
    }
}

.alt-container {
    border-color: #f8f8f8;
    height: 100%;
    h3 {
        margin: 20px;
        color: #333;
        font-weight: 600;
        text-align: center;
    }
    a {
        display: block;
        margin-top: 20px;
        background: #f8f8f8;
        border: 2px solid #478b54;
        border-radius: 5px;
        text-decoration: none;
        overflow: hidden;
    }
    p {
        margin: 35px 0 0 160px;
        font-size: 22px;
        text-decoration: none;
        text-indent: 0; 
    }
    img {
        float: left;
        display: inline-block;
        height: 150px;
        margin: 10px;
        border-radius: 15px;
    }

}

.pendantFinish {
    img {
        display: inline-block;
        max-width: 22%;
        height: auto;
        margin: auto;
        border: 2px solid #f1f4f9;
        border-radius: 50%;
    }
}

.capFinish {
    img {
        display: inline-block;
        max-width: 17%;
        height: auto;
        margin: auto;
        border: 3px solid #f1f4f9;
        border-radius: 50%;
    }
}

.video-window {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;

    .product-title {
        display: none;
    }
}

iframe.youtube {
    clear: both;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.form-radio + .form-label::before {
    border: 1.35px solid #6f6f6f;
}

.addthis_toolbox {
    display: none;
}

.dropdown-button {
    display: flex;
    padding: 0;
    width: 100%;
    height: 150px;
    border: 2px solid #e8e8e8;
    border-radius: 3px;
    font-size: 14px;
    line-height: 45px;
    cursor: pointer;
    transition: border-color 333ms;

    @include breakpoint("small") {
        height: 200px;
    }

    &.active {
        border-color: stencilColor("color-aql");
    }

    &:active,
    &:focus,
    &:hover {
        border-color: stencilColor("color-aql");

        .dropdown-add-icon {
            background-color: stencilColor("color-aql");
        }
    }

    .dropdown-add-text {
        position: absolute;
        width: calc(100% - 4px);
        margin: 20px 0 0;
        text-align: center;
        font-weight: bold;
        letter-spacing: 0.5px;
        font-size: 12px;
        line-height: 1.6;
    }

    .dropdown-add-icon {
        position: absolute;
        bottom: 10px;
        right: 10px;
        margin: 0;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: stencilColor("color-aql");
        transition: background-color 333ms;
        z-index: 2;

        &:before,
        &:after {
            content: '';
            position: absolute;
            top: calc(50% - 1px);
            left: 20%;
            width: 60%;
            height: 2px;
            border-radius: 5px;
            background-color: white;
        }

        &:after {
            transform: rotate(90deg);
        }
    }

    .dropdown-icon {
        position: absolute;
        top: 70%;
        left: calc(50% - 15px);
        width: 30px;
        opacity: 0.3;
        transform: translateY(-50%);

        @include breakpoint("medium") {
            top: 60%;
            left: calc(50% - 23px);
            width: 46px;
        }
    }
    /*Custom CSS for Burial Cable*/
    .dropdown-icon-burial {
        position: absolute;
        top: 72%;
        left: calc(50% - 25px);
        width: 60px;
        opacity: 0.3;
        transform: translateY(-50%);

        @include breakpoint("medium") {
            top: 65%;
            left: calc(50% - 36px);
            width: 85px;
        }
    }
    /*Custom CSS for Weathered Slice Dropdown Icons*/
    .dropdown-icon-weathered {
        position: absolute;
        top: 70%;
        left: calc(38% - 12px);
        width: 55px;
        opacity: 0.9;
        transform: translateY(-50%);

        @include breakpoint("medium") {
            top: 65%;
            left: calc(38% - 23px);
            width: 85px;
        }
    }
    /*Custom CSS for Sea Drift Dropdown Icons*/
    .dropdown-icon-sea {
        position: absolute;
        top: 70%;
        left: calc(35% - 15px);
        width: 75px;
        opacity: 0.9;
        transform: translateY(-50%);

        @include breakpoint("medium") {
            top: 62%;
            left: calc(30% - 23px);
            width: 115px;
        }
    }
    /*Custom CSS for White Water Dropdown Icons*/
    .dropdown-icon-white-water {
        position: absolute;
        top: 65%;
        left: calc(38% - 15px);
        width: 60px;
        opacity: 0.9;
        transform: translateY(-50%);

        @include breakpoint("medium") {
            top: 60%;
            left: calc(30% - 23px);
            width: 100px;
        }
    }

    .dropdown-content-image {
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        max-width: calc(100% - 4px);
        max-height: calc(100% - 54px);
        padding: 10px;
        margin: auto;
        background-color: white;
    }
}

.dropdown-label {
    pointer-events: none;
    margin-left: 12px;
    margin-right: 10%;
}

.dropdown-label-title {
    pointer-events: none;
    font-weight: bold;
}

.dropdown-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    left: 50%;
    max-width: calc(72rem - 40px);
    width: 100%;
    padding: 30px 0 0 30px;
    transform: translateX(-50%) scale(1.1);
    transition: transform 333ms, opacity 333ms, visibility 333ms;
    opacity: 0;
    visibility: hidden;
    z-index: -1;

    &.active {
        top: 0;
        left: calc(50% - 5px);
        max-height: 100%;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.08), 0 8px 25px rgba(0,0,0,0.26);
        background-color: white;
        transform: translateX(-50%) scale(1);
        opacity: 1;
        visibility: visible;
        overflow: scroll;
        z-index: 61;

        @include breakpoint("medium") {
            top: 10vh;
            max-height: 80vh;
        }
    }

    label.form-option {
        border: none;
        border-radius: 0;
        font-size: 15px;

        &.active {
            display: flex;
        }
    }

    .form-option.drop-down--swatch {
      display: inline-block;
      width: calc(50% - 30px);
      min-height: 200px;
      margin: 0 30px 30px 0;
      border-radius: 2px;
      box-shadow: 0 0 0 2px #e8e8e8;
      transition: box-shadow 233ms;

      @include breakpoint("small") {
        width: calc(33% - 30px);
      }

      @include breakpoint("medium") {
        width: calc(25% - 30px);
      }

      @include breakpoint("large") {
        width: calc(20% - 30px);
      }

      &.hide {
        display: none !important;
      }

      &:hover,
      &:focus,
      &:active {
        box-shadow: 0 0 0 2px stencilColor("color-aql");
      }

      .dropdown-content-image {
        position: relative;
        left: -7px;
        top: -7px;
        width: calc(100% + 14px);
        max-width: none;
        padding: 20px;
      }

      .drop-down-form-option-title {
        display: block;
        width: 100%;
        margin: 0;
        font-size: 12px;
        font-weight: bold;
        color: #232323;
      }

      .drop-down-form-option-price {
        position: absolute;
        top: 5px;
        right: 5px;
        padding: 3px 10px 2px;
        border-radius: 2px;
        background-color: #2c7cfa;
        color: white;
        font-size: 12px;
        font-weight: 600;
      }

      .dropdown-remove-icon {
          position: absolute;
          top: calc(50% - 30px);
          left: calc(50% - 30px);
          margin: 0;
          width: 60px;
          height: 60px;
          border-radius: 50%;
          background-color: #ea0202;
          transition: background-color 333ms;

          &:before,
          &:after {
              content: '';
              position: absolute;
              top: calc(50% - 2px);
              left: 20%;
              width: 60%;
              height: 4px;
              border-radius: 5px;
              background-color: white;
          }

          &:before {
              transform: rotate(-45deg);
          }
          &:after {
              transform: rotate(45deg);
          }

          & + .drop-down-form-option-title {
            position: absolute;
            bottom: 20px;
            left: 0;
            font-size: 18px;
            text-align: center;
            font-weight: 400;
          }
      }
    }
}

.form-radio:checked + .dropdown-content label.form-option {
    border: none;
}

span.form-option-variant.form-option-variant--pattern  {
    height: 46px;
    width: 46px;
    margin-left: 5px;
    margin-top: 1px;
    pointer-events: none;
}

.arrow-down {
    pointer-events: none;
    position: absolute;
    top: calc(50% - 2.5px);
    right: 25px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid rgba(0,0,0,0.8);
  }

  .form-checkbox:checked + .form-label::after, .form-radio:checked + .form-label::after {
      display:none
  }

  .form-radio + .form-label::before {
      border: none;
  }

// Changes from other productList
// -----------------------------------------------------------------------------

//Product Description Variation
.product-title-text {
    display: inline-block;
    margin: 20px 0;
    padding: 20px 0 0;
    color: #2d7cfa;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
}
.product-right-text,
.product-left-text {
    clear: both;
    display: inline-block;
    width: 100%;
    height: auto;
    min-height: 265px;
    padding: 0;
    color: rgba(0, 0, 0, 0.9);
    line-height: 1.6;
}
.product-left-text {
    img {
        float: left;
        margin-right: 50px;
    }
}

.product-right-text {
    img {
        float: right;
        margin-left: 50px;
    }
}
//End Product Description Variation

.product-left,
.product-right {
    float: left;
    display: block;
    width: calc(100% - 40px);
    height: auto;
    min-height: 265px;
    padding: 0;
    margin: 20px;
    color: rgba(0,0,0,0.9);
    line-height: 1.6;

    @include breakpoint('medium') {
        width: calc(33% - 40px);
    }

    @include breakpoint('large') {
        width: calc(25% - 40px);
    }

    img {
        float: left;
        margin-right: 50px;
    }

    .product-description {
        max-width: 800px;
    }
}

.product-sideimg {
    clear: both;
    display: block;
    text-align: center;
    width: 100%;
    height: auto;
    margin: auto;
    padding: auto;
    border: none;
    border-radius: 3px;

    @include breakpoint('small') {
        max-width: 250px;
        height: auto;
    }
}

.product-rowImg {
    display: inline-block;
    text-align: center;
    width: 24%;
    height: auto;
    margin: auto;
    padding: auto;
    border: none;
    border-radius: 3px;
}

.RLkit {
    display: block;
    position: fixed;
    width: 100%;
    padding: auto;
    margin: auto;
    font-family: inherit;
    font-size: inherit;
}

.RLspool,
.RL-STD,
.RL-DLX {
    display: inline-block;
    float: left;
    position: relative;
    width: calc(33% - 6px);
    padding: 10px;
    margin: 4px;
    border-top: 2px solid #2d98fb;

    p {
        font-family: inherit;
        font-size: inherit;
        text-align: center;
    }

    img {
        display: block;
        float: middle;
        width: 75%;
        margin: auto;
    }
}

.RL-STD {
    background-color: #def1ff;
}

.RL-DLX {
    background-color: #b3dfff;
}

.free-shipping-container {
    display: none;
    position: relative;
    padding: 10px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 35px;
    background-color: #119459;
    color: #ffffff;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    -webkit-animation: wobble 5s infinite ease;
    -moz-animation: wobble 5s infinite ease;
    animation: wobble 5s infinite ease;

    &.active {
        display: block;
    }

    &:before,
    &:after {
        content: '';
        position: absolute;
    }

    &:before {
        top: -14px;
        left: 50%;
        margin-left: -7px;
        border-bottom: 14px solid rgba(17, 148, 89, 0.5);
        border-right: 14px solid rgba(0, 0, 0, 0);
        border-left: 14px solid rgba(0, 0, 0, 0);
    }

    &:after {
        top: -10px;
        left: 50%;
        margin-left: -5px;
        border-bottom: 12px solid #119459;
        border-right: 12px solid rgba(0, 0, 0, 0);
        border-left: 12px solid rgba(0, 0, 0, 0);
    }
}

@keyframes wobble {
    0 {
        transform: translateY(0)
    }
    50% {
        transform: translateY(-15%)
    }
    100% {
        transform: translateY(0)
    }
}

@-moz-keyframes wobble {
    0 {
        -moz-transform: translateY(0)
    }
    50% {
        -moz-transform: translateY(-15%)
    }
    100% {
        -moz-transform: translateY(0)
    }
}

@-webkit-keyframes wobble {
    0 {
        -webkit-transform: translateY(0)
    }
    50% {
        -webkit-transform: translateY(-15%)
    }
    100% {
        -webkit-transform: translateY(0)
    }
}

.product-overview table {
    border-collapse: collapse;

    tr {
        td {
            display: inline-block;
            vertical-align: inherit;
            font-size: 18px;
            padding: 10px 0;

            @include breakpoint('small') {
                display: inline-block;
                padding: 5px 0;
                line-height: 1.6;
            }

            @include breakpoint('medium') {
                display: inline-block;
                padding: 5px 0;
            }

            .product-title {
                display: inline;
                margin-top: 20px;
                color: #2d7cfa;
                font-size: 16px;
                font-weight: bold;
                text-shadow: none;
            }
        }
    }
}

.product-title2 {
    color: #ff0000;
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.head-table {
    display: flex;
    width: 100%;

    tbody {
        width: 100%;
    }

    tr {
        display: flex;
        width: 100%;
    }

    td {
        width: 100%;
        padding: 8px;
        color: #514730;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
    }
}

.compare-table {
    text-align: center;

    tr td {
        padding: 5px;
        border: 1px solid #dcdcdc;
        text-align: center;
        vertical-align: middle;
        display: table-cell !important;
    }

    th {
        border: 1px solid #dcdcdc;
    }
}

.explaination-why {
    font-weight: bold;
    text-align: left;
}

.compare-table-AQL {
    background-color: #4af75d;
    font-weight: 900;
}

.spectable {
    border-collapse: collapse;


    tr:nth-child(2n) {
        background-color: #f1f1f1;
    }

    td {
        display: inline-block;
        min-width: 180px;
        padding-top: 2px;
        padding-bottom: 2px;
    }
}

.RLwarning {
    color: rgb(255, 0, 0);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.bulk-pricing {
    margin: 0 0 20px;
    list-style: none;

    li {
        color: #ed0400;
    }
}

// Videos
// -----------------------------------------------------------------------------

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    object-fit: contain;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#modalVideo {
    min-height:0px;
}

// Popups  
// -----------------------------------------------------------------------------

#target #popup {
    display: none;
  }

  #target svg{
    height: 16px;
    width: 16px;
    color: gray
  }
  
  #target:hover #popup {
    position: absolute;
    display: block;
    border: 1px;
    border-style: solid;
    border-color: black;
    z-index: 100;
    background-color: white;
    width: 270px;
    font-size: 13.5px;
    text-align: left;
    padding-left: 10px;
    padding-right: 2px;
    box-shadow:  0 5px 20px -5px #555;
  }

// Media Queries 
// -----------------------------------------------------------------------------

@media screen and (max-width: 420px) {
    .drop-down-form-option-title {
        width: 60%;
    }

    .product-overview table tr {
        display: block;
        padding: 0px 0;
    }

    .head-table {
        list-style: none;
    }


    #target:hover #popup {
        position: absolute;
        display: block;
        border: 1px;
        border-style: solid;
        border-color: black;
        z-index: 100;
        background-color: white;
        width: 250px;
        font-size: 14px;
        line-height: 14px;
        text-align: left;
        padding-left: 10px;
        padding-right: 2px;
        box-shadow:  0 5px 20px -5px #555;
        left: 66px;
      }

      .RLspool, .RL-STD, .RL-DLX {
        width: 100%;
    }

}


