// =============================================================================
// PRODUCT VIEW (CSS)
// =============================================================================
// Product view layout
// -----------------------------------------------------------------------------
.productView {
    @include grid-row($behavior: "nest");
    margin-left: -(spacing("base"));
    margin-right: -(spacing("base"));

    .modal & {
        padding-bottom: 0;
        padding-top: 0;
    }
}

.productView--quickView {
    .socialLinks-item--print {
        display: none;
    }
}

.productView-images {
    @include grid-column(12);
    padding-left: spacing("base");
    padding-right: spacing("base");

    @include breakpoint("medium") {
        width: grid-calc(6, $total-columns);
    }
}

.productView-details {
    @include grid-column(12);
    padding-left: spacing("base");
    padding-right: spacing("base");

    @include breakpoint("medium") {
        clear: right;
        float: right;
        width: grid-calc(6, $total-columns);
    }
}

.productView-description {
    @include grid-column(12);
    padding-top: 40px;
    padding-left: spacing("base");
    padding-right: spacing("base");
}

//colors
$color_tundora_approx: #444444;
$color_gallery_approx: #eeeeee;
$color_storm_dust_approx: #666666;
$color_japanese_laurel_approx: green;
$color_carnation_approx: #ff5757;
$white: #ffffff;
$black_40: rgba(0, 0, 0, .4);
$color_sunset_orange_approx: #ec4848;

//fonts
$font_0: Open Sans;
$font_1: helvetica;
$font_2: arial;

.transformers-slider {
    overflow: hidden;

    h2 {
        color: $color_tundora_approx;
        font-size: 18px;
        font-weight: 500;
        text-transform: capitalize;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;

        @include breakpoint('medium') {
            flex-wrap: nowrap;
        }
    }

    li {
        position: relative;
        display: block;
        width: 50%;
        box-sizing: border-box;
        padding: 10px 20px;
        border: 1px solid $color_gallery_approx;
        border-right: none;
        text-align: center;
        list-style: none;

        &:last-child {
            border-right: 1px solid $color_gallery_approx;
        }
    }

    h3 {
        margin: 0;
        color: $color_storm_dust_approx;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.35;
    }
    img {
        display: block;
        width: 150px;
        padding: 10px;
        margin: auto;
    }
    em {
        display: block;
        color: $color_japanese_laurel_approx;
        font-size: 16px;
        line-height: 25px;
    }
}

.transformer-add-to-cart {
    display: block;
    max-height: 30px;
    margin-top: 11px;
    border-radius: 2px;
    background: $color_carnation_approx;
    color: $white;
    font-size: 11px;
    font-weight: 600;
    line-height: 30px;
    text-transform: uppercase;
    text-shadow: -1px 1px $black_40;
    text-decoration: none;

    &:hover {
        background: $color_sunset_orange_approx;
        color: $white;
    }
}