// =============================================================================
// TOGGLE LINK (CSS)
// =============================================================================


// Toggle link
// -----------------------------------------------------------------------------

$toggle-spacing: spacing("single") + spacing("half");

.toggle {
    margin: 60px 0;
    position: relative;

    &.productReviews {
        .button--primary {
            position: absolute;
            right: 0;
            top: 0;
        }
    }
}

.toggle-title {
    display: block;
    height: 50px;
    padding: 0 1px;
    margin: 0 0 40px;
    border: none;
    border-bottom: 2px solid;
    color: #232323;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 50px;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    transition: color 333ms;
}

.toggleLink {
    color: stencilColor("color-textSecondary");

    &:hover {
        color: stencilColor("color-textSecondary--hover");
    }

    .toggle-title & {
        float: right;
        line-height: 24px;
    }
}

.toggleLink-text {
    font-size: fontSize("smallest");
    font-weight: fontWeight("normal");
}

.toggleLink-text--off {
    display: inline-block;

    .toggleLink.is-open & {
        display: none;
    }
}

.toggleLink-text--on {
    display: none;

    .toggleLink.is-open & {
        display: inline-block;
    }
}

.toggle-content {
    display: none;

    &.is-open {
        display: block;
    }
}
