<div class="price-section price-section--withoutTax {{#if price.with_tax}}price-section--minor{{/if}}" {{#if schema_org}}itemprop="offers" itemscope itemtype="http://schema.org/Offer" {{/if}}>
  {{#if schema_org}}
    <meta itemprop="price" content="{{price.without_tax.value}}">
    <meta itemprop="priceCurrency" content="{{currency_selector.active_currency_code}}">
  {{/if}}

  {{#if price.rrp_without_tax}}
    <div data-product-rrp-without-tax class="price price--rrp">{{price.rrp_without_tax.formatted}}</div>
  {{/if}}

  {{#if page_type '===' 'product'}}
    {{#if price.saved}}
      {{#if customer.customer_group_name '==' 'Contractor'}}
        <div class="price price-section price--save">${{toFixed (subtract price.saved.value (multiply (divide price.without_tax.value 0.9) 0.1)) 2}} OFF</div>
        <div class="price price-section price--save">PRO DISCOUNT: ${{toFixed (multiply (divide price.without_tax.value 0.9) 0.1) 2}} OFF</div>
      {{else}}
        <div class="price price-section price--save">{{price.saved.formatted}} OFF</div>
      {{/if}}
    {{/if}}
  {{/if}}

  <div id="productSalePrice" data-product-price-without-tax class="price price--withoutTax">{{price.without_tax.formatted}}</div>
</div>
