<div class="productView ras">
  <h1 class="productView-title" {{#if schema}}itemprop="name"{{/if}}>{{product.title}}</h1>
  <div class="productView-product">
    <dl class="productView-info">
      <dt class="productView-info-name" data-product-brand-name>{{lang 'BRAND'}}</dt>
      <dd class="productView-info-value">{{product.brand.name}}</dd>
      <dt class="productView-info-name">Weight</dt>
      <dd class="productView-info-value" data-product-weight>{{product.weight}}</dd>
      <dt class="productView-info-name" data-product-sku>SKU</dt>
      <dd class="productView-info-value">{{product.sku}}</dd>
    </dl>
  </div>

  <section class="productView-images" data-image-gallery>
    <figure class="productView-image" data-image-gallery-main>
      <img class="productView-image--default" src="{{getImage product.main_image 'product_size' (cdn theme_settings.default_image_product)}}" alt="{{product.main_image.alt}}" title="{{product.main_image.alt}}" data-main-image>
    </figure>
  </section>

  <section class="productView-details">
    <div class="productView-options">

      <form class="form" method="post" action="{{product.cart_url}}" enctype="multipart/form-data" data-cart-item-add>
        <input type="hidden" name="action" value="add">
        <input type="hidden" name="product_id" value="{{product.id}}"/>


        {{#each product.custom_fields}}
        <input type="hidden" name="{{name}}" value="{{value}}"/>
        {{/each}}

        <div data-product-option-change style="display:none;">
          {{#each product.options}}
            {{{dynamicComponent 'components/products/options'}}}
          {{/each}}
        </div>

        <div class="productView-price">{{> components/products/price price=product.price schema_org=schema}}</div>
        <div class="form-action">
          <div class="form-field form-field--increments">
            <div class="form-increment" data-quantity-change>
              <button class="button button--icon" data-action="dec">
                <i class="icon" aria-hidden="true"><svg><use xlink:href="#icon-keyboard-arrow-down"/></svg></i>
              </button>
              <input class="form-input form-input--incrementTotal"
              id="qty[]"
              name="qty[]"
              type="tel"
              value="{{#if product.min_purchase_quantity}}{{product.min_purchase_quantity}}{{else}}1{{/if}}"
              data-quantity-min="{{product.min_purchase_quantity}}"
              data-quantity-max="{{product.max_purchase_quantity}}"
              min="1"
              pattern="[0-9]*"
              aria-live="polite">
              <button class="button button--icon" data-action="inc">
                <i class="icon" aria-hidden="true"><svg><use xlink:href="#icon-keyboard-arrow-up"/></svg></i>
              </button>
            </div>
          </div>

          <input id="form-action-addToCart" data-wait-message="{{lang 'products.adding_to_cart'}}" class="button button--primary" type="submit" value="{{#if product.pre_order}}{{lang 'products.pre_order'}}{{else}}{{lang 'products.add_to_cart'}}{{/if}}">
        </div>
        {{{snippet 'product_addtocart'}}}

    </form>
    </div>

    {{{snippet 'product_details'}}}
  </section>

<article class="productView-description"{{#if schema}} itemprop="description"{{/if}}>
  {{{product.description}}}
</article>

</div>

<div id="previewModal" class="modal" data-reveal>
  <a href="#" class="modal-close" aria-label="{{lang 'common.close'}}" role="button">
    <span aria-hidden="true">&#215;</span>
  </a>
  <div class="modal-content"></div>
  <div class="loadingOverlay"></div>
</div>
